{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}

<script type="text/javascript" src="{% static 'js/_backstrech.js' %}"></script>
<script type="text/javascript">

$.backstretch("http://res.cloudinary.com/dvbxfq8qm/image/upload/v1454453451/class-raising-hands_yli6ea.jpg");

</script>

<div class="data-block">
	<div>
		<h1>{% trans "Account Inactive" %}</h1>

		<p>{% trans "This account is inactive." %}</p>
		{% endblock %}
	</div>
</div>

