{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}

<div class="data-block">
    <h1>{% trans "Confirm E-mail Address" %}</h1>

    {% if confirmation %}

    {% user_display confirmation.email_address.user as user_display %}

    <p id="confirmar-mail">{% blocktrans with confirmation.email_address.email as email %}
        Por favor confirmá que <a href="mailto:{{email}}">{{ email }}</a> es tu dirección de email.
        Confirmando tu dirección de email aceptás nuestros <a href="/terminos_y_condiciones/">Términos y Condiciones</a>.
       {% endblocktrans %}</p>

    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
        <button type="submit">{% trans 'Confirm' %}</button>
    </form>

    {% else %}

    {% url 'account_email' as email_url %}

    <p>{% blocktrans %}Esta confirmación de email expiró o es inválida. Por favor <a href="{{ email_url }}">pedí un nuevo email de confirmación</a>.{% endblocktrans %}</p>

    {% endif %}
</div>

{% endblock %}
