{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Ingresar" %}{% endblock %}

{% block content %}

<script type="text/javascript" src="{% static 'js/_backstrech.js' %}"></script>
<script type="text/javascript">

$.backstretch("http://res.cloudinary.com/dvbxfq8qm/image/upload/v1454453451/class-raising-hands_yli6ea.jpg");

</script>

<div id="sign">
  <div class="sign-wrapper">
    <div id="sign-step-three">
      {% if socialaccount.providers  %}
      <p>{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
      for a {{site_name}} account and sign in below:{% endblocktrans %}</p>

      {% else %}
      <p class="title"><span>¿Ya tenés una cuenta?</span>Ingresá a Sintactic</p>
      {% endif %}

      <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <p>
              <label for="id_login">Correo electrónico:</label> <input autofocus="autofocus" id="id_login" name="login" type="email">
              {{ form.login.errors }}
          </p>
          <p>
              <label for="id_password">Contraseña:</label> <input id="id_password" name="password" type="password" style="margin-bottom: 5px;">
              {{ form.password.errors }}
          </p>
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}" style="margin-bottom:15px; float: left; width: 100%;">{% trans "¿Olvidaste tu contraseña?" %}</a>
          <p>
              <label for="id_remember">Recordarme:</label> <input id="id_remember" name="remember" type="checkbox">
          </p>
          {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
        <button class="primaryAction" type="submit">{% trans "Ingresar" %}</button>
      </form>
      <div class="sprite back-arrow step-three">
      </div>
    </div>
  </div>
</div>

{% endblock %}
