{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<script type="text/javascript" src="{% static 'js/_backstrech.js' %}"></script>
<script type="text/javascript">
    $.backstretch("http://res.cloudinary.com/dvbxfq8qm/image/upload/v1454453451/class-raising-hands_yli6ea.jpg");
</script>

{% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
{% endif %}

<div id="sign">
    <div class="sign-wrapper">
        <div id="sign-step-three">
            <p class="title">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="primaryAction" type="submit" value="{% trans "Reset My Password" %}" />
            </form>

            <p class="small-quote">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock %}
