{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static 'js/_backstrech.js' %}"></script>
<script type="text/javascript">

$.backstretch("http://res.cloudinary.com/dvbxfq8qm/image/upload/v1454453451/class-raising-hands_yli6ea.jpg");

</script>

<div class="data-block">
	<div>
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}
