{% extends "account/base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}


{% block content %}

    <script type="text/javascript" src="{% static 'js/_backstrech.js' %}"></script>
    <script type="text/javascript">
        $.backstretch("http://res.cloudinary.com/dvbxfq8qm/image/upload/v1454453451/class-raising-hands_yli6ea.jpg");
    </script>

    <div id="sign">
        <div class="sign-wrapper">
            <div id="sign-step-three">
                <h1>{% trans "Change Password" %}</h1>

                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="action">{% trans "Change Password" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
