{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<script type="text/javascript" src="{% static 'js/_backstrech.js' %}"></script>
<script type="text/javascript">

$.backstretch("http://res.cloudinary.com/dvbxfq8qm/image/upload/v1454453451/class-raising-hands_yli6ea.jpg");

</script>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
	<div id="sign-step-three">
		<p class="title"><span>Registrate</span>es simple y rápido</p>
	  {% csrf_token %}
	  <div>
		  <label for="id_first_name">Nombre:</label> {{ form.first_name }}
		  {{ form.first_name.errors }}
	  </div>
	  <div>
		  <label for="id_last_name">Apellido:</label> {{ form.last_name }}
		  {{ form.last_name.errors }}
	  </div>
	  <div>
		  <label for="id_email">Email:</label>
		  <input id="id_email" name="email" type="email">
		  {{ form.email.errors }}
	  </div>
	  <div>
		  <label for="id_password1">Contraseña:</label>
		  <input id="id_password1" name="password1" type="password">
		  {{ form.password1.errors }}
	  </div>
	  <div>
		  <label for="id_password2">Confirmá la contraseña:</label>
		  <input id="id_password2" name="password2" type="password">
		  {{ form.password2.errors }}
	  </div>
	  <div>
		  <p class="signup-terms">Al registrarte estás aceptando nuestros <a href="{% url 'terminos_y_condiciones' %}">Términos y Condiciones</a>.</p>
	  </div>
	  {% if redirect_field_value %}
	  	<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	  {% endif %}
	  <button class="primaryAction" type="submit">{% trans "Registrate" %}</button>
	</div>
</form>


{% endblock %}
