{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static 'js/_backstrech.js' %}"></script>
<script type="text/javascript">

$.backstretch("http://res.cloudinary.com/dvbxfq8qm/image/upload/v1454453451/class-raising-hands_yli6ea.jpg");

</script>

<div class="data-block">
	<div>
    <h1>{% trans "Verify Your E-mail Address" %}</h1>

    <p style="font-size: 14px;">{% blocktrans %}Te hemos enviado un email de confirmación.<br/> Hacé click en el link provisto en el email para completar el proceso de registro en la plataforma. Si no recibiste el email en unos minutos contactate con nosotros.{% endblocktrans %}</p>
    </div>
</div>

{% endblock %}
