.wrapper-centered{
	width: 820px;
	margin:50px auto;
	display:table;
	#group-box{
		background-color: white;
		border:1px solid $grey-light;
		@include border-radius(5px);
		padding:20px;
		@include box-sizing(border-box);
		.title{
			color:$blue-normal;
			font-size:1.5em;
			margin-bottom:20px;
			font-family: 'Open Sans', sans-serif;
			span{
				font-size:0.8em;
				color:$grey-dark;
			}
			.subtitle{
				font-size:0.7em;
				color:#B3B2B2;
				.folder-in{
					text-transform: uppercase;
					float:right;
					font-size:0.8em;
					.folder{
						margin-left:4px;
						width:20px;
						height:21px;
					    display: inline-block;
					    vertical-align: middle;
					}
				}
			}
		}
		.group-item{
			>li{
				padding:4px 0 8px 0;
				border-bottom:1px solid $grey-light;
				&:last-child{
					border-bottom:none;
				}
				ul{
					&:hover{
						li.number{
							background-color:#5A676F;
						}
						li.curso{
							color:#5A676F;
						}
						li.turno{
							color:$grey-dark;
						}
					}
					
				}
				ul li{
					@include transition-property(all);
					@include transition-duration(0.2s);
					@include transition-timing-function(ease-in);
					display: inline-block;
					vertical-align: middle;
					&.number{
						background-color:$grey-dark;
						@include border-radius(15px);
						text-align: center;
						color:white;
						width:25px;
						height:25px;
						font-size:0.9em;
						margin-right:8px;
					    line-height: 24px;
					    margin-top: 3px;
					}
					&.turno{
						float:right;
						color:#B9B9B9;
						font-size:0.8em;
						font-family: 'Open Sans', sans-serif;
					    line-height: 30px;
					}
					&.curso{
						color:$grey-dark;
						font-size:1.1em;
					}
					&.status{
						float:right;
						width:20px;
						height:20px;
					    margin-top:7px;
						&.correct{
							@include background-position(-288px,-157px);
						}
						&.pending{
							@include background-position(-315px,-157px);
						}
						&.wrong{
							@include background-position(-341px,-157px);
						}
					}
					&.ver-alumnos{
						float:right;
					}
					&.edit, &.copy, &.erase, &.see-it{
						float:right;
						width:20px;
						height:20px;
					    margin-top: 7px;
					    margin-left:10px;
					}
					&.edit{
						@include background-position(-87px,-122px);
					}
					&.copy{
						@include background-position(-138px,-122px);
					}
					&.erase{
						@include background-position(-68px,-122px);
					}
					&.see-it{
						width:23px;
						@include background-position(-366px,-157px);

						&.disabled{
                            @include background-position(-367px,-181px);
                        }
					}
					&.turno-center{
						text-align: center;
						color:#B9B9B9;
						font-size:0.8em;
						font-family: 'Open Sans', sans-serif;
				    	line-height: 30px;
				    	width:200px;
				    	float:right;
					}
					&.ver-alumnos{
						color:$blue-normal;
						font-size:0.8em;
						font-family: 'Open Sans', sans-serif;
				    	line-height: 30px;
					}
				}
			}
		}
	}
	#boton-unirme-grupo, #boton-volver-materias, #boton-atras, #boton-nuevo-curso, #boton-unirme-materia{
		margin-top:15px;
		background:$grey-dark;
		&:hover{
			background:#64727B;
		}
	}
	#boton-unirme-materia, #boton-nuevo-curso{
		background:$blue-normal;
		&:hover{
			color:white;
			background:#2769DE;
		}
	}
}

.modal.folder{
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 1010;
	display: none;
	top:0;
    outline: none;
	.modal-dialog{
		width:100%;
		height:100%;
		background-color: rgba(255, 255, 255, 0.9);
	}
	.modal-content{
	    width: 400px;
	    height: 290px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-top: -130px;
	    margin-left: -220px;
	    padding:20px;
        text-align: center;
        border-style: solid;
		border-radius: 10px;
		border-color: #4687fb;
		border-width: 2px;
        .modal-header{
	        width: 100%;
    		float: left;
    		padding-top: 0px;
		    button{
				position: absolute;
				right: -30px;
				top: -30px;
				background-color:transparent;
				background-image:url('http://res.cloudinary.com/drizjv6vl/image/upload/v1453147029/system/close-icon.png');
				background-repeat:no-repeat;
				background-position:center center;
				color:transparent;
		    }
		    .close-modal{
		    	width:20px;
		    	height:20px;
		    	float:right;
		    	cursor:pointer;
		    }
        }
        .title{
			color:$blue-normal;
			font-size:1.5em;
			margin-bottom:20px;
			font-family: 'Open Sans', sans-serif;
			.subtitle{
				color:$grey-dark;
				font-size:0.6em;
				font-family: 'Open Sans', sans-serif;
			    margin-top: 0px;
    			display: table;
    			text-align: center;
    			width: 100%;
			}
		}
		input[type=text]{
		    text-align: center;
		    margin: 20px 0 0 0;
		    padding: 0 0 2px 0;
		    width: 70%;
		}
		button{
			padding:10px 50px 11px 50px;
		}
		.error-space{
		    padding: 12px 0 17px 0;
    		font-size: 1.0em;
    		height: 30px;
    		&.error-visible{
    			font-family: 'Open Sans', sans-serif;
    			font-size:0.9em;
    			color:$red-back;
    		}
		}
        .modal-body{
    	    margin: 7px 0 10px 0;
    	    color: #777777;
    		font-weight: 400;
        }
        .modal-footer{
        	button{
        		margin:10px 5px;
        	}
        }
	}
}

#curso-donde-copiar {
    border: 2px solid $grey-light;
    border-radius: 7px;
}