.myprofile, .myhouses-content{
	.subsection-title{
		color:$grey-dark;
		border-bottom:1px solid $grey-dark;
		width: auto;
	    display: initial;
	}
	.wrapper-centered{
	    width: 100%;
	    #group-box{
			padding:0;
			border:0;
		}
	}
}
.myprofile{
	.section-title{
		font-size:2em;
		text-align: center;
		color:$blue-dark;
		padding-top:50px;
		padding-bottom:30px;
	}
	.left-wrapper{
		float:left;
		width:220px;
		span{
			.btn{
			    width: 100%;
			    height: 40px !important;
			    display: table;
			    margin: 0 auto;
			    font-size: 13.6px;
			    line-height: 40px;
			    margin-top:70px!important;
			}
		}
		.not-expired{
			float: left;
			width: 175px;
			height: 35px;
			margin-top: 20px;
			text-align: center;
			line-height:34px;
			color: white;
		    font-size: 0.9em;
			font-weight: 500;
			background-color:black;
			@include border-radius(5px);
		    margin-left: 3px;
		}
	    .expired{
	    	float: left;
			width: 175px;
			height: 35px;
			margin-top: 20px;
			text-align: center;
			line-height:34px;
		    font-size: 0.7em;
			font-weight: 500;
			background-color:black;
			@include border-radius(5px);
			color:red;
		    margin-left: 3px;
	    }
		span{
			float: left;
			width: 175px;
			color: black;
			font-size: 0.9em;
			margin-top: 0px;
			text-align: center;
			padding-top:7px;
		}
		.btn{
		    font-size: 1.1em;
			padding: 0;
			margin-top:10px;
		}
	}
}


.image-content{
	float:left;
	width:180px;
	margin-right:40px;
	overflow:hidden;
	position:relative;
	.add-image{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		input{
			width:100%;
		}
	}
	p{
		overflow: hidden;
		@include border-radius(200px);
		width:180px;
		height:180px;
		img{
			max-width:100%;
			max-height:100%;
		}
	}
}

label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

/***** Example custom styling *****/
.myLabel {
	font-size: 0.85em;
	color: #777777;
	text-align: center;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: transparent;
}
.myLabel label:hover {
    color: black;
}


.data-content{
	float:left;
    width: 466px;
    margin-right: 20px;
    #submit{
    	float: left;
    }
    .my-data{
    	padding-bottom:20px;
	    .user-mail{
			span{
				float: left;
			    color: #B9B9B9;
			    font-size: 0.8em;
			    font-family: 'Open Sans', sans-serif;
			    line-height: 30px;
			    &.mail{
			    	color: $blue-normal;
			    	font-weight: 600;
			    	width:initial;
			    	font-size: 1.2em;
			    }
			}
			.user-icon{
				width:50px;
				height:50px;
				float:right;
				@include border-radius(50px);
				border:1px solid $grey-light;
				margin-top:5px;
			}
	    }
	    .points{
	    	color:white;
	    	width:50px;
	    	height:50px;
	    	float:right;
	    	background-color: aqua;
	    	@include border-radius(50px);
	    	text-align:center;
	        font-size: 1em;
    		line-height: 38px;
	    	span{
	    		font-size: 0.7em;
    			width: 100%;
    			float: left;
			    margin-top: -6px;
			    line-height: 3px;
	    	}
	    }
    }
    div{
    	float:left;
    	width:100%;
    	&.grey{
    		width: 120px;
    		float: left;
    		margin-left:5px;
    	}
    	&.btn{
    		float:right;
		    width: 140px;
    	}
    }
    .half-width{
		width:48%;
		float:left;
		&.right{
			float:right;
		}
    }
    .picture-upload-message {
		color: #777777;
		margin-top: 30px;
		font-size: 0.9em;
		text-align: center;
	}
}

.myhouses-content{
	float:left;
	width:245px;
	.listing-item{
		padding-bottom:20px;
		overflow: hidden;
		.item{
			float:left;
			width:100%;
			margin-bottom:15px;
			&:hover{
				.data{
				.location{
						color:black;
					}
				}
			}
			.image{
				width:73px;
				height:73px;
				display: inline-block;
				@include border-radius(4px);
				overflow: hidden;
				img{
					height: 100%;
				}
			}
			.data{
				display: inline-block;
				padding-left:10px;
				vertical-align: top;
				width: 156px;
				.location{
					@include transition-property(all);
					@include transition-duration(0.2s);
					@include transition-timing-function(ease-in);
					font-size:0.85em;
					color:aqua;
					padding-bottom:3px;
				}
				.address{
					font-size:0.65em;
					font-style:italic;
					color:aqua;
				}
			}
		}
	}
}


@media screen and (max-width: 1060px) {
	.wrapper.myprofile{
		width:618px;
		.data-content{
			margin: 0;
			.btn{
			    height: 40px!important;
			}
			a .btn{
				height: 26px !important;
    			line-height: 27px;
			}
		}
		.myhouses-content{
		    width: 100%;
    		margin-top: 50px;
			.listing-item .item{
			    display: inline-block;
    			width: 308px;
			}
		}
	}
}


@media screen and (max-width: 650px) {
	.wrapper.myprofile{
		width:90%;
		.left-wrapper{
		    float: none;
    		display: table;
    		margin: 0 auto;
    		width:180px;
    		.expired{
    			margin-left:0;
    			width:100%;
    		}
    		span{
				.btn{
				    margin-top:20px!important;
				}
			}
    		.image-content{
    			margin-right:0;
    		}
		}
		.data-content{
		    margin: 50px auto 0 auto;
			display: table;
			float: none;
			width:100%;
			max-width:400px;
			.subsection-title{
				text-align: center;
			}
			input{
			    height: 40px!important;
		        box-sizing: border-box;
    			width: 100%;
			}
			.btn{
				width:200px;
				height: 40px!important;
				display: table;
				margin: 0 auto;
			}
			a .btn{
				width:166px;
			    float: none;
    			margin-top: 25px;
			}
		}
		.myhouses-content{
			.subsection-title{
				text-align: center;
			}
			.view-all{
			    display: none;
			}
			.listing-item{
			    width: 300px;
    			margin: 0 auto;
			}
		}
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.data-content div.btn{
		padding: 5px 25px 2px 25px;
		line-height: 22px;
	}
	.myprofile .left-wrapper .not-expired{
		line-height:39px!important;
	}
	form .data-content input[type=submit].blue, .booking-cancel .btn.s-blue{
		line-height:23px;
		padding-bottom:2px;
	}
	.confirmation-info .btn.aqua{
		line-height:25px;
		padding-bottom:4px;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.make-a-book{
		line-height:23px;
		padding-bottom:3px;
	}
}
