/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* global */
/* line 2, ../scss/base/_resets.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 4, ../scss/base/_resets.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Overlock', sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* tags */
/* line 31, ../scss/base/_resets.scss */
label, select, a {
  cursor: pointer;
}

/* custom */
/* line 35, ../scss/base/_resets.scss */
.clear {
  clear: both;
}

/* line 36, ../scss/base/_resets.scss */
.input {
  border: 1px solid #ccc;
  padding: 2px;
}

/* line 37, ../scss/base/_resets.scss */
.page-break, .print-only {
  display: none;
}

/* line 38, ../scss/base/_resets.scss */
.point {
  cursor: pointer;
}

/* links */
/* line 41, ../scss/base/_resets.scss */
a {
  color: inherit;
}

/* line 42, ../scss/base/_resets.scss */
a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

/* line 43, ../scss/base/_resets.scss */
a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

/* line 44, ../scss/base/_resets.scss */
a img {
  border: 0;
}

/* line 47, ../scss/base/_resets.scss */
textarea:focus, input:focus, button:focus {
  outline: 0;
}

/* line 1, ../scss/base/_base.scss */
html, body {
  height: 100%;
}

/* line 3, ../scss/base/_base.scss */
body {
  position: relative;
}

/* line 7, ../scss/base/_base.scss */
.left {
  float: left;
}
/* line 9, ../scss/base/_base.scss */
.left li {
  display: inline-block;
}

/* line 13, ../scss/base/_base.scss */
.right {
  float: right;
}
/* line 15, ../scss/base/_base.scss */
.right li {
  display: inline-block;
}

/* line 20, ../scss/base/_base.scss */
.wrapper {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 26, ../scss/base/_base.scss */
main {
  min-height: -webkit-calc(100vh - 66px);
  min-height: -moz-calc(100vh - 66px);
  min-height: calc(100vh - 66px);
  overflow: hidden;
}
/* line 31, ../scss/base/_base.scss */
main.load-exercise {
  min-height: initial;
}

/* line 40, ../scss/base/_base.scss */
h2 {
  color: #354a58;
}

/* line 44, ../scss/base/_base.scss */
h3 {
  color: #778690;
  text-transform: uppercase;
}

/* line 50, ../scss/base/_base.scss */
input[type=text], input[type=email], input[type=password], input[type=time], input[type=number], input[type=date], textarea {
  width: 100%;
  border: 1px solid #c9c9c9;
  height: 36px;
  font-weight: 400;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin-bottom: 20px;
  background: transparent;
  padding-left: 15px;
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 65, ../scss/base/_base.scss */
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=time]:focus, input[type=number]:focus, input[type=date]:focus, textarea:focus {
  border: 1px solid #778690;
}

/* line 70, ../scss/base/_base.scss */
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  background: white;
}

/* line 61, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type=text]:-moz-placeholder {
  font-weight: 400;
}
/* line 64, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type=text]::-moz-placeholder {
  font-weight: 400;
}
/* line 67, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type=text]:-ms-input-placeholder {
  font-weight: 400;
}
/* line 56, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type=text]::-webkit-input-placeholder {
  font-weight: 400;
}

/* line 80, ../scss/base/_base.scss */
label {
  color: #778690;
  font-size: 1em;
  font-weight: 400;
  padding-bottom: 4px;
  overflow: hidden;
  display: block;
  padding-bottom: 3px;
}
/* line 88, ../scss/base/_base.scss */
label[for=id_remember] {
  display: inline-block;
}

/* line 93, ../scss/base/_base.scss */
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: white;
  width: 100%;
  font-size: 0.8em;
  padding-left: 10px;
  height: 32px;
  outline: none;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: transparent;
}

/* line 107, ../scss/base/_base.scss */
.select-arrow {
  margin-bottom: 20px;
  width: 10px;
  height: 10px;
  width: 100%;
  height: 36px;
  border: 1px solid #c9c9c9;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: 97%;
  background-image: url("http://res.cloudinary.com/hgxyf4ogf/image/upload/v1451844611/select-arrow_aqjkqc.png");
}

/* line 120, ../scss/base/_base.scss */
.soy-alumno, .soy-profesor, button {
  font-size: 15px;
}

/* line 124, ../scss/base/_base.scss */
.modal-dialog.modal-lg {
  padding: 0;
}

/* line 128, ../scss/base/_base.scss */
.modal-backdrop {
  z-index: 0;
}

/* line 132, ../scss/base/_base.scss */
.modal-dialog.modal-lg {
  margin: auto;
}

/* line 136, ../scss/base/_base.scss */
.confirmation-modal .modal-content {
  top: 40% !important;
}

/* line 140, ../scss/base/_base.scss */
.estudiantes-columna-borrar {
  width: 132px;
  color: #4687fb;
}

/* line 145, ../scss/base/_base.scss */
.estudiantes-columna-borrar-text {
  vertical-align: middle;
}

/* line 149, ../scss/base/_base.scss */
.add-consigna {
  padding: 4px 15px 7px 13px;
  font-size: 0.8em;
  float: left;
}

/* line 155, ../scss/base/_base.scss */
#tabla-consignas-ejercicio {
  float: left;
}

/* line 159, ../scss/base/_base.scss */
.tabla-consignas-ejercicio-header {
  color: #4687fb;
}

/* line 163, ../scss/base/_base.scss */
#boton-guardar-consigna {
  float: right;
  margin-right: 280px;
  margin-bottom: 20px;
}

/* line 169, ../scss/base/_base.scss */
.consigna-wrapper {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 25px;
}

/* line 175, ../scss/base/_base.scss */
#boton-cancelar-consigna {
  margin-right: 10px;
  float: right;
}

/* line 180, ../scss/base/_base.scss */
#div-tipo-actividad {
  width: 250px;
}

/* line 184, ../scss/base/_base.scss */
#consigna-1 {
  padding-top: 6px;
  height: 100px;
  resize: none;
}

/* line 190, ../scss/base/_base.scss */
#alert-space {
  float: left;
  margin-top: 120px;
}

/* line 195, ../scss/base/_base.scss */
.terms-and-conditions > p {
  padding-bottom: 15px;
}

/* line 199, ../scss/base/_base.scss */
#confirmar-mail {
  font-size: 0.9em;
  padding-bottom: 20px;
}

/* line 204, ../scss/base/_base.scss */
.modal-dialog {
  margin: 0px auto;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?rn9oo6");
  src: url("../fonts/icomoon.eot?rn9oo6#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?rn9oo6") format("truetype"), url("../fonts/icomoon.woff?rn9oo6") format("woff"), url("../fonts/icomoon.svg?rn9oo6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../scss/base/_typography.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../scss/base/_typography.scss */
.icon-bracket-left:before {
  content: "\e901";
}

/* line 31, ../scss/base/_typography.scss */
.icon-bracket-right:before {
  content: "\e902";
}

/* line 35, ../scss/base/_typography.scss */
.icon-bin:before {
  content: "\e900";
  display: none;
  width: 33px;
  height: 20px;
  padding-top: 15px;
  position: absolute;
  left: 50%;
  margin-left: -16px;
  font-size: 0.75em;
  color: #778690;
  z-index: 1;
  cursor: pointer;
}

/* line 1, ../scss/base/_buttons.scss */
button, .btn-button {
  padding: 10px 30px 11px 30px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background: #4687fb;
  color: white;
  border: none;
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  cursor: pointer;
}
/* line 14, ../scss/base/_buttons.scss */
button:hover, .btn-button:hover {
  color: white;
  background: #2769DE;
}
/* line 18, ../scss/base/_buttons.scss */
button#boton-omitir, button.agregar-oracion, button.grey, .btn-button#boton-omitir, .btn-button.agregar-oracion, .btn-button.grey {
  background: #778690;
}
/* line 20, ../scss/base/_buttons.scss */
button#boton-omitir:hover, button.agregar-oracion:hover, button.grey:hover, .btn-button#boton-omitir:hover, .btn-button.agregar-oracion:hover, .btn-button.grey:hover {
  background: #627079;
}
/* line 24, ../scss/base/_buttons.scss */
button.password, .btn-button.password {
  text-align: center;
  width: 202px !important;
  float: right;
}

/* line 31, ../scss/base/_buttons.scss */
.btn-wrapper {
  float: right;
  padding-right: 50px;
  position: relative;
  z-index: 20;
  width: 100%;
}
/* line 37, ../scss/base/_buttons.scss */
.btn-wrapper button {
  float: right;
}

/* line 3, ../scss/base/_sprite.scss */
.sintactic-logo {
  /* FireFox */
  background-position: -11px -12px;
  /* Others */
  background-position-x: -11px;
  background-position-y: -12px;
}

/* line 10, ../scss/base/_sprite.scss */
.uba-logo {
  /* FireFox */
  background-position: -70px -49px;
  /* Others */
  background-position-x: -70px;
  background-position-y: -49px;
}

/* line 14, ../scss/base/_sprite.scss */
.cnba-logo {
  /* FireFox */
  background-position: -133px -50px;
  /* Others */
  background-position-x: -133px;
  background-position-y: -50px;
}

/* line 20, ../scss/base/_sprite.scss */
.folder {
  /* FireFox */
  background-position: -12px -104px;
  /* Others */
  background-position-x: -12px;
  background-position-y: -104px;
}

/* line 24, ../scss/base/_sprite.scss */
.plus-icon {
  /* FireFox */
  background-position: -44px -84px;
  /* Others */
  background-position-x: -44px;
  background-position-y: -84px;
}

/* line 28, ../scss/base/_sprite.scss */
.minus-icon {
  /* FireFox */
  background-position: -14px -84px;
  /* Others */
  background-position-x: -14px;
  background-position-y: -84px;
}

/* line 32, ../scss/base/_sprite.scss */
.close-modal {
  /* FireFox */
  background-position: -68px -122px;
  /* Others */
  background-position-x: -68px;
  background-position-y: -122px;
}

/* line 36, ../scss/base/_sprite.scss */
.edit-sentence {
  /* FireFox */
  background-position: -87px -122px;
  /* Others */
  background-position-x: -87px;
  background-position-y: -122px;
}

/* line 40, ../scss/base/_sprite.scss */
.erase-sentence, .cancel-sentence, .erase-andamiaje {
  /* FireFox */
  background-position: -68px -122px;
  /* Others */
  background-position-x: -68px;
  background-position-y: -122px;
}

/* line 44, ../scss/base/_sprite.scss */
.add-sentence, .add-andamiaje {
  /* FireFox */
  background-position: -42px -83px;
  /* Others */
  background-position-x: -42px;
  background-position-y: -83px;
}

/* line 48, ../scss/base/_sprite.scss */
.save-sentence {
  /* FireFox */
  background-position: -109px -122px;
  /* Others */
  background-position-x: -109px;
  background-position-y: -122px;
}

/* line 52, ../scss/base/_sprite.scss */
.student {
  /* FireFox */
  background-position: -587px -55px;
  /* Others */
  background-position-x: -587px;
  background-position-y: -55px;
}

/* line 56, ../scss/base/_sprite.scss */
.professor {
  /* FireFox */
  background-position: -937px -55px;
  /* Others */
  background-position-x: -937px;
  background-position-y: -55px;
}

/* line 61, ../scss/base/_sprite.scss */
.user-arrow {
  /* FireFox */
  background-position: -17px -126px;
  /* Others */
  background-position-x: -17px;
  background-position-y: -126px;
}
/* line 63, ../scss/base/_sprite.scss */
.user-arrow.down {
  /* FireFox */
  background-position: -17px -142px;
  /* Others */
  background-position-x: -17px;
  background-position-y: -142px;
}

/* line 69, ../scss/base/_sprite.scss */
.user-icon.professor {
  /* FireFox */
  background-position: -175px -142px;
  /* Others */
  background-position-x: -175px;
  background-position-y: -142px;
}
/* line 72, ../scss/base/_sprite.scss */
.user-icon.student {
  /* FireFox */
  background-position: -230px -141px;
  /* Others */
  background-position-x: -230px;
  background-position-y: -141px;
}

/* line 1, ../scss/shared/_header.scss */
#header {
  background-color: #4687fb;
  width: 100%;
  padding: 2px 20px;
  overflow: visible;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 66px;
}
/* line 8, ../scss/shared/_header.scss */
#header .sintactic-logo {
  width: 109px;
  height: 36px;
  float: left;
  cursor: pointer;
}
/* line 14, ../scss/shared/_header.scss */
#header .left {
  padding-top: 12px;
}
/* line 16, ../scss/shared/_header.scss */
#header .left .right-menu {
  float: left;
  color: white;
  margin-top: 8px;
  margin-left: 30px;
}
/* line 23, ../scss/shared/_header.scss */
#header .right {
  position: relative;
}
/* line 25, ../scss/shared/_header.scss */
#header .right ul {
  padding-top: 7px;
}
/* line 27, ../scss/shared/_header.scss */
#header .right ul li {
  padding-left: 15px;
}
/* line 29, ../scss/shared/_header.scss */
#header .right ul li a {
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  color: #ededed;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
}
/* line 33, ../scss/shared/_header.scss */
#header .right ul li a:hover {
  color: white;
}
/* line 41, ../scss/shared/_header.scss */
#header .right ul.user-menu {
  cursor: pointer;
  color: white;
  overflow: auto;
}
/* line 45, ../scss/shared/_header.scss */
#header .right ul.user-menu li {
  float: right;
}
/* line 47, ../scss/shared/_header.scss */
#header .right ul.user-menu li .user-arrow {
  width: 10px;
  height: 10px;
  margin-top: 17px;
}
/* line 53, ../scss/shared/_header.scss */
#header .right ul.user-menu li.text {
  padding-top: 12px;
}
/* line 56, ../scss/shared/_header.scss */
#header .right ul.user-menu li.img {
  overflow: hidden;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: #ededed;
  width: 50px;
  height: 50px;
  padding: 0;
  margin-left: 10px;
}
/* line 64, ../scss/shared/_header.scss */
#header .right ul.user-menu li.img img {
  float: left;
  font-size: 0.6em;
}
/* line 70, ../scss/shared/_header.scss */
#header .right ul.user-dropdown {
  position: absolute;
  bottom: -140px;
  right: 0px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  display: none;
  background-color: #25373f;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 110px;
  text-align: center;
  padding-top: 0;
  z-index: 100;
}
/* line 82, ../scss/shared/_header.scss */
#header .right ul.user-dropdown li {
  font-size: 0.9em;
  font-weight: 600;
  padding-left: 0;
  width: 100%;
  margin: 0;
  float: left;
  text-align: center;
  color: white;
  height: 40px;
  line-height: 40px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 96, ../scss/shared/_header.scss */
#header .right ul.user-dropdown li:hover {
  background-color: #162931;
}

/* line 1, ../scss/shared/_footer.scss */
#footer {
  background-color: #4687fb;
  width: 100%;
  padding: 6px 20px;
  overflow: hidden;
  position: relative;
  z-index: -1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ededed;
}
/* line 10, ../scss/shared/_footer.scss */
#footer .uba-logo, #footer .cnba-logo {
  width: 59px;
  height: 55px;
  float: left;
}
/* line 16, ../scss/shared/_footer.scss */
#footer .right ul {
  padding-top: 17px;
}
/* line 18, ../scss/shared/_footer.scss */
#footer .right ul li {
  padding-left: 15px;
}
/* line 20, ../scss/shared/_footer.scss */
#footer .right ul li a {
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  color: #ededed;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
}
/* line 24, ../scss/shared/_footer.scss */
#footer .right ul li a:hover {
  color: white;
}

/* line 1, ../scss/exercise/_toolbar.scss */
#toolbar {
  background-color: #354a58;
  height: 100vh;
  color: #ededed;
  font-size: 0.75em;
  width: 240px;
  max-width: 350px;
  float: right;
  box-sizing: border-box;
  overflow-y: scroll;
  position: relative;
  right: 0;
  top: 0;
  z-index: 5;
}
/* line 16, ../scss/exercise/_toolbar.scss */
#toolbar ul li {
  border-top: 1px solid rgba(179, 213, 239, 0.2);
  border-bottom: 1px solid #25373f;
  float: left;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ededed;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  cursor: pointer;
}
/* line 27, ../scss/exercise/_toolbar.scss */
#toolbar ul li:hover {
  color: white;
}
/* line 32, ../scss/exercise/_toolbar.scss */
#toolbar h1 {
  font-size: 1.5em;
  padding: 30px 20px 50px 20px;
  border-bottom: 2px solid #25373f;
}
/* line 37, ../scss/exercise/_toolbar.scss */
#toolbar .empty-space {
  width: 100%;
  height: 30px;
  border-top: 1px solid rgba(179, 213, 239, 0.2);
}

/* -------------------------------- 

Main Components 

-------------------------------- */
/* line 49, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu {
  width: 100%;
  max-width: 600px;
  letter-spacing: 1px;
}

/* line 55, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu a.selected {
  color: #fca342;
}

/* line 59, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
}

/* line 63, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 69, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}

/* line 74, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu label, .cd-accordion-menu a {
  position: relative;
  display: block;
  color: #ffffff;
  padding: 10px 15px;
  text-transform: uppercase;
}

/* line 81, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu label::before {
  /* icons */
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 95, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu label {
  cursor: pointer;
  padding: 10px 15px;
  text-transform: uppercase;
}

/* line 101, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu > .has-children label:hover {
  background-color: #3C5261;
}

/* line 105, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu > li > a:hover {
  background-color: #3C5261;
}

/* line 109, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu label::before {
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
}

/* line 113, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu label::before {
  /* arrow icon */
  background-position: 2px 1px;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}

/* line 122, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu label::after {
  /* folder icons */
  left: 41px;
  background-position: -16px 0;
}

/* line 127, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu a::after {
  /* image icon */
  left: 36px;
  background: url(../img/arrow.png) no-repeat -48px 0;
}

/* line 132, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu input[type=checkbox]:checked + label::before {
  /* rotate arrow */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 140, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu input[type=checkbox]:checked + label::after {
  /* show open folder icon if item is checked */
  background-position: -32px 0;
}

/* line 144, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}

/* line 150, ../scss/exercise/_toolbar.scss */
#toolbar .cd-accordion-menu .has-children ul li {
  background-color: #25373f;
  border: none;
}

/* line 155, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu ul label,
.cd-accordion-menu ul a {
  padding-left: 82px;
}

/* line 159, ../scss/exercise/_toolbar.scss */
.no-touch .cd-accordion-menu ul label:hover, .no-touch
.cd-accordion-menu ul a:hover {
  background: #2B3E46;
}

/* line 163, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu > li:last-of-type > label,
.cd-accordion-menu > li:last-of-type > a,
.cd-accordion-menu > li > ul > li:last-of-type label,
.cd-accordion-menu > li > ul > li:last-of-type a {
  box-shadow: none;
}

/* line 169, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu ul label::after,
.cd-accordion-menu ul a::after {
  left: 59px;
}

/* line 173, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu ul ul label,
.cd-accordion-menu ul ul a {
  padding-left: 100px;
}

/* line 177, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu ul ul label::after,
.cd-accordion-menu ul ul a::after {
  left: 77px;
}

/* line 181, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu ul ul ul label,
.cd-accordion-menu ul ul ul a {
  padding-left: 118px;
}

/* line 185, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu ul ul ul label::before {
  right: 15px;
}

/* line 188, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu ul ul ul label::after,
.cd-accordion-menu ul ul ul a::after {
  left: 95px;
}

@media only screen and (min-width: 600px) {
  /* line 193, ../scss/exercise/_toolbar.scss */
  .cd-accordion-menu label::before {
    right: 15px;
  }

  /* line 196, ../scss/exercise/_toolbar.scss */
  .cd-accordion-menu label::after {
    left: 53px;
  }

  /* line 199, ../scss/exercise/_toolbar.scss */
  .cd-accordion-menu ul label,
  .cd-accordion-menu ul a {
    padding: 10px 0 10px 30px;
    text-transform: initial;
  }

  /* line 204, ../scss/exercise/_toolbar.scss */
  .cd-accordion-menu ul label::after,
  .cd-accordion-menu ul a::after {
    left: 77px;
  }

  /* line 208, ../scss/exercise/_toolbar.scss */
  .cd-accordion-menu ul ul label,
  .cd-accordion-menu ul ul a {
    padding: 10px 15px 10px 45px;
  }

  /* line 212, ../scss/exercise/_toolbar.scss */
  .cd-accordion-menu ul ul label::after,
  .cd-accordion-menu ul ul a::after {
    left: 101px;
  }

  /* line 216, ../scss/exercise/_toolbar.scss */
  .cd-accordion-menu ul ul ul label,
  .cd-accordion-menu ul ul ul a {
    padding-left: 60px;
  }

  /* line 220, ../scss/exercise/_toolbar.scss */
  .cd-accordion-menu ul ul ul ul a {
    padding-left: 75px;
  }

  /* line 223, ../scss/exercise/_toolbar.scss */
  .cd-accordion-menu ul ul ul label::after,
  .cd-accordion-menu ul ul ul a::after {
    left: 125px;
  }
}
/* line 228, ../scss/exercise/_toolbar.scss */
.cd-accordion-menu.animated label::before {
  /* this class is used if you're using jquery to animate the accordion */
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

/* line 1, ../scss/exercise/_header.scss */
.exercise-subtitle {
  padding: 25px 0 50px 20px;
  float: left;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 6, ../scss/exercise/_header.scss */
.exercise-subtitle h2, .exercise-subtitle h1 {
  font-family: 'Open Sans', sans-serif;
}
/* line 9, ../scss/exercise/_header.scss */
.exercise-subtitle h2 {
  color: #778690;
}
/* line 12, ../scss/exercise/_header.scss */
.exercise-subtitle h1 {
  color: #4687fb;
  font-size: 1.2em;
  padding-top: 5px;
}

/* line 19, ../scss/exercise/_header.scss */
#exercise-header {
  float: left;
  width: 100%;
  background-color: #ededed;
  padding: 10px 20px;
  margin-top: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 26, ../scss/exercise/_header.scss */
#exercise-header.load {
  line-height: 33px;
  padding-bottom: 10px;
}
/* line 29, ../scss/exercise/_header.scss */
#exercise-header.load .steps {
  padding-top: 0;
}
/* line 33, ../scss/exercise/_header.scss */
#exercise-header .title {
  float: left;
}
/* line 35, ../scss/exercise/_header.scss */
#exercise-header .title h3 {
  display: inline-block;
  padding-right: 7px;
  font-size: 0.85em;
}
/* line 40, ../scss/exercise/_header.scss */
#exercise-header .title h2 {
  font-size: 1.1em;
}
/* line 43, ../scss/exercise/_header.scss */
#exercise-header .title .folder {
  width: 20px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
}
/* line 50, ../scss/exercise/_header.scss */
#exercise-header .steps {
  float: right;
  padding-top: 7px;
  padding-right: 250px;
}
/* line 54, ../scss/exercise/_header.scss */
#exercise-header .steps .line-space {
  height: 2px;
  width: 50px;
  margin: 0 1px;
  vertical-align: middle;
  margin-top: -4px;
}
/* line 60, ../scss/exercise/_header.scss */
#exercise-header .steps .line-space.this {
  background-color: #778690;
}
/* line 63, ../scss/exercise/_header.scss */
#exercise-header .steps .line-space.next {
  background-color: #c9c9c9;
}
/* line 66, ../scss/exercise/_header.scss */
#exercise-header .steps .line-space.done {
  background-color: #3adb7e;
}
/* line 69, ../scss/exercise/_header.scss */
#exercise-header .steps .line-space.wrong {
  background-color: #ee597b;
}
/* line 74, ../scss/exercise/_header.scss */
#exercise-header .steps .number {
  width: 23px;
  height: 23px;
  text-align: center;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  line-height: 20px;
}
/* line 80, ../scss/exercise/_header.scss */
#exercise-header .steps .number.this {
  color: white;
  background-color: #778690;
  border: 2px solid #778690;
}
/* line 85, ../scss/exercise/_header.scss */
#exercise-header .steps .number.next {
  color: #c9c9c9;
  background-color: transparent;
  border: 2px solid #c9c9c9;
}
/* line 90, ../scss/exercise/_header.scss */
#exercise-header .steps .number.done {
  background-color: #3adb7e;
  border: 2px solid #3adb7e;
  color: transparent;
  /* FireFox */
  background-position: -43px -106px;
  /* Others */
  background-position-x: -43px;
  background-position-y: -106px;
}
/* line 96, ../scss/exercise/_header.scss */
#exercise-header .steps .number.wrong {
  background-color: #ee597b;
  border: 2px solid #ee597b;
  color: transparent;
  /* FireFox */
  background-position: -42px -141px;
  /* Others */
  background-position-x: -42px;
  background-position-y: -141px;
}
/* line 104, ../scss/exercise/_header.scss */
#exercise-header #corrigiendo {
  padding-left: 35px;
  color: #fe2e2e;
}

/* line 1, ../scss/exercise/_content.scss */
.ex-btn {
  position: absolute;
  right: -30px;
}

/* line 6, ../scss/exercise/_content.scss */
.confirmation-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1010;
  display: none;
  top: 0;
  outline: none;
}
/* line 14, ../scss/exercise/_content.scss */
.confirmation-modal .modal-dialog {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 19, ../scss/exercise/_content.scss */
.confirmation-modal .modal-content {
  width: 450px;
  height: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -73px;
  margin-left: -220px;
  padding: 20px;
  text-align: center;
}
/* line 29, ../scss/exercise/_content.scss */
.confirmation-modal .modal-content .modal-header {
  text-transform: uppercase;
  color: #2d62ab;
  display: block;
  font-weight: 500;
  position: relative;
}
/* line 35, ../scss/exercise/_content.scss */
.confirmation-modal .modal-content .modal-header button {
  position: absolute;
  right: -30px;
  top: -30px;
  background-color: transparent;
  background-image: url("http://res.cloudinary.com/drizjv6vl/image/upload/v1453147029/system/close-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 19px;
}
/* line 46, ../scss/exercise/_content.scss */
.confirmation-modal .modal-content .modal-body {
  margin: 7px 0 10px 0;
  color: #777777;
  font-weight: 400;
}
/* line 52, ../scss/exercise/_content.scss */
.confirmation-modal .modal-content .modal-footer button {
  margin: 10px 5px;
  width: 80px;
}

/* line 60, ../scss/exercise/_content.scss */
#exercise-wrapper {
  box-sizing: border-box;
  position: relative;
  font-weight: 400;
  height: auto;
}
/* line 65, ../scss/exercise/_content.scss */
#exercise-wrapper.ex-load {
  height: 50vh;
  padding-bottom: 40px;
}
/* line 69, ../scss/exercise/_content.scss */
#exercise-wrapper footer {
  width: 93%;
  position: absolute;
  margin-right: 30px;
  right: 0;
  height: 60px;
  z-index: 10;
}
/* line 76, ../scss/exercise/_content.scss */
#exercise-wrapper footer .btn-wrapper {
  padding-right: 250px;
}
/* line 78, ../scss/exercise/_content.scss */
#exercise-wrapper footer .btn-wrapper #boton-omitir {
  margin-left: 6px;
}
/* line 83, ../scss/exercise/_content.scss */
#exercise-wrapper .horizontal-scroll {
  float: left;
  overflow: auto;
  position: relative;
  z-index: 1;
  width: 100%;
}
/* line 90, ../scss/exercise/_content.scss */
#exercise-wrapper .alert-rail {
  width: 100%;
  position: absolute;
  top: 55px;
  text-align: center;
  font-size: 0.9em;
  z-index: 10;
}
/* line 97, ../scss/exercise/_content.scss */
#exercise-wrapper .alert-rail span {
  font-family: 'Open Sans', sans-serif;
  padding: 8px 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ededed;
}
/* line 102, ../scss/exercise/_content.scss */
#exercise-wrapper .alert-rail span.error {
  background-color: #ee597b;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 108, ../scss/exercise/_content.scss */
#exercise-wrapper .exercise-record {
  width: 100%;
  border-top: 1px solid #ededed;
  padding: 50px 20px;
  margin-top: 100px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: relative;
}
/* line 116, ../scss/exercise/_content.scss */
#exercise-wrapper .exercise-record > li[id^=record-consigna] {
  width: 100%;
}
/* line 118, ../scss/exercise/_content.scss */
#exercise-wrapper .exercise-record > li[id^=record-consigna] ul > li, #exercise-wrapper .exercise-record > li[id^=record-consigna] ul .record-wrapper {
  float: left;
}
/* line 122, ../scss/exercise/_content.scss */
#exercise-wrapper .exercise-record .record-wrapper {
  position: absolute;
  padding-top: 30px;
}
/* line 125, ../scss/exercise/_content.scss */
#exercise-wrapper .exercise-record .record-wrapper > li[id^=record-consigna] {
  text-transform: initial;
  padding: 0;
  margin-bottom: -10px;
  float: left;
  color: #2dcc70;
  font-size: 1em;
  font-style: italic;
  text-align: center;
}
/* line 136, ../scss/exercise/_content.scss */
#exercise-wrapper .exercise-record .title {
  cursor: pointer;
}
/* line 138, ../scss/exercise/_content.scss */
#exercise-wrapper .exercise-record .title .plus-icon, #exercise-wrapper .exercise-record .title .minus-icon {
  width: 17px;
  height: 17px;
  float: left;
  margin-right: 3px;
  margin-top: 1px;
}
/* line 147, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content {
  width: 90%;
  margin: 0 0 0 45px;
  clear: both;
  font-size: 1.5em;
  text-align: center;
  word-spacing: -2px;
  position: relative;
}
/* line 155, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .full-sentence {
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 159, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .property-box-up {
  height: 50px;
  margin: 0 auto;
  position: relative;
  overflow: visible;
}
/* line 164, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .property-box-up .word-property-wrapper-up {
  display: block;
  padding: 0;
  position: absolute;
  bottom: 0;
}
/* line 169, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .property-box-up .word-property-wrapper-up .icon-bin:before {
  top: -20px;
  padding-top: 0;
  padding-bottom: 15px;
}
/* line 175, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .property-box-up .word-property-wrapper-up:hover .icon-bin:before {
  display: block;
}
/* line 180, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .property-box-up .word-property-top {
  left: 1px;
}
/* line 182, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .property-box-up .word-property-top .line-up {
  height: 5px;
  border-top: 2px solid #2dcc70;
  border-left: 2px solid #2dcc70;
  border-right: 2px solid #2dcc70;
  clear: both;
}
/* line 190, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .property-box-up span[id^=rta-] {
  text-transform: initial;
  padding: 0;
  margin-bottom: 0px;
  float: left;
  width: 100%;
  color: #2dcc70;
  font-size: 0.6em;
  font-style: italic;
}
/* line 201, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .property-box-down {
  height: 50px;
  margin: 0 auto;
  position: relative;
  overflow: visible;
  margin-top: -7px;
}
/* line 207, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .property-box-down .word-property-wrapper {
  display: block;
  padding: 0;
  position: absolute;
}
/* line 211, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .property-box-down .word-property-wrapper .icon-bin:before {
  bottom: -17px;
}
/* line 215, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .property-box-down .word-property-wrapper:hover .icon-bin:before {
  display: block;
}
/* line 220, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .property-box-down .word-property-down {
  left: 1px;
}
/* line 222, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .property-box-down .word-property-down.line-down-sides {
  height: 5px;
  border-bottom: 2px solid #2dcc70;
  border-left: 2px solid #2dcc70;
  border-right: 2px solid #2dcc70;
  clear: both;
}
/* line 229, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .property-box-down .word-property-down.line-down {
  height: 5px;
  border-bottom: 2px solid #2dcc70;
  clear: both;
}
/* line 235, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .property-box-down .word-property-down {
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
}
/* line 241, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .property-box-down .word-class, #exercise-wrapper #exercise-content .property-box-down span[id^=rta-] {
  text-transform: initial;
  padding: 0;
  margin-bottom: -10px;
  float: left;
  width: 100%;
  color: #2dcc70;
  font-size: 0.6em;
  font-style: italic;
}
/* line 252, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .property-box-down .word-class .icon-bin:before {
  font-size: 1.25em;
}
/* line 257, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .split-sentence {
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
/* line 260, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .split-sentence .icon-bracket-left, #exercise-wrapper #exercise-content .split-sentence .icon-bracket-right {
  font-family: 'icomoon';
  font-size: 1.8em;
  color: #4687fb;
  position: absolute;
  top: -3px;
}
/* line 267, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .split-sentence .property-box-right {
  color: #2dcc70;
  font-size: 0.6em;
  font-style: italic;
  position: absolute;
  right: -138px;
  width: 120px;
  height: 34px;
  text-align: left;
  display: table;
}
/* line 277, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .split-sentence .property-box-right span {
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  padding: 9px 0 0 0;
  float: none;
  position: relative;
}
/* line 284, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .split-sentence .property-box-right span .icon-bin {
  width: 100%;
  font-size: 18px;
  overflow: auto;
}
/* line 289, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .split-sentence .property-box-right span .icon-bin:before {
  bottom: -21px;
  margin: 0 0 0 -5px;
  width: 11px;
}
/* line 295, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .split-sentence .property-box-right span:hover .icon-bin:before {
  display: block;
}
/* line 301, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .split-sentence .icon-bracket-left {
  left: -12px;
}
/* line 304, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content .split-sentence .icon-bracket-right {
  right: -12px;
}
/* line 308, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p {
  display: inline-block;
}
/* line 310, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p div {
  float: left;
}
/* line 313, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p .word-range-sleep {
  position: relative;
}
/* line 315, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p .word-range-sleep div {
  display: inline-block;
}
/* line 319, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p > div {
  vertical-align: top;
  display: inline-block;
  cursor: pointer;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  float: left;
}
/* line 327, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p > div span {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 7px 5px 7px;
  float: left;
}
/* line 333, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p > div.word-selected > span {
  background-color: #ffd1a4;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 7px 5px 7px;
  float: left;
}
/* line 340, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p > div .word-property-wrapper {
  width: -webkit-calc(100% - 2px);
  width: -moz-calc(100% - 2px);
  width: calc(100% - 2px);
  position: relative;
  display: block;
  padding: 0;
  float: left;
}
/* line 348, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p > div .word-property-wrapper .icon-bin:before {
  bottom: -17px;
}
/* line 352, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p > div .word-property-wrapper:hover .icon-bin:before {
  display: block;
}
/* line 357, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p > div .word-property-wrapper .word-property-top .icon-bin:before {
  margin-left: -15px;
  top: -19px;
  padding-top: 0;
  padding-bottom: 15px;
}
/* line 365, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p > div .word-property-down, #exercise-wrapper #exercise-content p > div .word-property-top {
  left: 1px;
}
/* line 367, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p > div .word-property-down .line-up, #exercise-wrapper #exercise-content p > div .word-property-top .line-up {
  height: 5px;
  border-top: 2px solid #2dcc70;
  border-left: 2px solid #2dcc70;
  border-right: 2px solid #2dcc70;
  float: left;
  width: 100%;
  padding: 0;
}
/* line 376, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p > div .word-property-down.line-down, #exercise-wrapper #exercise-content p > div .word-property-top.line-down {
  height: 5px;
  border-bottom: 2px solid #2dcc70;
  border-left: 2px solid #2dcc70;
  border-right: 2px solid #2dcc70;
  clear: both;
}
/* line 384, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p > div .word-property-top {
  position: absolute;
  width: 100%;
  left: 0;
  top: -66px;
  padding: 0 !important;
}
/* line 390, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p > div .word-property-top span {
  padding-bottom: 3px;
  width: 100%;
}
/* line 395, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p > div .word-property-down {
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
}
/* line 401, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p > div .word-property-down.lost-words span {
  text-transform: initial;
  padding: 0;
  margin-bottom: -10px;
  float: left;
  width: 100%;
  color: #2dcc70;
  font-size: 0.6em;
  font-style: italic;
}
/* line 410, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p > div .word-property-down.lost-words span .center-spans {
  float: none;
  display: table;
  margin: 0 auto;
}
/* line 415, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p > div .word-property-down.lost-words span span {
  font-size: 1em;
  display: inline-block;
  width: initial;
  float: none;
  line-height: 16px;
  position: relative;
}
/* line 422, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p > div .word-property-down.lost-words span span .icon-bin {
  position: absolute;
  bottom: -16px;
  font-size: 18px;
  left: 50%;
}
/* line 428, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p > div .word-property-down.lost-words span span .icon-bin:before {
  top: -20px;
  padding-top: 0;
  padding-bottom: 15px;
}
/* line 434, ../scss/exercise/_content.scss */
#exercise-wrapper #exercise-content p > div .word-property-down.lost-words span span:hover .icon-bin:before {
  display: block;
}

/* line 1, ../scss/exercise/_andamiaje.scss */
#andamiaje {
  float: left;
  width: 90%;
  max-width: 800px;
  margin-left: 120px;
  margin-top: 80px;
}
/* line 8, ../scss/exercise/_andamiaje.scss */
#andamiaje.correct .professor-picture {
  /* FireFox */
  background-position: -207px -8px;
  /* Others */
  background-position-x: -207px;
  background-position-y: -8px;
}
/* line 11, ../scss/exercise/_andamiaje.scss */
#andamiaje.correct .professor-explanation {
  border: 1px solid #2dcc70;
  color: #04bf50;
  background-color: #CAFFE0;
}
/* line 15, ../scss/exercise/_andamiaje.scss */
#andamiaje.correct .professor-explanation .box-arrow {
  /* FireFox */
  background-position: -185px -53px;
  /* Others */
  background-position-x: -185px;
  background-position-y: -53px;
  border-color: transparent #2dcc70 transparent transparent;
}
/* line 22, ../scss/exercise/_andamiaje.scss */
#andamiaje.incorrect .professor-picture {
  /* FireFox */
  background-position: -307px -8px;
  /* Others */
  background-position-x: -307px;
  background-position-y: -8px;
}
/* line 25, ../scss/exercise/_andamiaje.scss */
#andamiaje.incorrect .professor-explanation {
  border: 1px solid #ee597b;
  color: #ee597b;
  background-color: #FFDFE6;
}
/* line 29, ../scss/exercise/_andamiaje.scss */
#andamiaje.incorrect .professor-explanation .box-arrow {
  /* FireFox */
  background-position: -185px -72px;
  /* Others */
  background-position-x: -185px;
  background-position-y: -72px;
  border-color: transparent #ee597b transparent transparent;
}
/* line 35, ../scss/exercise/_andamiaje.scss */
#andamiaje .professor-picture {
  width: 98px;
  height: 112px;
  float: left;
  margin-right: 20px;
}
/* line 41, ../scss/exercise/_andamiaje.scss */
#andamiaje .professor-explanation {
  width: -webkit-calc(100% - 175px);
  width: -moz-calc(100% - 175px);
  width: calc(100% - 175px);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  line-height: 23px;
  text-align: center;
  position: relative;
}
/* line 52, ../scss/exercise/_andamiaje.scss */
#andamiaje .professor-explanation span {
  font-weight: 600;
  font-style: italic;
}
/* line 56, ../scss/exercise/_andamiaje.scss */
#andamiaje .professor-explanation .box-arrow {
  position: absolute;
  left: -15px;
  top: 10px;
  width: 15px;
  height: 10px;
}

/* line 1, ../scss/exercise/_load.scss */
#load-exercise {
  margin-left: 120px;
  margin-top: 100px;
  overflow: hidden;
}
/* line 5, ../scss/exercise/_load.scss */
#load-exercise label, #load-exercise input, #load-exercise .textarea, #load-exercise .select-arrow {
  max-width: 400px;
  float: left;
}
/* line 9, ../scss/exercise/_load.scss */
#load-exercise .textarea {
  padding-top: 6px;
}
/* line 12, ../scss/exercise/_load.scss */
#load-exercise #exercise-content {
  font-size: 1em;
  margin-left: 13px;
}
/* line 16, ../scss/exercise/_load.scss */
#load-exercise label {
  cursor: initial;
  margin-left: 10px;
  width: 100%;
  max-width: 100px;
}
/* line 22, ../scss/exercise/_load.scss */
#load-exercise .input-pack {
  float: left;
  width: 100%;
}
/* line 25, ../scss/exercise/_load.scss */
#load-exercise .input-pack .error-space {
  float: left;
  margin-left: 20px;
  line-height: 35px;
  color: #ee597b;
}
/* line 33, ../scss/exercise/_load.scss */
#load-exercise #error-oracion {
  float: left;
  width: 100%;
  color: #ee597b;
  margin-top: 10px;
  margin-left: 17px;
}
/* line 40, ../scss/exercise/_load.scss */
#load-exercise .sentence-input {
  max-width: 80%;
  min-width: 400px;
}
/* line 43, ../scss/exercise/_load.scss */
#load-exercise .sentence-input#input-oracion {
  margin-bottom: 0;
  margin-bottom: 20px;
}
/* line 47, ../scss/exercise/_load.scss */
#load-exercise .sentence-input.sentence-added {
  margin-top: 10px;
  font-size: 0.7em;
}
/* line 52, ../scss/exercise/_load.scss */
#load-exercise .sentence-ok {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  float: left;
  width: 100%;
  overflow: scroll;
  padding-bottom: 15px;
}
/* line 60, ../scss/exercise/_load.scss */
#load-exercise .icon-bracket-left, #load-exercise .icon-bracket-right {
  font-family: 'icomoon';
  font-size: 1.8em;
  color: #4687fb;
  display: inline-block;
  vertical-align: middle;
}
/* line 67, ../scss/exercise/_load.scss */
#load-exercise .edit-sentence, #load-exercise .erase-sentence, #load-exercise .add-sentence, #load-exercise .save-sentence, #load-exercise .cancel-sentence {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 9px;
}
/* line 76, ../scss/exercise/_load.scss */
#load-exercise #guardar-oracion {
  margin-top: 59px;
}
/* line 79, ../scss/exercise/_load.scss */
#load-exercise .sentence-added-wrapper {
  display: none;
}

/* line 83, ../scss/exercise/_load.scss */
.con-andamiaje {
  float: left;
  width: 100%;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #ededed;
  margin-top: 30px;
  margin-left: -100px;
  margin-bottom: 20px;
}
/* line 91, ../scss/exercise/_load.scss */
.con-andamiaje label {
  margin-left: 10px;
}
/* line 94, ../scss/exercise/_load.scss */
.con-andamiaje .textarea {
  max-width: 88%;
  min-width: 400px;
  padding-top: 6px;
}
/* line 99, ../scss/exercise/_load.scss */
.con-andamiaje .andamiajes {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ededed;
  color: #778690;
  font-size: 0.8em;
  font-weight: 300;
  margin-bottom: 20px;
  margin-right: 30px;
  position: relative;
}
/* line 110, ../scss/exercise/_load.scss */
.con-andamiaje .andamiajes h1 {
  font-weight: 700;
}
/* line 113, ../scss/exercise/_load.scss */
.con-andamiaje .andamiajes h1, .con-andamiaje .andamiajes h2, .con-andamiaje .andamiajes span {
  font-family: 'Open Sans', sans-serif;
}
/* line 116, ../scss/exercise/_load.scss */
.con-andamiaje .andamiajes h2, .con-andamiaje .andamiajes span {
  font-weight: 300;
}
/* line 119, ../scss/exercise/_load.scss */
.con-andamiaje .andamiajes.correct {
  background-color: #CAFFE0;
  border: 1px solid #3adb7e;
}
/* line 120, ../scss/exercise/_load.scss */
.con-andamiaje .andamiajes.correct h1, .con-andamiaje .andamiajes.correct h2, .con-andamiaje .andamiajes.correct span {
  color: #2dcc70;
}
/* line 126, ../scss/exercise/_load.scss */
.con-andamiaje .andamiajes.incorrect {
  background-color: #FFDFE6;
  border: 1px solid #ee597b;
}
/* line 127, ../scss/exercise/_load.scss */
.con-andamiaje .andamiajes.incorrect h1, .con-andamiaje .andamiajes.incorrect h2, .con-andamiaje .andamiajes.incorrect span {
  color: #ee597b;
}
/* line 133, ../scss/exercise/_load.scss */
.con-andamiaje .andamiajes .erase-andamiaje {
  position: absolute;
  right: -31px;
  top: 0;
}
/* line 139, ../scss/exercise/_load.scss */
.con-andamiaje .nuevo-andamiaje {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #778690;
  cursor: pointer;
  width: 140px;
}
/* line 146, ../scss/exercise/_load.scss */
.con-andamiaje .add-andamiaje, .con-andamiaje .erase-andamiaje {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;
}
/* line 154, ../scss/exercise/_load.scss */
.con-andamiaje .erase-andamiaje {
  margin-left: 10px;
}
/* line 157, ../scss/exercise/_load.scss */
.con-andamiaje .wrapper {
  margin: 25px 0 25px 120px;
  max-width: 940px;
}
/* line 161, ../scss/exercise/_load.scss */
.con-andamiaje .quote {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ededed;
  font-size: 0.8em;
  color: #778690;
  font-weight: 300;
  margin-bottom: 20px;
  margin-right: 30px;
}
/* line 171, ../scss/exercise/_load.scss */
.con-andamiaje .quote span {
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-weight: 600;
}
/* line 177, ../scss/exercise/_load.scss */
.con-andamiaje #basic.demo input {
  font-family: 'Open Sans', sans-serif;
}
/* line 180, ../scss/exercise/_load.scss */
.con-andamiaje #basic.demo {
  margin-left: 10px;
  margin-top: 5px;
  margin: 5px 0 20px 10px;
}

/* line 187, ../scss/exercise/_load.scss */
.alert-space {
  display: table;
  margin: 35px auto 0 auto;
  padding: 8px 50px;
  background: #CAFFE0;
  color: #04bf50;
  border: 1px solid #2dcc70;
  border-radius: 3px;
}
/* line 195, ../scss/exercise/_load.scss */
.alert-space.error {
  background: #ee597b;
  border: 1px solid red;
  color: #ededed;
}

/* line 202, ../scss/exercise/_load.scss */
.error-space-2 {
  display: table;
  margin: 35px auto 0 auto;
  padding: 8px 50px;
  background: #FFDFE6;
  color: #ee597b;
  border: 1px solid #ee597b;
  border-radius: 3px;
}
/* line 210, ../scss/exercise/_load.scss */
.error-space-2.error {
  background: #ee597b;
  border: 1px solid red;
  color: #ededed;
}

/* line 217, ../scss/exercise/_load.scss */
#error-andamiaje, #error-consigna, #error-select-tipo-actividad, #error-oracion {
  display: table;
  margin: 35px auto 0 auto;
  padding: 8px 50px;
  border-radius: 3px;
  color: #ee597b;
  margin-bottom: 50px;
}

/* line 226, ../scss/exercise/_load.scss */
.legend {
  margin: 35px auto 0 auto;
  padding: 8px 50px;
  background: #CAFFE0;
  color: #04bf50;
  border: 1px solid #2dcc70;
  border-radius: 3px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 235, ../scss/exercise/_load.scss */
.legend.error {
  background: #ee597b;
  border: 1px solid red;
  color: #ededed;
}

/* line 243, ../scss/exercise/_load.scss */
.btn-wrapper.load-exercise {
  margin-bottom: 50px;
}
/* line 245, ../scss/exercise/_load.scss */
.btn-wrapper.load-exercise .another-item {
  background-color: #778690;
  margin-right: 20px;
}

/* line 252, ../scss/exercise/_load.scss */
#div-buttons-load-ex {
  padding-top: 500px;
}

/* line 2, ../scss/profile/_profile.scss */
.myprofile .subsection-title, .myhouses-content .subsection-title {
  color: #778690;
  border-bottom: 1px solid #778690;
  width: auto;
  display: initial;
}
/* line 8, ../scss/profile/_profile.scss */
.myprofile .wrapper-centered, .myhouses-content .wrapper-centered {
  width: 100%;
}
/* line 10, ../scss/profile/_profile.scss */
.myprofile .wrapper-centered #group-box, .myhouses-content .wrapper-centered #group-box {
  padding: 0;
  border: 0;
}

/* line 17, ../scss/profile/_profile.scss */
.myprofile .section-title {
  font-size: 2em;
  text-align: center;
  color: #354a58;
  padding-top: 50px;
  padding-bottom: 30px;
}
/* line 24, ../scss/profile/_profile.scss */
.myprofile .left-wrapper {
  float: left;
  width: 220px;
}
/* line 28, ../scss/profile/_profile.scss */
.myprofile .left-wrapper span .btn {
  width: 100%;
  height: 40px !important;
  display: table;
  margin: 0 auto;
  font-size: 13.6px;
  line-height: 40px;
  margin-top: 70px !important;
}
/* line 38, ../scss/profile/_profile.scss */
.myprofile .left-wrapper .not-expired {
  float: left;
  width: 175px;
  height: 35px;
  margin-top: 20px;
  text-align: center;
  line-height: 34px;
  color: white;
  font-size: 0.9em;
  font-weight: 500;
  background-color: black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: 3px;
}
/* line 52, ../scss/profile/_profile.scss */
.myprofile .left-wrapper .expired {
  float: left;
  width: 175px;
  height: 35px;
  margin-top: 20px;
  text-align: center;
  line-height: 34px;
  font-size: 0.7em;
  font-weight: 500;
  background-color: black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: red;
  margin-left: 3px;
}
/* line 66, ../scss/profile/_profile.scss */
.myprofile .left-wrapper span {
  float: left;
  width: 175px;
  color: black;
  font-size: 0.9em;
  margin-top: 0px;
  text-align: center;
  padding-top: 7px;
}
/* line 75, ../scss/profile/_profile.scss */
.myprofile .left-wrapper .btn {
  font-size: 1.1em;
  padding: 0;
  margin-top: 10px;
}

/* line 84, ../scss/profile/_profile.scss */
.image-content {
  float: left;
  width: 180px;
  margin-right: 40px;
  overflow: hidden;
  position: relative;
}
/* line 90, ../scss/profile/_profile.scss */
.image-content .add-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 96, ../scss/profile/_profile.scss */
.image-content .add-image input {
  width: 100%;
}
/* line 100, ../scss/profile/_profile.scss */
.image-content p {
  overflow: hidden;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  width: 180px;
  height: 180px;
}
/* line 105, ../scss/profile/_profile.scss */
.image-content p img {
  max-width: 100%;
  max-height: 100%;
}

/* line 112, ../scss/profile/_profile.scss */
label.myLabel input[type="file"] {
  position: fixed;
  top: -1000px;
}

/***** Example custom styling *****/
/* line 118, ../scss/profile/_profile.scss */
.myLabel {
  font-size: 0.85em;
  color: #777777;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: transparent;
}

/* line 127, ../scss/profile/_profile.scss */
.myLabel label:hover {
  color: black;
}

/* line 132, ../scss/profile/_profile.scss */
.data-content {
  float: left;
  width: 466px;
  margin-right: 20px;
}
/* line 136, ../scss/profile/_profile.scss */
.data-content #submit {
  float: left;
}
/* line 139, ../scss/profile/_profile.scss */
.data-content .my-data {
  padding-bottom: 20px;
}
/* line 142, ../scss/profile/_profile.scss */
.data-content .my-data .user-mail span {
  float: left;
  color: #B9B9B9;
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
}
/* line 148, ../scss/profile/_profile.scss */
.data-content .my-data .user-mail span.mail {
  color: #4687fb;
  font-weight: 600;
  width: initial;
  font-size: 1.2em;
}
/* line 155, ../scss/profile/_profile.scss */
.data-content .my-data .user-mail .user-icon {
  width: 50px;
  height: 50px;
  float: right;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid #ededed;
  margin-top: 5px;
}
/* line 164, ../scss/profile/_profile.scss */
.data-content .my-data .points {
  color: white;
  width: 50px;
  height: 50px;
  float: right;
  background-color: aqua;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  font-size: 1em;
  line-height: 38px;
}
/* line 174, ../scss/profile/_profile.scss */
.data-content .my-data .points span {
  font-size: 0.7em;
  width: 100%;
  float: left;
  margin-top: -6px;
  line-height: 3px;
}
/* line 183, ../scss/profile/_profile.scss */
.data-content div {
  float: left;
  width: 100%;
}
/* line 186, ../scss/profile/_profile.scss */
.data-content div.grey {
  width: 120px;
  float: left;
  margin-left: 5px;
}
/* line 191, ../scss/profile/_profile.scss */
.data-content div.btn {
  float: right;
  width: 140px;
}
/* line 196, ../scss/profile/_profile.scss */
.data-content .half-width {
  width: 48%;
  float: left;
}
/* line 199, ../scss/profile/_profile.scss */
.data-content .half-width.right {
  float: right;
}
/* line 203, ../scss/profile/_profile.scss */
.data-content .picture-upload-message {
  color: #777777;
  margin-top: 30px;
  font-size: 0.9em;
  text-align: center;
}

/* line 211, ../scss/profile/_profile.scss */
.myhouses-content {
  float: left;
  width: 245px;
}
/* line 214, ../scss/profile/_profile.scss */
.myhouses-content .listing-item {
  padding-bottom: 20px;
  overflow: hidden;
}
/* line 217, ../scss/profile/_profile.scss */
.myhouses-content .listing-item .item {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
/* line 223, ../scss/profile/_profile.scss */
.myhouses-content .listing-item .item:hover .data .location {
  color: black;
}
/* line 228, ../scss/profile/_profile.scss */
.myhouses-content .listing-item .item .image {
  width: 73px;
  height: 73px;
  display: inline-block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
/* line 234, ../scss/profile/_profile.scss */
.myhouses-content .listing-item .item .image img {
  height: 100%;
}
/* line 238, ../scss/profile/_profile.scss */
.myhouses-content .listing-item .item .data {
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
  width: 156px;
}
/* line 243, ../scss/profile/_profile.scss */
.myhouses-content .listing-item .item .data .location {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  font-size: 0.85em;
  color: aqua;
  padding-bottom: 3px;
}
/* line 251, ../scss/profile/_profile.scss */
.myhouses-content .listing-item .item .data .address {
  font-size: 0.65em;
  font-style: italic;
  color: aqua;
}

@media screen and (max-width: 1060px) {
  /* line 263, ../scss/profile/_profile.scss */
  .wrapper.myprofile {
    width: 618px;
  }
  /* line 265, ../scss/profile/_profile.scss */
  .wrapper.myprofile .data-content {
    margin: 0;
  }
  /* line 267, ../scss/profile/_profile.scss */
  .wrapper.myprofile .data-content .btn {
    height: 40px !important;
  }
  /* line 270, ../scss/profile/_profile.scss */
  .wrapper.myprofile .data-content a .btn {
    height: 26px !important;
    line-height: 27px;
  }
  /* line 275, ../scss/profile/_profile.scss */
  .wrapper.myprofile .myhouses-content {
    width: 100%;
    margin-top: 50px;
  }
  /* line 278, ../scss/profile/_profile.scss */
  .wrapper.myprofile .myhouses-content .listing-item .item {
    display: inline-block;
    width: 308px;
  }
}
@media screen and (max-width: 650px) {
  /* line 288, ../scss/profile/_profile.scss */
  .wrapper.myprofile {
    width: 90%;
  }
  /* line 290, ../scss/profile/_profile.scss */
  .wrapper.myprofile .left-wrapper {
    float: none;
    display: table;
    margin: 0 auto;
    width: 180px;
  }
  /* line 295, ../scss/profile/_profile.scss */
  .wrapper.myprofile .left-wrapper .expired {
    margin-left: 0;
    width: 100%;
  }
  /* line 300, ../scss/profile/_profile.scss */
  .wrapper.myprofile .left-wrapper span .btn {
    margin-top: 20px !important;
  }
  /* line 304, ../scss/profile/_profile.scss */
  .wrapper.myprofile .left-wrapper .image-content {
    margin-right: 0;
  }
  /* line 308, ../scss/profile/_profile.scss */
  .wrapper.myprofile .data-content {
    margin: 50px auto 0 auto;
    display: table;
    float: none;
    width: 100%;
    max-width: 400px;
  }
  /* line 314, ../scss/profile/_profile.scss */
  .wrapper.myprofile .data-content .subsection-title {
    text-align: center;
  }
  /* line 317, ../scss/profile/_profile.scss */
  .wrapper.myprofile .data-content input {
    height: 40px !important;
    box-sizing: border-box;
    width: 100%;
  }
  /* line 322, ../scss/profile/_profile.scss */
  .wrapper.myprofile .data-content .btn {
    width: 200px;
    height: 40px !important;
    display: table;
    margin: 0 auto;
  }
  /* line 328, ../scss/profile/_profile.scss */
  .wrapper.myprofile .data-content a .btn {
    width: 166px;
    float: none;
    margin-top: 25px;
  }
  /* line 335, ../scss/profile/_profile.scss */
  .wrapper.myprofile .myhouses-content .subsection-title {
    text-align: center;
  }
  /* line 338, ../scss/profile/_profile.scss */
  .wrapper.myprofile .myhouses-content .view-all {
    display: none;
  }
  /* line 341, ../scss/profile/_profile.scss */
  .wrapper.myprofile .myhouses-content .listing-item {
    width: 300px;
    margin: 0 auto;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 350, ../scss/profile/_profile.scss */
  .data-content div.btn {
    padding: 5px 25px 2px 25px;
    line-height: 22px;
  }

  /* line 354, ../scss/profile/_profile.scss */
  .myprofile .left-wrapper .not-expired {
    line-height: 39px !important;
  }

  /* line 357, ../scss/profile/_profile.scss */
  form .data-content input[type=submit].blue, .booking-cancel .btn.s-blue {
    line-height: 23px;
    padding-bottom: 2px;
  }

  /* line 361, ../scss/profile/_profile.scss */
  .confirmation-info .btn.aqua {
    line-height: 25px;
    padding-bottom: 4px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 368, ../scss/profile/_profile.scss */
  .make-a-book {
    line-height: 23px;
    padding-bottom: 3px;
  }
}
/* line 1, ../scss/group_folder/_group_folder.scss */
.wrapper-centered {
  width: 820px;
  margin: 50px auto;
  display: table;
}
/* line 5, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box {
  background-color: white;
  border: 1px solid #ededed;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 11, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .title {
  color: #4687fb;
  font-size: 1.5em;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}
/* line 16, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .title span {
  font-size: 0.8em;
  color: #778690;
}
/* line 20, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .title .subtitle {
  font-size: 0.7em;
  color: #B3B2B2;
}
/* line 23, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .title .subtitle .folder-in {
  text-transform: uppercase;
  float: right;
  font-size: 0.8em;
}
/* line 27, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .title .subtitle .folder-in .folder {
  margin-left: 4px;
  width: 20px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
}
/* line 38, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li {
  padding: 4px 0 8px 0;
  border-bottom: 1px solid #ededed;
}
/* line 41, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li:last-child {
  border-bottom: none;
}
/* line 46, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li ul:hover li.number {
  background-color: #5A676F;
}
/* line 49, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li ul:hover li.curso {
  color: #5A676F;
}
/* line 52, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li ul:hover li.turno {
  color: #778690;
}
/* line 58, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li ul li {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  display: inline-block;
  vertical-align: middle;
}
/* line 64, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li ul li.number {
  background-color: #778690;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  color: white;
  width: 25px;
  height: 25px;
  font-size: 0.9em;
  margin-right: 8px;
  line-height: 24px;
  margin-top: 3px;
}
/* line 76, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li ul li.turno {
  float: right;
  color: #B9B9B9;
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
}
/* line 83, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li ul li.curso {
  color: #778690;
  font-size: 1.1em;
}
/* line 87, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li ul li.status {
  float: right;
  width: 20px;
  height: 20px;
  margin-top: 7px;
}
/* line 92, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li ul li.status.correct {
  /* FireFox */
  background-position: -288px -157px;
  /* Others */
  background-position-x: -288px;
  background-position-y: -157px;
}
/* line 95, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li ul li.status.pending {
  /* FireFox */
  background-position: -315px -157px;
  /* Others */
  background-position-x: -315px;
  background-position-y: -157px;
}
/* line 98, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li ul li.status.wrong {
  /* FireFox */
  background-position: -341px -157px;
  /* Others */
  background-position-x: -341px;
  background-position-y: -157px;
}
/* line 102, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li ul li.ver-alumnos {
  float: right;
}
/* line 105, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li ul li.edit, .wrapper-centered #group-box .group-item > li ul li.copy, .wrapper-centered #group-box .group-item > li ul li.erase, .wrapper-centered #group-box .group-item > li ul li.see-it {
  float: right;
  width: 20px;
  height: 20px;
  margin-top: 7px;
  margin-left: 10px;
}
/* line 112, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li ul li.edit {
  /* FireFox */
  background-position: -87px -122px;
  /* Others */
  background-position-x: -87px;
  background-position-y: -122px;
}
/* line 115, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li ul li.copy {
  /* FireFox */
  background-position: -138px -122px;
  /* Others */
  background-position-x: -138px;
  background-position-y: -122px;
}
/* line 118, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li ul li.erase {
  /* FireFox */
  background-position: -68px -122px;
  /* Others */
  background-position-x: -68px;
  background-position-y: -122px;
}
/* line 121, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li ul li.see-it {
  width: 23px;
  /* FireFox */
  background-position: -366px -157px;
  /* Others */
  background-position-x: -366px;
  background-position-y: -157px;
}
/* line 125, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li ul li.see-it.disabled {
  /* FireFox */
  background-position: -367px -181px;
  /* Others */
  background-position-x: -367px;
  background-position-y: -181px;
}
/* line 129, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li ul li.turno-center {
  text-align: center;
  color: #B9B9B9;
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  width: 200px;
  float: right;
}
/* line 138, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #group-box .group-item > li ul li.ver-alumnos {
  color: #4687fb;
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
}
/* line 148, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #boton-unirme-grupo, .wrapper-centered #boton-volver-materias, .wrapper-centered #boton-atras, .wrapper-centered #boton-nuevo-curso, .wrapper-centered #boton-unirme-materia {
  margin-top: 15px;
  background: #778690;
}
/* line 151, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #boton-unirme-grupo:hover, .wrapper-centered #boton-volver-materias:hover, .wrapper-centered #boton-atras:hover, .wrapper-centered #boton-nuevo-curso:hover, .wrapper-centered #boton-unirme-materia:hover {
  background: #64727B;
}
/* line 155, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #boton-unirme-materia, .wrapper-centered #boton-nuevo-curso {
  background: #4687fb;
}
/* line 157, ../scss/group_folder/_group_folder.scss */
.wrapper-centered #boton-unirme-materia:hover, .wrapper-centered #boton-nuevo-curso:hover {
  color: white;
  background: #2769DE;
}

/* line 164, ../scss/group_folder/_group_folder.scss */
.modal.folder {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1010;
  display: none;
  top: 0;
  outline: none;
}
/* line 172, ../scss/group_folder/_group_folder.scss */
.modal.folder .modal-dialog {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 177, ../scss/group_folder/_group_folder.scss */
.modal.folder .modal-content {
  width: 400px;
  height: 290px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -130px;
  margin-left: -220px;
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-color: #4687fb;
  border-width: 2px;
}
/* line 191, ../scss/group_folder/_group_folder.scss */
.modal.folder .modal-content .modal-header {
  width: 100%;
  float: left;
  padding-top: 0px;
}
/* line 195, ../scss/group_folder/_group_folder.scss */
.modal.folder .modal-content .modal-header button {
  position: absolute;
  right: -30px;
  top: -30px;
  background-color: transparent;
  background-image: url("http://res.cloudinary.com/drizjv6vl/image/upload/v1453147029/system/close-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
}
/* line 205, ../scss/group_folder/_group_folder.scss */
.modal.folder .modal-content .modal-header .close-modal {
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
}
/* line 212, ../scss/group_folder/_group_folder.scss */
.modal.folder .modal-content .title {
  color: #4687fb;
  font-size: 1.5em;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}
/* line 217, ../scss/group_folder/_group_folder.scss */
.modal.folder .modal-content .title .subtitle {
  color: #778690;
  font-size: 0.6em;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0px;
  display: table;
  text-align: center;
  width: 100%;
}
/* line 227, ../scss/group_folder/_group_folder.scss */
.modal.folder .modal-content input[type=text] {
  text-align: center;
  margin: 20px 0 0 0;
  padding: 0 0 2px 0;
  width: 70%;
}
/* line 233, ../scss/group_folder/_group_folder.scss */
.modal.folder .modal-content button {
  padding: 10px 50px 11px 50px;
}
/* line 236, ../scss/group_folder/_group_folder.scss */
.modal.folder .modal-content .error-space {
  padding: 12px 0 17px 0;
  font-size: 1.0em;
  height: 30px;
}
/* line 240, ../scss/group_folder/_group_folder.scss */
.modal.folder .modal-content .error-space.error-visible {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  color: #ee597b;
}
/* line 246, ../scss/group_folder/_group_folder.scss */
.modal.folder .modal-content .modal-body {
  margin: 7px 0 10px 0;
  color: #777777;
  font-weight: 400;
}
/* line 252, ../scss/group_folder/_group_folder.scss */
.modal.folder .modal-content .modal-footer button {
  margin: 10px 5px;
}

/* line 259, ../scss/group_folder/_group_folder.scss */
#curso-donde-copiar {
  border: 2px solid #ededed;
  border-radius: 7px;
}

/* line 1, ../scss/_sign.scss */
#sign, #signup_form {
  margin: 50px auto;
}
/* line 3, ../scss/_sign.scss */
#sign h1, #signup_form h1 {
  text-align: center;
  width: 100%;
  margin: 50px 0;
  color: #778690;
}
/* line 9, ../scss/_sign.scss */
#sign .back-arrow, #signup_form .back-arrow {
  width: 50px;
  height: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: -80px;
  cursor: pointer;
  display: none;
}
/* line 19, ../scss/_sign.scss */
#sign .back-arrow.step-three, #signup_form .back-arrow.step-three {
  bottom: -80px;
}
/* line 24, ../scss/_sign.scss */
#sign h2, #signup_form h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 100%;
  color: #778690;
  font-size: 0.9em;
  margin-bottom: 10px;
}
/* line 32, ../scss/_sign.scss */
#sign .left-rail, #sign .right-rail, #signup_form .left-rail, #signup_form .right-rail {
  width: 260px;
  float: left;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 37, ../scss/_sign.scss */
#sign .left-rail .step-two, #sign .right-rail .step-two, #signup_form .left-rail .step-two, #signup_form .right-rail .step-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  z-index: 0;
  display: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 47, ../scss/_sign.scss */
#sign .left-rail .step-one, #sign .right-rail .step-one, #signup_form .left-rail .step-one, #signup_form .right-rail .step-one {
  position: relative;
  z-index: 5;
  width: 235px;
  padding: 0 20px 20px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 53, ../scss/_sign.scss */
#sign .left-rail .step-one .type-of-user, #sign .right-rail .step-one .type-of-user, #signup_form .left-rail .step-one .type-of-user, #signup_form .right-rail .step-one .type-of-user {
  text-align: center;
  color: #778690;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75em;
}
/* line 60, ../scss/_sign.scss */
#sign .left-rail .step-one .btn-wrapper button, #sign .right-rail .step-one .btn-wrapper button, #signup_form .left-rail .step-one .btn-wrapper button, #signup_form .right-rail .step-one .btn-wrapper button {
  float: none;
  display: table;
  margin: 0 auto;
}
/* line 67, ../scss/_sign.scss */
#sign .left-rail.no-background, #sign .right-rail.no-background, #signup_form .left-rail.no-background, #signup_form .right-rail.no-background {
  background: transparent;
}
/* line 69, ../scss/_sign.scss */
#sign .left-rail.no-background .step-one, #sign .right-rail.no-background .step-one, #signup_form .left-rail.no-background .step-one, #signup_form .right-rail.no-background .step-one {
  background: transparent;
  border: 1px solid #f7f8fa;
}
/* line 73, ../scss/_sign.scss */
#sign .left-rail.no-background .student, #sign .right-rail.no-background .student, #signup_form .left-rail.no-background .student, #signup_form .right-rail.no-background .student {
  /* FireFox */
  background-position: -768px -9px;
  /* Others */
  background-position-x: -768px;
  background-position-y: -9px;
}
/* line 76, ../scss/_sign.scss */
#sign .left-rail.no-background .professor, #sign .right-rail.no-background .professor, #signup_form .left-rail.no-background .professor, #signup_form .right-rail.no-background .professor {
  /* FireFox */
  background-position: -938px -9px;
  /* Others */
  background-position-x: -938px;
  background-position-y: -9px;
}
/* line 81, ../scss/_sign.scss */
#sign .up-box, #sign .down-box, #signup_form .up-box, #signup_form .down-box {
  width: 220px;
  padding: 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #ededed;
  float: left;
}
/* line 88, ../scss/_sign.scss */
#sign .up-box button, #sign .down-box button, #signup_form .up-box button, #signup_form .down-box button {
  margin: 0 auto;
  float: none;
  display: table;
}
/* line 94, ../scss/_sign.scss */
#sign .up-box, #signup_form .up-box {
  margin-bottom: 20px;
}
/* line 97, ../scss/_sign.scss */
#sign .right-rail, #signup_form .right-rail {
  float: right;
}
/* line 100, ../scss/_sign.scss */
#sign .btn-wrapper, #signup_form .btn-wrapper {
  margin: 20px auto;
  display: table;
  float: none;
  padding: 0;
}
/* line 106, ../scss/_sign.scss */
#sign #sign-step-one, #signup_form #sign-step-one {
  width: 100%;
  max-width: 610px;
  margin: 0 auto;
  overflow: auto;
}
/* line 112, ../scss/_sign.scss */
#sign .sprite.student, #sign .sprite.professor, #signup_form .sprite.student, #signup_form .sprite.professor {
  width: 170px;
  height: 130px;
  margin: 0 auto;
}
/* line 117, ../scss/_sign.scss */
#sign .sign-wrapper, #signup_form .sign-wrapper {
  width: 100%;
  max-width: 610px;
  position: relative;
  display: table;
  margin: 0 auto;
}
/* line 124, ../scss/_sign.scss */
#sign #sign-step-one, #signup_form #sign-step-one {
  margin: 30px auto 0 auto;
  background-color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ededed;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
}
/* line 131, ../scss/_sign.scss */
#sign #sign-step-one .title, #signup_form #sign-step-one .title {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
  color: #778690;
}
/* line 137, ../scss/_sign.scss */
#sign #sign-step-one .title span, #signup_form #sign-step-one .title span {
  font-family: 'Open Sans', sans-serif;
  display: block;
  color: #4687fb;
  margin-bottom: 3px;
}
/* line 145, ../scss/_sign.scss */
#sign #sign-step-three, #signup_form #sign-step-three {
  width: 330px;
  margin: 30px auto 0 auto;
  background-color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ededed;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
}
/* line 153, ../scss/_sign.scss */
#sign #sign-step-three .title, #signup_form #sign-step-three .title {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
  color: #778690;
}
/* line 159, ../scss/_sign.scss */
#sign #sign-step-three .title span, #signup_form #sign-step-three .title span {
  font-family: 'Open Sans', sans-serif;
  display: block;
  color: #4687fb;
  margin-bottom: 3px;
}
/* line 166, ../scss/_sign.scss */
#sign #sign-step-three .primaryAction, #signup_form #sign-step-three .primaryAction {
  display: table;
  margin: 20px auto 0 auto;
  padding: 10px 30px 11px 30px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background: #4687fb;
  color: white;
  border: none;
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  cursor: pointer;
}
/* line 181, ../scss/_sign.scss */
#sign #sign-step-three .primaryAction:hover, #signup_form #sign-step-three .primaryAction:hover {
  color: white;
  background: #2769DE;
}
/* line 186, ../scss/_sign.scss */
#sign #sign-step-three .secondaryAction, #signup_form #sign-step-three .secondaryAction {
  color: #778690;
}
/* line 189, ../scss/_sign.scss */
#sign #sign-step-three label[for=id_remember], #signup_form #sign-step-three label[for=id_remember] {
  vertical-align: middle;
}
/* line 192, ../scss/_sign.scss */
#sign #sign-step-three .signup-terms, #signup_form #sign-step-three .signup-terms {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 14px;
  color: #778690;
}
/* line 197, ../scss/_sign.scss */
#sign #sign-step-three .signup-terms a, #signup_form #sign-step-three .signup-terms a {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
/* line 203, ../scss/_sign.scss */
#sign .errorlist, #signup_form .errorlist {
  color: red;
  margin-top: -15px;
  margin-bottom: 15px;
  font-size: 14px;
}
/* line 209, ../scss/_sign.scss */
#sign .password_reset, #signup_form .password_reset {
  text-align: center;
}
/* line 212, ../scss/_sign.scss */
#sign .small-quote, #signup_form .small-quote {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8em;
  color: #778690;
}

/* line 220, ../scss/_sign.scss */
.data-block {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 420px;
  position: absolute;
  left: 50%;
  margin-left: -210px;
  box-sizing: border-box;
  top: 50%;
  margin-top: -100px;
  height: 200px;
  text-align: center;
  display: table;
}
/* line 234, ../scss/_sign.scss */
.data-block p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 18px;
  color: #778690;
}
/* line 240, ../scss/_sign.scss */
.data-block a {
  font-family: 'Open Sans', sans-serif;
}
/* line 243, ../scss/_sign.scss */
.data-block h1 {
  font-family: 'Open Sans', sans-serif;
  display: block;
  color: #4687fb;
  margin-bottom: 3px;
}
/* line 249, ../scss/_sign.scss */
.data-block > div {
  vertical-align: middle;
  display: table-cell;
}
