#sign, #signup_form{
    margin: 50px auto;
	h1{
		text-align: center;
		width: 100%;
		margin:50px 0;
		color:$grey-dark;
	}
	.back-arrow{
		width:50px;
		height:50px;
		@include border-radius(50px);
	    position: absolute;
	    left: 50%;
	    margin-left: -25px;
	    bottom: -80px;
	    cursor:pointer;
	    display:none;
	    &.step-three{
	    	bottom: -80px;
	    }
	}
	
	h2{
	    font-family: 'Open Sans', sans-serif;
	    text-align: center;
		width: 100%;
		color:$grey-dark;
		font-size:0.9em;
		margin-bottom:10px;
	}
	.left-rail, .right-rail{
		width:260px;
		float:left;
		position:relative;
		@include box-sizing(border-box);
		.step-two{
			position:absolute;
			top:0;
			left:0;
			width:220px;
			z-index: 0;
			display:none;
			@include box-sizing(border-box);
			@include border-radius(5px);
		}
		.step-one{
			position:relative;
			z-index:5;
		    width: 235px;
    		padding: 0 20px 20px 20px;
    		@include border-radius(5px);
    		.type-of-user{
				text-align: center;
				color:$grey-dark;
				font-family: 'Open Sans', sans-serif;
				font-size:0.75em;
    		}
    		.btn-wrapper{
    			button{
    				float:none;
				    display: table;
    				margin: 0 auto;
    			}
    		}
		}
		&.no-background{
			background:transparent;
			.step-one{
				background:transparent;
				border:1px solid #f7f8fa;
			}
			.student{
				@include background-position(-768px,-9px);
			}
			.professor{
				@include background-position(-938px,-9px);
			}
		}
	}
	.up-box, .down-box{
		width:220px;
		padding:30px;
		@include border-radius(5px);
		background-color:white;
		border:1px solid $grey-light;
		float:left;
		button{
			margin: 0 auto;
			float: none;
			display: table;
		}
	}
	.up-box{
		margin-bottom:20px;
	}
	.right-rail{
		float:right;
	}
	.btn-wrapper{
	    margin: 20px auto;
		display: table;
		float: none;
		padding:0;
	}
	#sign-step-one{
	    width: 100%;
    	max-width: 610px;
    	margin: 0 auto;
    	overflow: auto;
	}
	.sprite.student, .sprite.professor{
		width:170px;
		height:130px;
		margin:0 auto;
	}
	.sign-wrapper{
		width: 100%;
    	max-width: 610px;
		position:relative;
	    display: table;
    	margin: 0 auto;
	}
	#sign-step-one{
		margin: 30px auto 0 auto;
    	background-color:white;
    	@include border-radius(5px);
		border:1px solid $grey-light;
		@include box-sizing(border-box);
		padding: 30px;
		.title{
			font-family: 'Open Sans', sans-serif;
		    text-align: center;
		    font-size: 18px;
	    	margin-bottom:30px;
	    	color:$grey-dark;
		    span{
		    	font-family: 'Open Sans', sans-serif;
				display: block;
		    	color:$blue-normal;
		    	margin-bottom:3px;
		    }
		}
	}
	#sign-step-three{
    	width: 330px;
    	margin: 30px auto 0 auto;
    	background-color:white;
    	@include border-radius(5px);
		border:1px solid $grey-light;
		@include box-sizing(border-box);
		padding: 30px;
		.title{
			font-family: 'Open Sans', sans-serif;
		    text-align: center;
		    font-size: 18px;
	    	margin-bottom:30px;
	    	color:$grey-dark;
		    span{
		    	font-family: 'Open Sans', sans-serif;
				display: block;
		    	color:$blue-normal;
		    	margin-bottom:3px;
		    }
		}
		.primaryAction{
		    display: table;
    		margin: 20px auto 0 auto;
    		padding:10px 30px 11px 30px;
	@include border-radius(25px);
	background:$blue-normal;
	color:white;
	border:none;
	font-size:0.9em;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	@include transition-property(all);
	@include transition-duration(0.2s);
	@include transition-timing-function(ease-in);
	cursor:pointer;
	&:hover{
		color:white;
		background:#2769DE;
	}
    	}
    	.secondaryAction{
    		color:$grey-dark;
    	}
    	label[for=id_remember]{
    		vertical-align: middle;
    	}
    	.signup-terms {
    		font-family: 'Open Sans', sans-serif;
		    text-align: center;
		    font-size: 14px;
	    	color:$grey-dark;
	    	a {
	    		font-size: 14px;
	    		font-family: 'Open Sans', sans-serif;
	    	}
    	}
	}
	.errorlist {
		color: red;
		margin-top: -15px;
    	margin-bottom: 15px;
    	font-size: 14px;
	}
	.password_reset{
		text-align: center;
	}
	.small-quote{
		margin-top:20px;
		text-align: center;
		font-size:0.8em;
		color:$grey-dark;
	}
}

.data-block{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 420px;
    position: absolute;
    left: 50%;
    margin-left: -210px;
    box-sizing: border-box;
    top: 50%;
    margin-top: -100px;
    height: 200px;
    text-align: center;
    display:table;
    p{
	    font-family: 'Open Sans', sans-serif;
	    text-align: center;
	    font-size: 18px;
	    color: #778690;
    }
    a{
	    font-family: 'Open Sans', sans-serif;
    }
    h1{
	    font-family: 'Open Sans', sans-serif;
	    display: block;
	    color: #4687fb;
	    margin-bottom: 3px;
    }
    >div{
    	vertical-align: middle;
    	display:table-cell;
    }
}
