<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ site_name }}</title>
</head>

<body align="left" style="margin:0; padding:0; font-family: Arial, Sans Serif;" >
    <div class="data-block">
        <img src="http://res.cloudinary.com/hew3wx8d7/image/upload/v1496872377/sintactic-logo_uzxpcl.png">
        <p>
            {% load account %}{% user_display user as user_display %}{% load i18n %}{% autoescape off %}{% blocktrans with current_site.name as site_name %}
            Bienvenido a {{ site_name }}.
        </p>
        <p>
            Para confirmar tu dirección de email por favor ingresá al siguiente enlace: <a href="{{ activate_url }}">{{ activate_url }}</a>
            {% endblocktrans %}{% endautoescape %}
        </p>
    </div>
</body>
