<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ site_name }}</title>
</head>

<body align="left" style="margin:0; padding:0; font-family: Arial, Sans Serif;" >
    <div class="data-block">
        <img src="http://res.cloudinary.com/hew3wx8d7/image/upload/v1496872377/sintactic-logo_uzxpcl.png">
        <p>
            {% load i18n %}{% blocktrans with site.domain as site_domain %}

            <p>Hola, estás recibiendo este correo porque alguien solicitó recuperar la contraseña en Sintactic. Podés ignorar este correo si no fuiste vos. Hacé clic en el enlace de abajo para restablecer tu contraseña.</p>

            {% endblocktrans %}

        <p><a href="{{ password_reset_url }}">{{ password_reset_url }}</a></p>

    </div>
</body>
