{% extends "base.html" %}

{% block content %}

<div class="wrapper myprofile">

    <div class="section-title">Mi perfil</div>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="left-wrapper">
            <div class="image-content">
                <p>
                    <img src="{{ user_profile.avatar_url }}" width="200" height="auto">
                </p>
                <div class="add-image">
                    <label class="myLabel">
                        {{ form.avatar.errors }}
                        . {{ form.avatar }}
                    </label>
                </div>
            </div>
        </div>

        <div class="data-content">
            <div class="subsection-title">
                Mis datos
            </div>
            <div style="height:50px; width:100%;float:left;"></div>
                <div class="my-data">
                    <div class="user-mail">
                        <span class="mail">{{ user_profile.email }}</span>
                    </div>
                    <div class="user-mail">
                        <!--<div class="sprite user-icon {% if user_profile.es_docente %}professor{% else %}student{% endif %}"></div>-->
                        <span style="margin-top: -6px;">Estás registrado en Sintactic como {% if user_profile.es_docente %}docente{% else %}estudiante{% endif %}.</span>
                    </div>
                </div>
                <div>
                    {{ form.first_name.errors }}
                    {{ form.first_name.label_tag }} {{ form.first_name }}
                </div>
                <div>
                    {{ form.last_name.errors }}
                    {{ form.last_name.label_tag }} {{ form.last_name }}
                </div>
                <div>
                    {{ form.contact_number.errors }}
                    {{ form.contact_number.label_tag }} {{ form.contact_number }}
                </div>
                <input id="submit" class="btn-button" type="submit" name="submit" value="Guardar" />
                <a href="{% url 'docente_cursos' %}">
                    <div class="btn-button grey">
                        Cancelar
                    </div>
                </a>

                <a href="{% url 'account_change_password' %}" ><div class="btn-button password">Cambiar contraseña</div></a>

                <div class="picture-upload-message" style="display:none;">Este proceso puede tomar algunos minutos dependiendo del tamaño de la foto de perfil</div>

                {% if success %}<div class="alert success legend">{{ success }}</div>{% endif %}
                {% if error %}<div class="alert error legend">{{ error }}</div>{% endif %}

                <script type="text/javascript">
                    window.setTimeout(function() { $('.alert.success.legend').fadeOut(); }, 3000);
                    window.setTimeout(function() { $('.alert.error.legend').fadeOut(); }, 6000);
                </script>
        </div>
    </form>

    {% if mis_cursos.count > 0 %}
        <div class="myhouses-content">
            <div class="subsection-title">
                {% if user_profile.es_docente %}
                    Mis cursos
                {% else %}
                    Mis materias
                {% endif %}
            </div>
            <div style="height:50px; width:100%;float:left;"></div>
            <div class="wrapper-centered">
                <div id="group-box">
                    <ul class="group-item">
                        {% for curso in mis_cursos.all %}
                            <li>
                                <a href="{% url 'docente_carpetas' curso.id %}">
                                    <ul>
                                        <li class="number">{{ forloop.counter }}</li>
                                        <li class="curso">{{ curso.nombre }}</li>
                                        <li class="turno">{{ curso.code }}</li>
                                    </ul>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
</div>


{% endblock %}
