<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

<style>
body{margin:0;
	padding:0;
	background: url("http://res.cloudinary.com/hew3wx8d7/image/upload/v1497306884/class-raising-hands_cyg3vr.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Fira Sans', sans-serif;
}
.content {
	width:500px;
	position: absolute;
	top:50%;
    margin-top: -130px;
	text-align:center;
	color:white;
    width: 100%;
    padding: 20px;
    left: 0;
    margin-left: 0;
    box-sizing: border-box;
}
.content p{
    width: 100%;
	max-width: 500px;
	margin: 0 auto;
}
.contat > div{
	text-align:center;
	margin-bottom:20px;
}
p{
	font-size:1em;
	line-height: 25px;
	margin-top:40px;
}
strong{
	font-size:1.4em;
	font-weight:600;
    display: table;
	margin: 0 auto;
	padding-bottom:7px;
}
h1 {
    font-size: 7em;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
    margin-bottom: 0px;
    margin-top: 0px;
}

</style>

<script type="text/javascript">

var callback = function () {

	var cover  = $('#error')
		margin = $('.margin-top');

	$('html').css('height','100%');
	$('body').css('height','100%');
	margin.css('height','100%');
	margin.height(margin.height() - $('#footer').height())
	cover.css('height','100%');
};

$(document).ready(callback);
$(window).resize(callback);

</script>

<div id="error">
    <div class="content">
		<div><h1>404</h1>
		<p class="subtitle" style="padding-bottom: 0px!important; margin-bottom: 0px!important;">
            <strong>No se encontr&oacute; la p&aacute;gina que est&aacute;s buscando.</strong>Volv&eacute; a la
            <a href="{% url 'home' %}" style="color:white;">p&aacute;gina principal</a>.
        </p>
    </div>
</div>