<style>
body{margin:0;
	padding:0;
	background: url("http://res.cloudinary.com/hew3wx8d7/image/upload/v1497304470/500_mgurs1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Fira Sans', sans-serif;
}
.content {
	width:500px;
	position: absolute;
	top:50%;
    margin-top: -130px;
	text-align:center;
	color:white;
    width: 100%;
    padding: 20px;
    left: 0;
    margin-left: 0;
    box-sizing: border-box;
}
.content p{
    width: 100%;
	max-width: 500px;
	margin: 0 auto;
}
.contat > div{
	text-align:center;
	margin-bottom:20px;
}
p{	
	font-size:1em;
	line-height: 25px;
	margin-top:40px;
}
strong{
	font-size:1.4em;
	font-weight:600;
    display: table;
	margin: 0 auto;
	padding-bottom:7px;
}

</style>

<div id="error">
    <div class="content">
		<div><img src="http://res.cloudinary.com/hew3wx8d7/image/upload/v1497304467/500-number_dtbret.png" alt="Error 500"></div>
		<p class="subtitle" style="padding-bottom: 0px!important; margin-bottom: 0px!important;">
            <strong>Error Interno del Servidor</strong>Perd&oacute;n, algo sali&oacute; mal. Por favor intent&aacute; refrescando esta p&aacute;gina.
        </p>
    </div>
</div>