{% load static %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load compress %}

<!DOCTYPE html>

<html>

  <head>
    <title>{% block head_title %}Sintactic{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Overlock:300,400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/multiple-select.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.switchButton.css' %}" />

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>

    {% include "shared/_sprite.html" %}

    {% block extra_head %}
    {% endblock %}

    {% bootstrap_javascript jquery=True %}
    <script type="text/javascript" src="{% static 'js/cloudinary/jquery.cloudinary.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cloudinary/jquery.ui.widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cloudinary/jquery.iframe-transport.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cloudinary/jquery.fileupload.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-plugins/jquery.confirm.min.js' %}"></script>

    {% compress js %}
    <script type="text/javascript" src="{% static 'js/web-scripts.js' %}"></script>
    {% endcompress %}

    <script type="text/javascript" src="{% static 'js/multiple-select.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jquery.switchButton.js' %}"></script>

  </head>

  <body>
    {% block body %}
        {% include "shared/_header.html" %}
        <main>
        {% block content %}
        {% endblock %}
        </main>
        
        {% include "shared/_footer.html" %}
    {% endblock %}

    {% block extra_body %}
    {% endblock %}

    {% block script %}
    {% endblock %}

  </body>

</html>
