{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load account %}


<title>Sintactic</title>

{% block content %}

    <div>
        <script type="text/javascript" src="{% static 'js/_backstrech.js' %}"></script>
        <script type="text/javascript">

        $.backstretch("http://res.cloudinary.com/dvbxfq8qm/image/upload/v1454453451/class-raising-hands_yli6ea.jpg");

        </script>
            <div id="sign">
              <div class="sign-wrapper">
                <div id="sign-step-one">
                {% if user.is_authenticated %}
                    <p class="title"><span>¡Bienvenid@!</span></p>
                {% else %}
                    <p class="title"><span>¿Todavía no tenés una cuenta?</span>Registrate en 5 minutos</p>
                {% endif %}
                  <div class="left-rail">
                    <div class="step-one">
                      <div class="sprite student"></div>
                      <div class="btn-wrapper">
                        <a class="btn aqua" href="{% url 'account_signup' %}">
                          <button class="soy-alumno">Soy estudiante</button>
                        </a>
                      </div>
                        <p class="type-of-user">¡Registrate con tu email del colegio, pedile a tu docente que te proporcione el código de materia y empezá a resolver ejercicios!</p>
                    </div>
                  </div>
                  <div class="right-rail">
                    <div class="step-one">
                      <div class="sprite professor"></div>
                      <div class="btn-wrapper">
                        <a class="btn aqua" href="{% url 'account_signup' %}">
                          <button class="soy-profesor">Soy docente</button>
                        </a>
                      </div>
                        <p class="type-of-user">Registrate con tu email del colegio. Creá cursos, carpetas y ejercicios para tus estudiantes.</p>
                    </div>
                  </div>
                  <div class="sprite back-arrow step-one">
                  </div>
                </div>

                {% if not user.is_authenticated %}
                <div id="sign-step-three">
                  {% if socialaccount.providers  %}
                  <p>{% blocktrans with site.name as site_name %}Please sign in with one
                  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                  for a {{site_name}} account and sign in below:{% endblocktrans %}</p>

                  {% else %}
                  <p class="title"><span>¿Ya tenés una cuenta?</span>Ingresá a Sintactic</p>
                  {% endif %}

                  <form class="login" method="POST" action="{% url 'account_login' %}">
                      {% csrf_token %}
                      <p>
                          <label for="id_login">Correo electrónico:</label> <input id="id_login" name="login" type="email">
                          {{ form.login.errors }}
                      </p>
                      <p>
                          <label for="id_password">Contraseña:</label> <input id="id_password" name="password" type="password" style="margin-bottom: 5px;">
                          {{ form.password.errors }}
                      </p>
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}" style="margin-bottom:15px; float: left; width: 100%;">{% trans "¿Olvidaste tu contraseña?" %}</a>
                      <p>
                          <label for="id_remember">Recordarme:</label> <input id="id_remember" name="remember" type="checkbox">
                      </p>
                      {% if redirect_field_value %}
                          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                    <button class="primaryAction" type="submit">{% trans "Ingresar" %}</button>
                  </form>
                  <div class="sprite back-arrow step-three">
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
    </div>

{% endblock %}