{% extends "base.html" %}

{% block content %}

<div class="wrapper-centered">
        <div id="group-box">
            <div class="title">
                T&eacute;rminos y Condiciones
            </div>
            <div class="terms-and-conditions">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor est vitae mauris sagittis commodo. Aenean malesuada nisi nec lacus aliquam sagittis. Phasellus posuere enim sapien, in suscipit justo maximus at. Phasellus rutrum erat in odio volutpat posuere. Donec nec sagittis felis. Morbi risus nulla, pharetra ut metus ut, sodales efficitur ligula. Curabitur sollicitudin aliquam rutrum.</p>

                <p>Maecenas feugiat vehicula sapien eu faucibus. Nunc iaculis feugiat purus at sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed eget libero augue. Praesent et bibendum elit, dapibus placerat augue. Aliquam vitae enim ut magna molestie facilisis ut eget mauris. Vestibulum fermentum nunc sit amet augue imperdiet, vel ornare augue fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus venenatis maximus sagittis. Vestibulum in ligula sit amet elit facilisis ultricies. Fusce lobortis nisl vitae nisl facilisis dictum. Morbi ut justo ut orci euismod molestie. Fusce sit amet eros vulputate, porta enim vitae, aliquam tortor. Pellentesque tincidunt ornare leo, sed facilisis ipsum facilisis sed. Donec nec ex quis lorem lobortis sollicitudin.</p>

                <p>Suspendisse venenatis semper tempor. Curabitur porta bibendum tortor consectetur tempor. Nam et gravida risus, sit amet elementum sem. Curabitur vulputate mollis tellus non porttitor. Morbi a nulla pharetra, ornare felis ac, consequat nulla. Morbi mollis massa id nisl pharetra, a dapibus urna ultricies. Nulla consectetur eros est. Mauris ultrices, lectus sed porta auctor, justo erat porta justo, sed semper orci metus id purus. Duis porta fringilla gravida.</p>

                <p>Pellentesque pharetra, mauris eu dignissim varius, purus odio ullamcorper lectus, sit amet ultricies urna felis a massa. Curabitur interdum magna at feugiat euismod. Donec pharetra vel felis vel venenatis. Praesent eu lorem vestibulum, congue dui ac, auctor orci. Integer ultrices, lacus sed maximus convallis, nulla ante tempus turpis, eget venenatis sapien ante eu ipsum. Suspendisse venenatis est at est scelerisque, eu finibus tellus tempus. Nullam in pellentesque eros, sit amet iaculis neque. Aenean tincidunt metus risus, sed convallis metus auctor non. Fusce pretium posuere facilisis. Nunc efficitur metus id tristique mollis.</p>

                <p>Quisque eu pellentesque tortor, ac tempor nibh. Pellentesque ultricies diam eu pretium fringilla. Integer scelerisque magna dolor, quis ullamcorper lorem sagittis ultrices. Cras condimentum leo facilisis diam consectetur, eget vestibulum lacus cursus. Etiam tincidunt eu urna vitae tempor. Nulla laoreet iaculis lobortis. Vivamus fermentum libero vel nisl tempor condimentum. In at diam augue. Ut varius feugiat aliquet. Nulla risus augue, mollis in sodales vitae, egestas eget erat.</p>
            </div>
        </div>
    </div>

{% endblock %}
