html, body {height: 100%;}

body{
	position:relative;
}

.left{
	float:left;
	li{
		display:inline-block;
	}
}
.right{
	float:right;
	li{
		display:inline-block;
	}
}

.wrapper{
	max-width:960px;
	margin:0 auto;
	overflow:hidden;
}

main{
    min-height: -webkit-calc(100vh - 66px);
	min-height: -moz-calc(100vh - 66px);
	min-height: calc(100vh - 66px);
	overflow:hidden;
	&.load-exercise{
		
		min-height: initial;
	}
}

h1{
}

h2{
	color:$blue-dark;
}

h3{
	color:$grey-dark;
	text-transform:uppercase;
}


input[type=text], input[type=email], input[type=password], input[type=time], input[type=number], input[type=date], textarea{
	width:100%;
	border:1px solid $grey-normal;
	height: 36px;
	font-weight:400;
	@include border-radius(30px);
	margin-bottom:20px;
	background:transparent;
	padding-left:15px;
	font-size: 0.9em;
	font-family: 'Open Sans', sans-serif;
	@include transition-property(all);
	@include transition-duration(0.2s);
	@include transition-timing-function(ease-in);
	@include box-sizing(border-box);
	&:focus{
		border:1px solid $grey-dark;
	}
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus{
	background:white;
}

input[type=text]{
	@include input-placeholder {
    font-weight:400;
  }
}

label{
	color:$grey-dark;
	font-size:1em;
	font-weight:400;
	padding-bottom:4px;
	overflow:hidden;
	display:block;
	padding-bottom:3px;
	&[for=id_remember]{
		display:inline-block;
	}
}

select{
	-moz-appearance:none;
	-webkit-appearance: none;
	background:white;
	width:100%;
	font-size:0.8em;
	padding-left:10px;
	height: 32px;
	outline: none;
	border: 0;
   	@include border-radius(0);
   	background: transparent;
}

.select-arrow{
	margin-bottom:20px;
	width:10px;
	height:10px;
	width:100%;
	height:36px;
	border: 1px solid $grey-normal;
	@include border-radius(30px);
	background-repeat:no-repeat;
    background-position: 97%;
	background-image:url('http://res.cloudinary.com/hgxyf4ogf/image/upload/v1451844611/select-arrow_aqjkqc.png');
}

.soy-alumno, .soy-profesor, button {
    font-size: 15px;
}

.modal-dialog.modal-lg {
    padding: 0;
}

.modal-backdrop {
    z-index: 0;
}

.modal-dialog.modal-lg {
    margin: auto;
}

.confirmation-modal .modal-content {
    top: 40%!important;
}

.estudiantes-columna-borrar {
    width: 132px;
    color: $blue-normal;
}

.estudiantes-columna-borrar-text {
    vertical-align: middle;
}

.add-consigna {
    padding: 4px 15px 7px 13px;
    font-size: 0.8em;
    float: left;
}

#tabla-consignas-ejercicio {
    float: left;
}

.tabla-consignas-ejercicio-header {
    color: $blue-normal;
}

#boton-guardar-consigna {
    float: right;
    margin-right: 280px;
    margin-bottom: 20px;
}

.consigna-wrapper {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 25px;
}

#boton-cancelar-consigna {
    margin-right: 10px;
    float: right;
}

#div-tipo-actividad {
    width: 250px;
}

#consigna-1 {
    padding-top: 6px;
    height: 100px;
    resize: none;
}

#alert-space {
    float: left;
    margin-top: 120px;
}

.terms-and-conditions > p {
    padding-bottom: 15px;
}

#confirmar-mail {
    font-size: 0.9em;
    padding-bottom: 20px;
}

.modal-dialog {
    margin: 0px auto;
}