button, .btn-button{
	padding:10px 30px 11px 30px;
	@include border-radius(25px);
	background:$blue-normal;
	color:white;
	border:none;
	font-size:0.9em;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	@include transition-property(all);
	@include transition-duration(0.2s);
	@include transition-timing-function(ease-in);
	cursor:pointer;
	&:hover{
		color:white;
		background:#2769DE;
	}
	&#boton-omitir, &.agregar-oracion, &.grey{
		background:$grey-dark;
		&:hover{
			background:#627079;
		}
	}
	&.password{
		text-align: center;
		width:202px!important;
		float:right;
	}
}

.btn-wrapper{
    float: right;
    padding-right: 50px;
    position: relative;
    z-index: 20;
    width:100%;
    button{
    	float:right;
    }
}