$blue-darker: #25373f;
$blue-dark: #354a58;
$blue-normal: #4687fb;
$blue-light: #b3d5ef;

$orange-normal: #fca342;
$orange-light: #ffd1a4;



$grey-dark: #778690;
$grey-normal: #c9c9c9;
$grey-light: #ededed;


// errors

$green-back: #CAFFE0;
$green-border: #2dcc70;
$green-font: #04bf50;
$green-done: #3adb7e;

$red-back: #ee597b;
$red-light: #FFDFE6;