@mixin gradient($colorStart, $colorEnd) {
	@include ie-gradient($colorStart, $colorEnd);
	/* for ie10+ */
	background-image: linear-gradient(to bottom, $colorStart, $colorEnd);
	@include background-image(linear-gradient(top, $colorStart 0%, $colorEnd 100%));
}

@mixin ie-gradient($colorStart, $colorEnd) {
	/* for ie7, ie8 */
	filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='")
	+ ie-hex-str($colorStart)
	+ unquote("', endColorstr='")
	+ ie-hex-str($colorEnd)
	+ unquote("',GradientType=0)"); /* IE6-9 */
}

@mixin holy_opacity($value) {
	filter: quote(unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $value + unquote(")")));
	opacity: $value;
}

@mixin background-position($x,$y){
	/* FireFox */
	background-position: $x $y;
	/* Others */
	background-position-x: $x;
	background-position-y: $y;
}

@mixin cross-inline-block(){
	display:inline-block;
	*zoom:1; 			// ie7
	*display:inline;	// ie7
}

@mixin gray-image(){
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  /* For Webkit browsers */
  filter: gray;
}