/* global */
* 							{ margin:0; padding:0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Overlock', sans-serif;
    font-weight: 600;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* tags */

label,select,a 	 			{ cursor:pointer; }


/* custom */
.clear						{ clear:both; }
.input						{ border:1px solid #ccc; padding:2px; }
.page-break,.print-only		{ display:none; }
.point						{ cursor:pointer; }

/* links */
a							{ color:inherit; }
a:link, a:visited			{ color:inherit; text-decoration:none; }
a:hover, a:active			{ color:inherit; text-decoration:none; }
a img						{ border:0; }


textarea:focus, input:focus, button:focus{
    outline: 0;
}