// Header

.sintactic-logo{
	@include background-position(-11px,-12px);
}


// Footer

.uba-logo{
	@include background-position(-70px,-49px);
}

.cnba-logo{
	@include background-position(-133px,-50px);
}

// exercise

.folder{
	@include background-position(-12px,-104px);
}

.plus-icon{
	@include background-position(-44px,-84px);
}

.minus-icon{
	@include background-position(-14px,-84px);
}

.close-modal{
	@include background-position(-68px, -122px);
}

.edit-sentence{
	@include background-position(-87px,-122px);
}

.erase-sentence, .cancel-sentence, .erase-andamiaje{
	@include background-position(-68px,-122px);
}

.add-sentence, .add-andamiaje{
	@include background-position(-42px,-83px);
}

.save-sentence{
	@include background-position(-109px,-122px);
}

.student{
	@include background-position(-587px, -55px);
}

.professor{
	@include background-position(-937px, -55px);
}


.user-arrow{
	@include background-position(-17px, -126px);
	&.down{
		@include background-position(-17px, -142px);
	}
}

.user-icon{
	&.professor{
		@include background-position(-175px,-142px);
	}
	&.student{
		@include background-position(-230px,-141px);
	}
}
