@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?rn9oo6');
	src:url('../fonts/icomoon.eot?rn9oo6#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?rn9oo6') format('truetype'),
		url('../fonts/icomoon.woff?rn9oo6') format('woff'),
		url('../fonts/icomoon.svg?rn9oo6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bracket-left:before {
	content: "\e901";
}


.icon-bracket-right:before {
	content: "\e902";
}

.icon-bin:before {
	content: "\e900";
	display: none;
	width:33px;
	height:20px;
    padding-top: 15px;
	position:absolute;
	left:50%;
	margin-left:-16px;
    font-size: 0.75em;
    color:$grey-dark;
    z-index:1;
    cursor:pointer;
}

