{% extends "base.html" %}

{% load static %}

<title>Sintactic</title>

{% block content %}
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>

    <div class="wrapper-centered">
        <div id="group-box">
            <div class="title">
                Resoluciones de los estudiantes
                <div class="subtitle">
                    "{{ ejercicio.nombre }}"
                </div>
            </div>

            <ul class="group-item">
                {% if estudiantes.count > 0 %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Email</th>
                                <th>&Uacute;ltimo ingreso</th>
                                <th style="float: right;">
                                    Corregir
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for estudiante in estudiantes %}
                                <tr id="li-{{ estudiante.id }}">
                                    <td>{{ estudiante.fullname }}</td>
                                    <td>{{ estudiante.user.email }}</td>
                                    <td>{{ estudiante.last_login }}</td>
                                    <td class="sprite erase">
                                        <ul class="group-item">
                                            <li>
                                                <ul>
                                                    {% if estudiante.estado_resolucion_ejercicio != "pending" %}
                                                        <a href="{% url 'corregir_ejercicio' carpeta.id ejercicio.id estudiante.id 0 %}">
                                                    {% endif %}
                                                            <li class="sprite status {{ estudiante.estado_resolucion_ejercicio }}"
                                                                title="{% if estudiante.estado_resolucion_ejercicio != 'pending' %}Ver respuesta{% else %}Respuesta pendiente{% endif %}" style="margin-top: -3px;"></li>
                                                    {% if estudiante.estado_resolucion_ejercicio != "pending" %}
                                                        </a>
                                                    {% endif %}
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                No hay estudiantes en el curso.
            {% endif %}
        </div>

        <a href="{% url 'docente_ejercicios' carpeta.id %}" style="padding-left:10px;">
            <button id="boton-volver" style="margin-top:15px;">Volver</button>
        </a>
    </div>

{% endblock %}
