{% extends "base.html" %}

{% load static %}

<title>Sintactic</title>

{% block content %}
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>

    <div id="exercise-wrapper" class="ex-load">
        {% include "exercise/__ex_load.html" %}
    </div>

    {% block script %}
        <script type="text/javascript">
            function btn_position() {
                var btn = $('#exercise-wrapper').offset().top;
                $('.ex-btn').css('top', btn + 50 + 'px');
            }

            $(document).ready(function() {
                var window_height = $(window).height();
                var header_height = $('#header').height();
                var footer_height = $('#footer').height();
                $('#exercise-wrapper').height(window_height - header_height - footer_height - 16);

                btn_position();

                {% if not ejercicio %}
                    disable_boton_agregar_consigna();
                {% endif %}
            });
            $(window).resize(btn_position);
        </script>
    {% endblock %}

	</div>
{% endblock %}
