{% extends "base.html" %}

{% load static %}

<title>Sintactic</title>

{% block content %}
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>

    <div id="exercise-wrapper" class="left ex-load consigna-wrapper">
        {% include "exercise/__ex_consigna.html" %}
    </div>

    {% block script %}
        <script type="text/javascript">
            function btn_position() {
                var btn = $('#exercise-content').offset().top;
                $('.ex-btn').css('top', + btn + 50 + 'px');
            }

            $(document).ready(btn_position);
            $(window).resize(btn_position);

            var oracion = $('#texto-oracion').text();
            $('#input-oracion').val(oracion);
            guardar_oracion(oracion);

            init_seleccion_multiples_palabras();
        </script>
    {% endblock %}

{% endblock %}
