{% extends "base.html" %}

<title>Mis cursos</title>

{% block content %}

    <div class="wrapper-centered">
        <div id="group-box">
            <div class="title">
                {{ curso.nombre }}
                <div class="subtitle">
                    Carpetas
                </div>
            </div>
            <ul class="group-item">
                {% for carpeta in carpetas.all %}
                    <li id="li-{{ carpeta.id }}">
                        <ul>
                            <a href="{% url 'docente_ejercicios' carpeta.id %}"><li class="number">{{ forloop.counter }}</li></a>
                            <a href="{% url 'docente_ejercicios' carpeta.id %}"><li class="curso" id="carpeta-nombre-{{ carpeta.id }}">{{ carpeta.nombre }}</li></a>
                            <li class="sprite erase" id="boton-borrar-carpeta-{{ carpeta.id }}" title="Borrar"></li>
                            <li class="sprite copy" carpeta_id="{{ carpeta.id }}" carpeta_nombre="{{ carpeta.nombre }}" title="Copiar"></li>
                            <li class="sprite edit" carpeta_id="{{ carpeta.id }}" carpeta_nombre="{{ carpeta.nombre }}" title="Editar"></li>
                            <li class="sprite see-it{% if not carpeta.visible %} disabled{% endif %}" id="boton-mostrar-carpeta-{{ carpeta.id }}"
                                onclick="publicar_u_ocultar({{ carpeta.id }});" title="{% if carpeta.visible %}Ocultar{% else %}Publicar{% endif %}"></li>
                        </ul>
                        <script type="text/javascript">
                            init_borrar_carpeta({{ carpeta.id }}, "{{ carpeta.nombre }}");
                        </script>
                    </li>
                {% endfor %}

                {% if carpetas.count == 0 %}
                    No hay carpetas creadas
                {% endif %}
            </ul>
        </div>
        <div class="alert-space" style="display:none;" id="mensaje-general"></div>
        <div class="error-space-2 error-visible" style="display:none;" id="error-general"></div>
        <button id="boton-nueva-carpeta">Nueva carpeta</button>
        <a href="{% url 'docente_cursos' %}" style="padding-left:10px;"><button id="boton-volver-materias">Volver a mis cursos</button></a>
    </div>

    <div class="modal folder nueva-carpeta" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="sprite close-modal"></div>
                </div>
                <span class="title">
                    Crear una nueva carpeta
                    <span class="subtitle">
                        Nombre de la carpeta
                    </span>
                </span>
                <input type="text" id="nombre-nueva-carpeta" maxlength="50">
                <div class="error-space error-visible">
                </div>
                <button id="boton-crear-carpeta" onclick="crear_carpeta({{ curso.id }});">Crear</button>
            </div>
        </div>
    </div>

    <div style="display:none;" curso_id="{{ curso.id }}" id="curso_id"></div>

    <div class="modal folder editar-carpeta" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="sprite close-modal"></div>
                </div>
                <span class="title">
                    Editar carpeta
                    <span class="subtitle">
                        Nombre de la carpeta
                    </span>
                </span>
                <input type="text" id="nombre-carpeta" maxlength="50">
                <div class="error-space error-visible">
                </div>
                <button id="boton-editar-carpeta-guardar">Guardar</button>
                <button id="boton-editar-carpeta-cancelar" style="background: #778690;">Cancelar</button>
            </div>
        </div>
    </div>

    <div class="modal folder copiar-carpeta" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="sprite close-modal"></div>
                </div>
                <span class="title">
                    Copiar carpeta
                    <span id="nombre-carpeta-a-copiar" class="subtitle"></span>
                </span>
                Curso a donde copiar la carpeta:
                <select id="curso-donde-copiar">
                    {% for curso in user_profile.cursos.all %}
                        <option value="{{ curso.id }}">{{ curso.nombre }}</option>
                    {% endfor %}
                </select>
                <div class="error-space error-visible">
                </div>
                <button id="boton-copiar-carpeta-ok">Copiar</button>
                <button id="boton-copiar-carpeta-cancelar" style="background: #778690;">Cancelar</button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            set_background_color();

            init_modal_crear_carpeta();
            init_modal_editar_carpeta();
            init_modal_copiar_carpeta();
        });

        var item_creado = false;
    </script>

{% endblock %}
