{% extends "base.html" %}

<title>Mis cursos</title>

{% block content %}

    <div class="wrapper-centered depth">
        <div id="group-box">
            <div class="title">
                Mis cursos
            </div>
            <ul class="group-item">
                {% for curso in cursos.all %}
                    <li id="li-{{ curso.id }}">
                        <ul>
                            <a href="{% url 'docente_carpetas' curso.id %}"><li class="number">{{ forloop.counter }}</li></a>
                            <a href="{% url 'docente_carpetas' curso.id %}"><li class="curso" id="curso-nombre-{{ curso.id }}">{{ curso.nombre }}</li></a>
                            <li class="sprite erase" id="boton-borrar-curso-{{ curso.id }}"></li>
                            <li class="sprite edit" curso_id="{{ curso.id }}" curso_nombre="{{ curso.nombre }}"></li>
                            <a href="{% url 'docente_ver_estudiantes_curso' curso.id %}"><li class="ver-alumnos">Ver estudiantes</li></a>
                            <li class="turno-center">{{ curso.code }}</li>
                        </ul>
                        <script type="text/javascript">
                            init_borrar_curso({{ curso.id }}, "{{ curso.nombre }}");
                        </script>
                    </li>
                {% endfor %}

                {% if cursos.count == 0 %}
                    No hay cursos creados
                {% endif %}
            </ul>
        </div>
        <div class="error-space error-visible" style="display:none;" id="error-general"></div>
        <button id="boton-nuevo-curso">Nuevo curso</button>
    </div>

    <div class="modal folder nuevo-curso" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="sprite close-modal"></div>
                </div>
                <span class="title">
                    Crear un nuevo curso
                    <span class="subtitle">
                        Nombre del curso
                    </span>
                </span>
                <input type="text" maxlength="50" id="nombre-nuevo-curso">
                <div class="error-space error-visible">
                </div>
                <button id="boton-crear-curso" onclick="crear_curso();">Crear</button>
                <button id="boton-crear-curso-cerrar" style="display: none" onclick="recargar_pagina();">Cerrar</button>
            </div>
        </div>
    </div>

    <div class="modal folder editar-curso" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="sprite close-modal"></div>
                </div>
                <span class="title">
                    Editar curso
                    <span class="subtitle">
                        Nombre del curso
                    </span>
                </span>
                <input type="text" id="nombre-curso" maxlength="50">
                <div class="error-space error-visible">
                </div>
                <button id="boton-editar-curso-guardar">Guardar</button>
                <button id="boton-editar-curso-cancelar" style="background: #778690;">Cancelar</button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            set_background_color();

            init_modal_crear_curso();
            init_modal_editar_curso();
        });

        var item_creado = false;
        var curso_editado_id = null;
    </script>

{% endblock %}
