{% extends "base.html" %}

{% block content %}

    <div class="wrapper-centered">
        <div id="group-box">
            <div class="title">
                {{ curso.nombre }}
                <div class="subtitle">
                    Ejercicios
                    <div class="folder-in">
                        <a href="{% url 'docente_carpetas' curso.id %}">
                            {{ carpeta.nombre }}
                            <div class="sprite folder"></div>
                        </a>
                    </div>
                </div>
            </div>
            <ul class="group-item">
                {% for ejercicio in ejercicios.all %}
                    <li id="li-{{ ejercicio.id }}">
                        <ul>
                            <a href="{% url 'ejercicio_general' ejercicio.id 0 %}"><li class="number">{{ forloop.counter }}</li></a>
                            <a href="{% url 'ejercicio_general' ejercicio.id 0 %}"><li class="curso">{{ ejercicio.nombre|truncatechars:70 }}</li></a>
                            <li class="sprite erase" id="boton-borrar-ejercicio-{{ ejercicio.id }}" title="Borrar"></li>
                            <a href="{% url 'ejercicio_nuevo' carpeta.id ejercicio.id %}"><li class="sprite edit" title="Editar"></li></a>
                            <a href="{% url 'corregir_ejercicios' carpeta.id ejercicio.id %}"><li class="sprite status correct" title="Corregir"></li></a>
                        </ul>
                        <script type="text/javascript">
                            init_borrar_ejercicio({{ ejercicio.id }}, "{{ ejercicio.nombre }}");
                        </script>
                    </li>
                {% endfor %}

                {% if ejercicios.count == 0 %}
                    No hay ejercicios creados
                {% endif %}
            </ul>
        </div>
        <a href="{% url 'ejercicio_nuevo' carpeta.id %}">
            <button>Nuevo ejercicio</button>
        </a>
        <a href="{% url 'docente_carpetas' curso.id %}" style="padding-left: 7px;">
            <button id="boton-atras">Atrás</button>
        </a>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            set_background_color();
        });
    </script>

{% endblock %}
