{% extends "base.html" %}

{% block content %}

    <div class="wrapper-centered">
        <div id="group-box">
            <div class="title">
                Estudiantes de {{ curso.nombre }}
            </div>
            {% if estudiantes.count > 0 %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>&Uacute;ltimo ingreso</th>
                                <th class="estudiantes-columna-borrar">
                                    <a href="#">
                                        <span class="estudiantes-columna-borrar-text">Borrar todos</span>
                                        <ul class="group-item" style="float: right;">
                                            <li>
                                                <ul>
                                                    <li class="sprite erase" style="margin-top: 0px;" id="boton-borrar-todos-estudiantes"></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </a>
                                </th>
                                <script type="text/javascript">
                                    init_borrar_todos_estudiantes("{{ curso.nombre }}", {{ curso.id }});
                                </script>
                            </tr>
                        </thead>
                        <tbody>
                            {% for estudiante in estudiantes.all %}
                                <tr id="li-{{ estudiante.id }}">
                                    <td>{{ estudiante.fullname }}</td>
                                    <td>{{ estudiante.last_login }}</td>
                                    <td class="sprite erase">
                                        <a href="#">
                                            <ul class="group-item">
                                                <li>
                                                    <ul>
                                                        <li class="sprite erase" style="margin-top: 0px;" id="boton-borrar-estudiante-{{ estudiante.id }}"></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </a>
                                    </td>
                                </tr>
                                <script type="text/javascript">
                                    init_borrar_estudiante({{ estudiante.id }}, "{{ estudiante.fullname }}", "{{ curso.nombre }}", {{ curso.id }});
                                </script>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                No hay estudiantes en el curso.
            {% endif %}
        </div>
        <a href="{% url 'docente_cursos' %}" style="padding-left: 7px;">
            <button id="boton-atras">Atrás</button>
        </a>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            set_background_color();
        });
    </script>

{% endblock %}
