<div id="footer">
	<div class="left">
		<div class="sprite uba-logo">
		</div>
		<div class="sprite cnba-logo">
		</div>
	</div>
	<div class="right">
		<ul>
			<li><a href="{% url 'terminos_y_condiciones' %}">T&eacute;rminos y Condiciones</a></li>
		</ul>
	</div>
</div>