<div id="header">
	<div class="left">
		<a href="{% url 'home' %}">
			<div class="sprite sintactic-logo"></div>
		</a>
		{% if user.is_authenticated %}
			<ul class="right-menu">
				<li>
					{% if user_profile.es_docente %}
						<a href="{% url 'docente_cursos' %}">Mis cursos</a>
					{% else %}
						<a href="{% url 'estudiante_cursos' %}">Mis materias</a>
					{% endif %}
				</li>
			</ul>
		{% endif %}
	</div>
	<div class="right">
		<ul class="user-menu">
			{% if user.is_authenticated %}
				<li style="padding-left:5px;">
					<div class="sprite user-arrow">
						
					</div>
				</li>
				<li class="text">
						{{ user.first_name }}
				</li>
				<li class="img">
					<img src="{{ user_profile.avatar_url }}" alt="tu-foto" width="50" height="50">
				</li>
			{% else %}
				<li class="text">
					<a href="{% url 'account_login' %}">Ingresar</a>
				</li>
			{% endif %}
		</ul>
		<ul class="user-dropdown">
			{% if user.is_authenticated %}
				<a href="{% url 'mi_perfil' %}"><li>Mi perfil</li></a>
				<a href="{% url 'account_logout' %}"><li>Cerrar sesión</li></a>
        	{% endif %}
		</ul>
	</div>
</div>



<script type="text/javascript">

	$('#header .user-menu').click(function(event){
		event.stopPropagation();
		var menu = $('.user-menu .user-arrow');
		if(menu.hasClass('down')){
			$('.user-dropdown').animate({'bottom':'-140px', 'opacity':'0'}, 200, function() {
					$('.user-dropdown').hide();
				}
			);
			$('.user-menu .user-arrow').removeClass('down');
		}else{
			$('.user-dropdown').show().animate({'bottom':'-97px', 'opacity':'1'}, 200);
			$('.user-menu .user-arrow').addClass('down');
		}
	});

	$('html').click(function() {
		$('.user-dropdown').animate({'bottom':'-100px', 'opacity':'0'}, 200,
			function(){
				$('.user-dropdown').hide();
			}
		);
		$('.user-menu .user-arrow').removeClass('down');
	});

</script>