#footer{
	background-color: $blue-normal;
	width:100%;
	padding:6px 20px;
	overflow: hidden;
    position: relative;
    z-index: -1;
    @include box-sizing(border-box);
    color:$grey-light;
	.uba-logo, .cnba-logo{
		width:59px;
		height:55px;
		float:left;
	}
	.right{
		ul{
		    padding-top: 17px;
		    li{
		    	padding-left:15px;
		    	a {
		    		@include transition-property(color);
					@include transition-duration(0.2s);
					@include transition-timing-function(ease-in);
		    		&:hover{
		    			color:white;
		    		}
				    color:$grey-light;
			        font-family: 'Open Sans', sans-serif;
			        font-size:0.9em;
		    	}
		    }
		}
	}
}