#header{
	background-color: $blue-normal;
	width:100%;
	padding:2px 20px;
	overflow: visible;
	@include box-sizing(border-box);
	height:66px;
	.sintactic-logo{
		width:109px;
		height:36px;
		float:left;
		cursor:pointer;
	}
	.left{
	    padding-top: 12px;
	    .right-menu{
    	    float: left;
		    color: white;
		    margin-top: 8px;
		    margin-left: 30px;
	    }
	}
	.right{
		position: relative;
		ul{
		    padding-top: 7px;
		    li{
		    	padding-left:15px;
		    	a {
		    		@include transition-property(color);
					@include transition-duration(0.2s);
					@include transition-timing-function(ease-in);
		    		&:hover{
		    			color:white;
		    		}
				    color:$grey-light;
			        font-family: 'Open Sans', sans-serif;
			        font-size:0.9em;
		    	}
		    }
		    &.user-menu{
		    	cursor:pointer;
		    	color:white;
		    	overflow: auto;
		    	li{
		    		float:right;
		    		.user-arrow{
		    			width:10px;
		    			height:10px;
	    			    margin-top: 17px;
		    		}
		    	}
		    	li.text{
	    		    padding-top: 12px;
		    	}
		    	li.img{
		    		overflow: hidden;
		    		@include border-radius(50px);
		    		background-color:$grey-light;
		    		width:50px;
		    		height:50px;
	    		    padding: 0;
	    		    margin-left:10px;
		    		img{
		    			float: left;
		    			font-size: 0.6em;
		    		}
		    	}
		    }
		    &.user-dropdown{
	  			position:absolute;
  			    bottom: -140px;
    			right: 0px;
    			@include opacity(0);
    			display: none;
    			background-color:$blue-darker;
    			@include border-radius(3px);
    			width: 110px;
    			text-align: center;
    			padding-top:0;
    			z-index:100;
    			li{
				    font-size: 0.9em;
    				font-weight: 600;	
    				padding-left:0;
    				width:100%;
    				margin:0;
    				float: left;
    				text-align:center;
    				color:white;
					height: 40px;
					line-height: 40px;
					@include transition-property(all);
					@include transition-duration(0.1s);
					@include transition-timing-function(ease-in);
					&:hover{
						background-color:#162931;
					}
    			}
	  		}
		}
	}
}