{% load static %}

<script type="text/javascript" src="{% static 'js/jquery.flexibleArea.js' %}"></script>

<script type="text/javascript">
    $(function() {
        $('.textarea').flexible();
    });
    $('main').addClass('load-exercise');
</script>

<div id="exercise-header" class="load">
    <div class="title">
        <h2>Nuevo Ejercicio</h2>
    </div>
</div>


<div id="load-exercise">
    <div class="input-pack">
        <label for="nombre-ejercicio">
            Nombre
        </label>
        <input type="text" maxlength="100" id="nombre-ejercicio" {% if ejercicio %}value="{{ ejercicio.nombre }}"{% endif %}>
        <div class="error-space" id="error-nombre-ejercicio" style="display: none;">
            Este campo es obligatorio
        </div>
    </div>
    <div class="input-pack">
        <label for="select-group">
            Curso
        </label>
        <div class="select-arrow">
            <select name="" id="select-group" onchange="actualizar_carpetas_en_select();">
                <option value="" disabled selected>Seleccioná el curso</option>
                {% for curso in profesor.cursos.all %}
                    <option value="{{ curso.id }}">{{ curso.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="error-space" id="error-select-group" style="display: none;">
            Este campo es obligatorio
        </div>
    </div>
    <div class="input-pack" style="display:none;">
        <label for="select-folder-{{ curso.id }}" style="display:none;" id="label-carpeta">
            Carpeta
        </label>
        {% for curso in profesor.cursos.all %}
            <div class="select-arrow cursos" style="display:none;" id="div-folder-{{ curso.id }}">
                <select name="" id="select-folder-{{ curso.id }}">
                    <option value="" disabled selected>Seleccioná la carpeta</option>
                    {% for carpeta in curso.carpetas.all %}
                        <option value="{{ carpeta.id }}">{{ carpeta.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}
        <div class="error-space" id="error-select-carpetas" style="display: none;">
            Este campo es obligatorio
        </div>
    </div>
    <!--
    <div class="input-pack">
        <label for="select-categorias">
            Categorías
        </label>
        <div class="select-arrow">
          <select class="multiple" multiple="multiple" id="select-categorias">
              {% for categoria in categorias.all %}
                 <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
              {% endfor %}
          </select>
        </div>
        <div class="error-space" id="error-select-categorias" style="display: none;">
            Este campo es obligatorio
        </div>
    </div>
    -->

    <div class="input-pack">
        <label for="input-oracion">
            Oraci&oacute;n
        </label>
        <div>
            <input id="input-oracion" class="sentence-input" type="text" placeholder="Escribí una nueva oración a analizar" maxlength="2048"></div>
        </div>
        <div class="error-space" id="error-oracion" style="display: none;">
            Este campo es obligatorio
        </div>
    </div>

    <div class="wrapper-centered" style="margin-left: 130px; margin-top: 0px; display: block;">
        <label id="label-consignas">
            Consignas
        </label>
        {% if ejercicio.consignas %}
            <div id="group-box" style="border: 0px;">
                <div class="table-responsive" id="tabla-consignas-ejercicio">
                    <table class="table">
                        <thead class="tabla-consignas-ejercicio-header">
                            <td>#</td>
                            <td>Consigna</td>
                            <td></td>
                        </thead>
                        <tbody>
                            {% for consigna in ejercicio.consignas %}
                                <tr id="tr-{{ ejercicio.id }}-{{ consigna.numero }}">
                                    <td>{{ consigna.numero }}</td>
                                    <td>{{ consigna.string|truncatechars:80 }}</td>
                                    <td class="sprite erase">
                                        <a href="#">
                                            <ul class="group-item">
                                                <li>
                                                    <ul>
                                                        <li class="sprite erase" style="margin-top: 0px;" id="boton-borrar-consigna-{{ ejercicio.id }}-{{ consigna.numero }}"></li>
                                                        <a href="{% url 'editar_consigna' ejercicio.id consigna.numero %}"><li class="sprite edit" style="margin-top: 0px;" id="boton-editar-consigna-{{ consigna.id }}"></li></a>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </a>
                                    </td>
                                </tr>
                                <script type="text/javascript">
                                    registrar_borrar_consigna({{ ejercicio.id }}, {{ consigna.numero }});
                                </script>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div style="padding-top: 10px;"></div>
        {% endif %}
    </div>

    <div class="error-space" id="error-consignas" style="display: none;">
        Este campo es obligatorio
    </div>

    <div style="margin-left: 130px; margin-top: 0px; display: block;">
        <a href="{% if ejercicio %}{% url 'nueva_consigna' ejercicio.id %}{% else %}#{% endif %}" id="link-boton-agregar-consigna">
            <button class="add-consigna" id="boton-agregar-consigna"
                style="{% if ejercicio.consignas %}margin-left: 50px;{% else %}margin-left: 10px;{% endif %}"
                onclick="guardar_nuevo_ejercicio();"
                {% if not ejercicio %}title="Guardar el ejercicio para poder agregar consignas"{% endif %}>Agregar consigna</button>
        </a>
    </div>

    <div class="alert-space" style="display: none;" id="alert-space"></div>
    <div class="btn-wrapper" style="margin-top:50px; margin-bottom: 100px;">
        <button onclick="guardar_nuevo_ejercicio();" style="margin-left:20px;" id="boton-guardar">Guardar</button>
        <a href="{% if ejercicio %}{% url 'ejercicio_general' ejercicio.id 0 %}{% else %}#{% endif %}"><button class="another-item" id="boton-ver-ejercicio"
                style="{% if not ejercicio %}display:none; {% endif %}margin-left:20px;">Ver ejercicio</button></a>
        <button onclick="volver_a_carpeta(carpeta_id_volver);" class="another-item grey" style="margin-right:10px;" id="boton-volver">Volver</button>
    </div>

<div style="display:none;" id="texto-oracion">{{ ejercicio.oracion.string }}</div>

<script type="text/javascript">
    $('select.multiple').multipleSelect();

    $('.cancel-sentence').click(function(){
        $(this).parent().fadeOut();
    });

    $(function() {
      $('#basic.demo input').switchButton({
        on_label: 'Incorrecta',
        off_label: 'Correcta'
      });
    });

    var BIG_NUMBER = 100000;
    var top_attr_new_word_property_wrapper = BIG_NUMBER;
    var respuestas_parciales = new Array();
    var INCREMENTO_VERTICAL = 24;
    var start_value = null;
    var end_value = null;
    var consigna_type = null;
    var numero_respuesta = 1;
    var ejercicio_id = null;
    var es_pantalla_carga_ejercicio = true;
    var andamiajes = new Array();
    var hay_andamiaje_respuesta_correcta = false;
    var andamiaje_id_counter = 1;
    var categorias_guardadas = new Array();

    {% if carpeta %}
        var curso_id = {{ carpeta.curso.id }};
        var carpeta_id = {{ carpeta.id }};
        var carpeta_id_volver = {{ carpeta.id }};
        init_select_group_carga_ejercicio(curso_id);
    {% else %}
        var curso_id = null;
        var carpeta_id = null;
        var carpeta_id_volver = null;
        $('#boton-volver').hide();
    {% endif %}

    {% if ejercicio %}
        ejercicio_id = {{ ejercicio.id }};
        var respuestas_parciales = new Array();

        {% for categoria in ejercicio.categorias.all %}
             categorias_guardadas.push("{{ categoria.id }}");
        {% endfor %}

        var oracion = $('#texto-oracion').text();
        init_edicion_ejercicio(consigna_type, oracion, respuestas_parciales, "");
    {% endif %}

    $(document).ready(function() {
        $('.ex-load').css('overflow', 'auto');
        $('#input-oracion').show();

        $(document).trigger("setup_divs_respuestas", [true]);

        $('#input-oracion').show();
    });

</script>
