<div id="andamiaje" class="correct" style="display:none;">
	<div class="sprite professor-picture">
		
	</div>
	<div class="professor-explanation">
		<div class="sprite box-arrow"></div>
		<span id="texto-andamiaje"></span>
	</div>
</div>