<ul class="exercise-record">
	{% for consigna in ejercicio.consignas reversed %}
		<li id="record-consigna-{{ consigna.numero }}" style="display:none;">
			<ul>
				<li class="title">
					<div class="sprite minus-icon">
					</div>
					Consigna {{ consigna.numero }}
				</li>
				{% for palabra in ejercicio.oracion.palabras.all %}
					<li id="record-consigna-{{ consigna.numero }}-palabra-{{ palabra.posicion }}"></li>
				{% endfor %}
			</ul>
		</li>
	{% endfor %}
</ul>


{% block script %}

<script type="text/javascript">

	var record_alturas_consignas = {};
	init_record();

</script>


{% endblock %}