<div id="exercise-content">
	<p class="full-sentense">{{ ejercicio.oracion.string }}</p><div class="property-box-up"></div><p class="split-sentence"></p>
    <div class="property-box-down"></div>
</div>

<footer>
    <div class="btn-wrapper">
        <button id="boton-omitir">Omitir</button>
        {% if es_docente %}
            <a href="{% url 'corregir_ejercicio' ejercicio.carpeta.id ejercicio.id user_profile.id consigna.numero %}" id="boton-siguiente">
                <button>Siguiente</button>
            </a>
        {% else %}
            <button onclick="siguiente_en_ejercicio({% if es_docente %}true{% else %}false{% endif %}, false, true);" id="boton-siguiente">Siguiente</button>
        {% endif %}
        <button onclick="window.location = '{% if user_profile.es_docente %}{% url 'docente_ejercicios' ejercicio.carpeta.id %}{% else %}{% url 'estudiante_ejercicios' ejercicio.carpeta.id %}{% endif %}';"
                id="boton-finalizar" style="display:none;">Finalizar</button>
    </div>
    <div class="alert-rail">
        <span class="error" style="display:none;"></span>
    </div>

    <div style="display:none;" id="texto-oracion">{{ ejercicio.oracion.string }}</div>
</footer>

{% include "exercise/__ex_andamiaje.html" %}



{% block script %}

	<script type="text/javascript">
		init_ejercicio();

        var consigna_actual = {% if consigna %}{{ consigna.numero }}{% else %}1{% endif %};
        var cantidad_consignas = {{ ejercicio.consignas|length }};
        var consigna_type = $('#type-consigna-' + consigna_actual).val();

        var respuestas_parciales = new Array();
        var ejercicio_id = {{ ejercicio.id }};
        var palabras = new Array();
        var numero_respuesta = 1;
        var respuesta_correcta_andamiaje = false;
        var es_pantalla_carga_ejercicio = false;

        var start_value = null;
        var end_value = null;

        var BIG_NUMBER = 100000;
        var top_attr_new_word_property_wrapper = BIG_NUMBER;
        var INCREMENTO_VERTICAL = 24;

        {% for palabra in ejercicio.oracion.palabras.all %}
            palabras.push("{{ palabra.string }}");
        {% endfor %}

        $(document).ready(function() {
            // mostrar la primera consigna
            $('#exercise-subtitle-1').show();

            init_seleccion_multiples_palabras(true);
        });
	</script>

{% endblock %}