<div id="exercise-header">
	<div class="title">
			{% if es_docente %}
				<a href="{% url 'docente_ejercicios' ejercicio.carpeta.id %}">
			{% else %}
				<a href="{% url 'estudiante_ejercicios' ejercicio.carpeta.id %}">
			{% endif %}
			<h3>{{ ejercicio.carpeta.curso.nombre }} / {{ ejercicio.carpeta.nombre }}</h3>
			<span class="sprite folder"></span>
		</a>
		<h2>{{ ejercicio.nombre }}</h2>
	</div>
	<ul class="steps">
		<li class="number sprite this">
			1
		</li>
		{% for consigna in ejercicio.consignas %}
			{% if consigna.numero >= 2 %}
				<li class="line-space next"></li>
				<li class="number next" id="consigna-{{ consigna.numero }}">
					{{ consigna.numero }}
				</li>
			{% endif %}
		{% endfor %}
	</ul>

	{% if es_docente %}
		<div class="title" id="corrigiendo">
			(Corrigiendo a {{ estudiante.fullname }})
		</div>
	{% endif %}
</div>

{% for consigna in ejercicio.consignas %}
	<div id="exercise-subtitle-{{ consigna.numero }}" class="exercise-subtitle" style="display:none;">
		<input type="hidden" id="type-consigna-{{ consigna.numero }}" value="{{ consigna.type }}">
		<h2>Consigna {{ consigna.numero }}</h2>
		<h1>{{ consigna.string }}</h1>
	</div>
{% endfor %}

<script type="text/javascript">

	{% include "exercise/__ex_load_consigna.html" %}

	$(document).ready(function() {
        $('#exercise-wrapper').css('width', 'calc(100% - 240px)');
    });

</script>
