<div class="input-pack">
    <label for="">
        Consigna {{ numero_consigna }}
    </label>
    <textarea class="textarea" type="text" maxlength="2048" id="consigna-1" >{% if consigna %}{{ consigna.string }}{% endif %}</textarea>
    <div class="error-space" id="error-consigna" style="display: none;">
        Este campo es obligatorio
    </div>
</div>
<div class="input-pack" id="div-tipo-actividad">
    <label for="select-tipo-actividad">
        Tipo de actividad
    </label>
    <div class="select-arrow">
        <select name="" id="select-tipo-actividad" onchange="actualizacion_tipo_actividad();"
            {% if consigna %}disabled style="opacity: 0.5;"{% endif %}>
            <option value="" disabled selected>Seleccioná el tipo de actividad</option>
            <option value="0">Clase de palabra</option>
            <option value="1">Análisis morfológico</option>
            <option value="2">Análisis sintáctico sin andamiaje</option>
            <option value="3">Análisis sintáctico con andamiaje</option>
            <!--<option value="4">Análisis sintáctico recursivo</option>-->
        </select>
    </div>
    <div class="error-space" id="error-select-tipo-actividad" style="display: none;">
        Este campo es obligatorio
    </div>
</div>
<div class="sentence-ok" style="display:none;">
    <div id="exercise-content">
        <p class="full-sentense" id="sentence-display"></p><div class="property-box-up"></div><p class="split-sentence"></p>
        <div class="property-box-down"></div>
    </div>
</div>
<input id="input-oracion" class="sentence-input" type="text" placeholder="Escribí una nueva oración a analizar" maxlength="2048">
<div id="guardar-oracion" class="sprite add-sentence" onclick="guardar_oracion();" style="display: none;"></div>
<div class="error-space" id="error-oracion" style="display: none;"></div>
</div>
<div class="con-andamiaje" style="display:none;">
    <div>
        <div class="wrapper" id="andamiajes">
            {% if ejercicio and consigna %}
                {% if consigna.es_consigna_andamiaje %}
                    {% for andamiaje in consigna.andamiajes.all %}
                        <ul class="andamiajes correct" id="E-{{ andamiaje.acierto.id }}">
                            <li>
                                <h1>{{ andamiaje.acierto.mensaje }}</h1>
                                <h2 id="acierto-{{ andamiaje.acierto.id }}"></h2>
                                <span>
                                    {% for palabra in andamiaje.acierto.palabras.all %}
                                        {{ palabra.string }}
                                    {% endfor %}
                                </span>
                                <div class="sprite erase-andamiaje" onclick="borrar_andamiaje_existente('E-{{ andamiaje.acierto.id }}');"></div>
                            </li>
                        </ul>
                        <script type="text/javascript">
                            render_abreviatura("acierto-{{ andamiaje.acierto.id }}", {{ andamiaje.acierto.opcion }});
                        </script>
                        {% for error in andamiaje.errores.all %}
                            <ul class="andamiajes incorrect" id="E-{{ error.id }}">
                                <li>
                                    <h1>{{ error.mensaje }}</h1>
                                    <h2 id="error-{{ error.id }}"></h2>
                                    <span>
                                        {% for palabra in error.palabras.all %}
                                            {{ palabra.string }}
                                        {% endfor %}
                                    </span>
                                    <div class="sprite erase-andamiaje" onclick="borrar_andamiaje_existente('E-{{ error.id }}');"></div>
                                </li>
                            </ul>
                            <script type="text/javascript">
                                render_abreviatura("error-{{ error.id }}", {{ error.opcion }});
                            </script>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="item-andamiaje">
        <div class="wrapper">
            <div class="quote">
                <span>Nuevo andamiaje</span>
Seleccioná una o más palabras de la oración, elegí una respuesta de la barra de herramientas, escribí el
mensaje a mostrar e indicá si se trata de una andamiaje para respuesta correcta o incorrecta.
            </div>
            <label for="">
                Mensaje
            </label>
            <textarea id="mensaje-andamiaje" class="message-input textarea" type="text" placeholder="Escribí las indicaciones del mensaje" maxlength="2048"></textarea>
            <label for="">
                Respuesta
            </label>
            <div class="demo" id="basic">
                <input type="checkbox" value="0" checked>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="nuevo-andamiaje" onclick="agregar_andamiaje();">
            <div class="sprite add-andamiaje"></div>agregar andamiaje
        </div>
    </div>
    <div class="error-space" id="error-andamiaje" style="display: none;"></div>

</div>

{% include "exercise/__ex_toolbar.html" %}

<div id="div-buttons-load-ex">
    {% if consigna %}
        <button onclick="guardar_consigna({{ ejercicio.carpeta.id }}, {{ ejercicio.id }}, {{ consigna.numero }});" id="boton-guardar-consigna">Guardar</button>
    {% else %}
        <button onclick="guardar_consigna({{ ejercicio.carpeta.id }}, {{ ejercicio.id }}, 0);" id="boton-guardar-consigna">Guardar</button>
    {% endif %}
    <a href="{% url 'ejercicio_nuevo' ejercicio.carpeta.id ejercicio.id %}"><button class="another-item grey" id="boton-cancelar-consigna">Cancelar</button></a>
</div>

<div style="display:none;" id="texto-oracion">{{ ejercicio.oracion.string }}</div>

<style>
    #exercise-wrapper.ex-load {
        padding: 20px;
    }
</style>

<script type="text/javascript">

    $('select.multiple').multipleSelect();

    $('.cancel-sentence').click(function(){
        $(this).parent().fadeOut();
    });

    $(function() {
      $('#basic.demo input').switchButton({
        on_label: 'Incorrecta',
        off_label: 'Correcta'
      });
    });

    {% include "exercise/__ex_load_consigna.html" %}

    var oracion = $('#input-oracion').text();
    setup_divs_respuestas(oracion, true);

    $(document).ready(function() {
        $('#exercise-wrapper').attr('class', 'left ex-load');
        $('#exercise-wrapper').css('width', 'calc(100% - 240px)');

        $(document).trigger("setup_divs_respuestas", [false]);
    });

</script>
