{% load static %}

<div id="toolbar">
	<h1>
		Barra de<br/>herramientas
	</h1>
	<div class="empty-space"></div>
	<ul class="cd-accordion-menu animated">
		<li class="has-children">
			<input type="checkbox" name ="group-1" id="group-1">
			<label for="group-1">Clase de palabra</label>

      		<ul>
      			<li class="has-children">
      				<input type="checkbox" name ="sub-group-1" id="sub-group-1">
					<label for="sub-group-1">Variables</label>
					<ul>
  						<li><a href="#0" toolbar-id="401" abrev="sust.">Sustantivo</a></li>
						<li><a href="#0" toolbar-id="402" abrev="adj.">Adjetivo</a></li>
						<li><a href="#0" toolbar-id="408" abrev="v.">Verbo</a></li>
						<!-- <li><a href="#0" toolbar-id="409" abrev="vb.">Verboide</a></li> -->
						<li class="has-children">
		      				<input type="checkbox" name ="sub-group-15" id="sub-group-15">
							<label for="sub-group-15">Verboide</label>
							<ul>
								<li class="has-children">
				      				<input type="checkbox" name ="sub-group-16" id="sub-group-16">
									<label for="sub-group-16">Infinitivo</label>
									<ul>
										<li><a href="#0" toolbar-id="415" abrev="Inf. Pte. Act.">Infinitivo presente activo</a></li>
										<li><a href="#0" toolbar-id="416" abrev="Inf. Pte. Pas.">Infinitivo presente pasivo</a></li>
										<li><a href="#0" toolbar-id="417" abrev="Inf. Pf. Act.">Infinitivo perfecto activo</a></li>
										<li><a href="#0" toolbar-id="418" abrev="Inf. Pf. Pas.">Infinitivo perfecto pasivo</a></li>
										<li><a href="#0" toolbar-id="419" abrev="Inf. Fut. Act.">Infinitivo futuro activo</a></li>
										<li><a href="#0" toolbar-id="420" abrev="Inf. Fut. Pas.">Infinitivo futuro pasivo</a></li>
									</ul>
								</li>
								<li><a href="#0" toolbar-id="421" abrev="ger.">Gerundio</a></li>
								<li class="has-children">
				      				<input type="checkbox" name ="sub-group-17" id="sub-group-17">
									<label for="sub-group-17">Participio</label>
									<ul>
										<li><a href="#0" toolbar-id="422" abrev="Part. Pf. Pas.">Participio perfecto pasivo</a></li>
										<li><a href="#0" toolbar-id="423" abrev="Part. Pre. Act.">Participio presente activo</a></li>
										<li><a href="#0" toolbar-id="424" abrev="Part. Fut. Act.">Participio futuro activo</a></li>
									</ul>
								</li>
								<li><a href="#0" toolbar-id="425" abrev="gdvo.">Gerundivo</a></li>
								<li><a href="#0" toolbar-id="426" abrev="sup.">Supino</a></li>
							</ul>
						</li>
						<li><a href="#0" toolbar-id="412" abrev="pron. sust.">Pronombre sustantivo</a></li>
						<li><a href="#0" toolbar-id="413" abrev="pron. adj.">Pronombre adjetivo</a></li>
						<li><a href="#0" toolbar-id="410" abrev="r.">Relacionante</a></li>
  						<!-- Hasta acá -->
					</ul>
      			</li>
      			<li class="has-children">
      				<input type="checkbox" name ="sub-group-18" id="sub-group-18">
					<label for="sub-group-18">Invariables</label>
					<ul>
						<li><a href="#0" toolbar-id="241" abrev="Inv.">Invariable</a></li>
						<li><a href="#0" toolbar-id="403" abrev="adv.">Adverbio</a></li>
						<li class="has-children">
		      				<input type="checkbox" name ="sub-group-19" id="sub-group-19">
							<label for="sub-group-19">Subordinante</label>
							<ul>
								<li><a href="#0" toolbar-id="404" abrev="prep.">Preposicional</a></li>
								<li><a href="#0" toolbar-id="405" abrev="comp.">Comparativo</a></li>
								<li><a href="#0" toolbar-id="406" abrev="i.">Incluyente</a></li>
							</ul>
						</li>
      					<li><a href="#0" toolbar-id="407" abrev="coor.">Coordinante</a></li>
						<li><a href="#0" toolbar-id="411" abrev="interj.">Interjección</a></li>
						<li><a href="#0" toolbar-id="414" abrev="pron. adv.">Pronombre adverbio</a></li>
					</ul>
				</li>
      		</ul>
		</li>
		<li class="has-children">
			<input type="checkbox" name ="group-2" id="group-2">
			<label for="group-2">Declinación</label>
      		<ul>
      			<li><a href="#0" toolbar-id="201" abrev="1ºd">Primera</a></li>
				<li><a href="#0" toolbar-id="202" abrev="2ºd">Segunda</a></li>
				<li><a href="#0" toolbar-id="203" abrev="3ºd">Tercera</a></li>
				<li><a href="#0" toolbar-id="204" abrev="4ºd">Cuarta</a></li>
				<li><a href="#0" toolbar-id="205" abrev="5ºd">Quinta</a></li>
      		</ul>
		</li>
		<li class="has-children">
			<input type="checkbox" name ="group-3" id="group-3">
			<label for="group-3">Caso</label>
      		<ul>
      			<li><a href="#0" toolbar-id="206" abrev="Nom.">Nominativo</a></li>
				<li><a href="#0" toolbar-id="207" abrev="Voc.">Vocativo</a></li>
				<li><a href="#0" toolbar-id="208" abrev="Ac.">Acusativo</a></li>
				<li><a href="#0" toolbar-id="209" abrev="Gen.">Genitivo</a></li>
				<li><a href="#0" toolbar-id="210" abrev="Dat.">Dativo</a></li>
				<li><a href="#0" toolbar-id="211" abrev="Ab.">Ablativo</a></li>
				<li><a href="#0" toolbar-id="212" abrev="Loc.">Locativo</a></li>
      		</ul>
		</li>
		<li class="has-children">
			<input type="checkbox" name ="group-4" id="group-4">
			<label for="group-4">Género</label>
      		<ul>
      			<li><a href="#0" toolbar-id="213" abrev="masc.">Masculino</a></li>
				<li><a href="#0" toolbar-id="214" abrev="fem.">Femenino</a></li>
				<li><a href="#0" toolbar-id="215" abrev="ntro.">Neutro</a></li>
      		</ul>
		</li>
		<li class="has-children">
			<input type="checkbox" name ="group-5" id="group-5">
			<label for="group-5">Número</label>
      		<ul>
      			<li><a href="#0" toolbar-id="216" abrev="sing.">Singular</a></li>
				<li><a href="#0" toolbar-id="217" abrev="plu.">Plural</a></li>
      		</ul>
		</li>
		<li class="has-children">
			<input type="checkbox" name ="group-6" id="group-6">
			<label for="group-6">Verbo</label>
      		<ul>
      			<li class="has-children">
      				<input type="checkbox" name ="sub-group-20" id="sub-group-20">
					<label for="sub-group-20">Persona</label>
					<ul>
						<li><a href="#0" toolbar-id="238" abrev="1º p.">1ra.</a></li>
						<li><a href="#0" toolbar-id="239" abrev="2º p.">2da.</a></li>
						<li><a href="#0" toolbar-id="240" abrev="3º p.">3ra.</a></li>
					</ul>
      			</li>
      			<li class="has-children">
      				<input type="checkbox" name ="sub-group-2" id="sub-group-2">
					<label for="sub-group-2">Conjugación</label>
					<ul>
						<li><a href="#0" toolbar-id="218" abrev="1º c.">Primera</a></li>
						<li><a href="#0" toolbar-id="219" abrev="2º c.">Segunda</a></li>
						<li><a href="#0" toolbar-id="220" abrev="3º c.">Tercera</a></li>
						<li><a href="#0" toolbar-id="221" abrev="4º c.">Cuarta</a></li>
						<li><a href="#0" toolbar-id="222" abrev="5º c.">Quinta</a></li>
						<li><a href="#0" toolbar-id="223" abrev="irreg.">Irregular</a></li>
					</ul>
      			</li>
      			<li class="has-children">
      				<input type="checkbox" name ="sub-group-3" id="sub-group-3">
					<label for="sub-group-3">Modo</label>
					<ul>
						<li><a href="#0" toolbar-id="224" abrev="Ind.">Indicativo</a></li>
						<li><a href="#0" toolbar-id="225" abrev="Subj.">Subjuntivo</a></li>
						<li><a href="#0" toolbar-id="226" abrev="Imp.">Imperativo</a></li>
						<li><a href="#0" toolbar-id="227" abrev="Pot.">Potencial</a></li>
					</ul>
      			</li>
      			<li class="has-children">
      				<input type="checkbox" name ="sub-group-4" id="sub-group-4">
					<label for="sub-group-4">Tiempo</label>
					<ul>
						<li><a href="#0" toolbar-id="228" abrev="Pte.">Presente</a></li>
						<li><a href="#0" toolbar-id="229" abrev="Pret. Impf.">Pretérito Imperfecto</a></li>
						<li><a href="#0" toolbar-id="230" abrev="Pret. Pf.">Pretérito Perfecto</a></li>
						<li><a href="#0" toolbar-id="231" abrev="Pret. Pf. Comp.">Pretérito Perfecto Compuesto</a></li>
						<li><a href="#0" toolbar-id="232" abrev="Pret. Pluscuam.">Pretérito Pluscuamperfecto</a></li>
						<li><a href="#0" toolbar-id="233" abrev="Fut. Impf.">Futuro Imperfecto</a></li>
						<li><a href="#0" toolbar-id="234" abrev="Fut. Pf.">Futuro Perfecto</a></li>
					</ul>
      			</li>
      			<li class="has-children">
      				<input type="checkbox" name ="sub-group-21" id="sub-group-21">
					<label for="sub-group-21">Voz</label>
					<ul>
						<li><a href="#0" toolbar-id="235" abrev="v. act.">Activa</a></li>
						<li><a href="#0" toolbar-id="236" abrev="v. pas.">Pasiva</a></li>
						<li><a href="#0" toolbar-id="237" abrev="v. dep.">Deponente</a></li>
					</ul>
      			</li>
      		</ul>
		</li>
		<li class="has-children">
			<input type="checkbox" name ="group-7" id="group-7">
			<label for="group-7">Construcción</label>

      		<ul>
      			<li class="has-children">
      				<input type="checkbox" name ="sub-group-6" id="sub-group-6">
					<label for="sub-group-6">Endocéntrica</label>
					<ul>
						<li><a href="#0" toolbar-id="301" abrev="Const. Sust.">Sustantiva</a></li>
						<li><a href="#0" toolbar-id="302" abrev="Const. Adj.">Adjetiva</a></li>
						<li><a href="#0" toolbar-id="303" abrev="Const. Adv.">Adverbial</a></li>
						<!-- <li><a href="#0" toolbar-id="304" abrev="Const. Vboidal.">Verboidal</a></li> -->
						<li class="has-children">
		      				<input type="checkbox" name ="sub-group-22" id="sub-group-22">
							<label for="sub-group-22">Verboidal</label>
							<ul>
								<li><a href="#0" toolbar-id="348" abrev="C.Vb. de Inf.">de Infinitivo</a></li>
								<li><a href="#0" toolbar-id="349" abrev="C. Vb. de Part.">de Participio</a></li>
								<li><a href="#0" toolbar-id="350" abrev="C. Vb. de Ger.">de Gerundio</a></li>
							</ul>
		      			</li>
					</ul>
      			</li>
      			<li><a href="#0" toolbar-id="305" abrev="">Exocéntrica</a></li>
      		</ul>
		</li>
		<li class="has-children">
			<input type="checkbox" name ="group-8" id="group-8">
			<label for="group-8">Modificador del Núcleo Oracional</label>
      		<ul>
      			<li><a href="#0" toolbar-id="306" abrev="M.N.O.- Cond." top="1">Condicional</a></li>
				<li><a href="#0" toolbar-id="307" abrev="M.N.O.- Conc." top="1">Concesivo</a></li>
      		</ul>
		</li>
		<li class="has-children">
			<input type="checkbox" name ="group-9" id="group-9">
			<label for="group-9">Oración/Proposición suboracional</label>

      		<ul>
      			<li class="has-children">
      				<input type="checkbox" name ="sub-group-7" id="sub-group-7">
					<label for="sub-group-7">Simple</label>
					<ul>
						<li><a href="#0" toolbar-id="308" abrev="O.B.S." right="1">Bimembre</a></li>
						<li><a href="#0" toolbar-id="309" abrev="O.U." right="1">Unimembre</a></li>
					</ul>
      			</li>
      			<li class="has-children">
      				<input type="checkbox" name ="sub-group-8" id="sub-group-8">
					<label for="sub-group-8">Compleja</label>
					<ul>
						<li><a href="#0" toolbar-id="310" abrev="O.C.Coord." right="1">Coordinativa</a></li>
						<li><a href="#0" toolbar-id="311" abrev="O.C.Adj." right="1">Adjuntiva</a></li>
						<li><a href="#0" toolbar-id="312" abrev="O.C.Adj.Par." right="1">Adjuntiva Parentética</a></li>
						<li><a href="#0" toolbar-id="351" abrev="O.C.Sub." right="1">Subordinativa</a></li>
					</ul>
      			</li>
      		</ul>
		</li>
		<li class="has-children">
			<input type="checkbox" name ="group-10" id="group-10">
			<label for="group-10">Proposición Incluída</label>

      		<ul>
      			<li><a href="#0" toolbar-id="313" abrev="P.I.S.">Sustantiva</a></li>
				<li><a href="#0" toolbar-id="314" abrev="P.I.Adj.">Adjetiva</a></li>
      			<li class="has-children">
      				<input type="checkbox" name ="sub-group-9" id="sub-group-9">
					<label for="sub-group-9" toolbar-id="315" abrev="P.I.Adv.">Adverbial</label>
					<ul>
						<li><a href="#0" toolbar-id="316" abrev="Circ. de L (P.I.Adv.)">De lugar</a></li>
						<li><a href="#0" toolbar-id="317" abrev="Circ. de M (P.I.Adv.)">De modo</a></li>
						<li><a href="#0" toolbar-id="318" abrev="Circ. de T (P.I.Adv.)">De tiempo</a></li>
						<li><a href="#0" toolbar-id="319" abrev="Circ. de C (P.I.Adv.)">De causa</a></li>
						<li><a href="#0" toolbar-id="320" abrev="Circ. de Cant. (P.I.Adv.)">De cantidad</a></li>
						<li><a href="#0" toolbar-id="321" abrev="MD (P.I.Adv. Consec.)">Consecutiva</a></li>
						<li><a href="#0" toolbar-id="322" abrev="MD (P.I.Adv. Comp.)">Comparativa</a></li>
					</ul>
      			</li>
      		</ul>
		</li>
		<li class="has-children">
			<input type="checkbox" name ="group-13" id="group-13">
			<label for="group-13">Adjunto</label>

      		<ul>
      			<li><a href="#0" toolbar-id="352" abrev="Adj. Voc.">Vocativo</a></li>
      			<li><a href="#0" toolbar-id="353" abrev="Adj. Paren.">Parentético</a></li>
      		</ul>
		</li>
		<li><a href="#0" toolbar-id="323" abrev="N">Núcleo</a></li>
		<li><a href="#0" toolbar-id="324" abrev="MD">Modificador directo</a></li>
		<li><a href="#0" toolbar-id="325" abrev="MI">Modificador indirecto</a></li>
		<li><a href="#0" toolbar-id="326" abrev="MIG">Modificador en genitivo</a></li>
		<li><a href="#0" toolbar-id="327" abrev="s">Subordinante</a></li>
		<li><a href="#0" toolbar-id="328" abrev="T">Término</a></li>
		<li><a href="#0" toolbar-id="329" abrev="Apos.">Aposición</a></li>
		<li><a href="#0" toolbar-id="330" abrev="Rég.">Régimen</a></li>
		<li class="has-children">
			<input type="checkbox" name ="group-11" id="group-11">
			<label for="group-11">Sujeto</label>

      		<ul>
      			<li><a href="#0" toolbar-id="331" abrev="ST" right="1">Sujeto tácito</a></li>
      			<li><a href="#0" toolbar-id="354" abrev="SD" right="1">Sujeto desinencial</a></li>
      			<li><a href="#0" toolbar-id="355" abrev="SCont" right="1">Sujeto contextual</a></li>
				<li><a href="#0" toolbar-id="332" abrev="SS" top="1">Sujeto simple</a></li>
				<li><a href="#0" toolbar-id="333" abrev="SC" top="1">Sujeto compuesto</a></li>
      		</ul>
		</li>
		<li class="has-children">
			<input type="checkbox" name ="group-12" id="group-12">
			<label for="group-12">Predicado</label>

      		<ul>
      			<li class="has-children">
      				<input type="checkbox" name ="sub-group-10" id="sub-group-10">
					<label for="sub-group-10">Predicado verbal</label>
					<ul>
						<li><a href="#0" toolbar-id="334" abrev="PVS" top="1">Predicado verbal simple</a></li>
						<li><a href="#0" toolbar-id="335" abrev="PVC" top="1">Predicado verbal compuesto</a></li>
					</ul>
				</li>
				<li><a href="#0" toolbar-id="336" abrev="OD">Objeto directo</a></li>
				<li><a href="#0" toolbar-id="337" abrev="OI">Objeto indirecto</a></li>
				<li><a href="#0" toolbar-id="338" abrev="Circ.">Circunstancial</a></li>
				<li><a href="#0" toolbar-id="339" abrev="Ag.">Agente</a></li>
				<li><a href="#0" toolbar-id="340" abrev="PS">Predicativo subjetivo</a></li>
				<li><a href="#0" toolbar-id="345" abrev="PO">Predicativo objetivo</a></li>
				<li><a href="#0" toolbar-id="356" abrev="Dat. Pto. Vista">Dativo de punto de vista</a></li>
				<li><a href="#0" toolbar-id="357" abrev="Dat. Pos.">Dativo posesivo</a></li>
				<li><a href="#0" toolbar-id="358" abrev="SCR">Signo de Cuasirreflejo</a></li>
				<li><a href="#0" toolbar-id="359" abrev="SCRP">Signo de Cuasirreflejo Pasivo</a></li>
				<li><a href="#0" toolbar-id="360" abrev="SCRI">Signo de Cuasirreflejo Impersonal</a></li>
      			<li class="has-children">
      				<input type="checkbox" name ="sub-group-11" id="sub-group-11">
					<label for="sub-group-11">Predicado Nominal</label>
					<ul>
						<li><a href="#0" toolbar-id="341" abrev="PNS" top="1">Predicado Nominal Simple</a></li>
						<li><a href="#0" toolbar-id="342" abrev="PNC" top="1">Predicado Nominal Compuesto</a></li>
					</ul>
      			</li>
      			<li class="has-children">
      				<input type="checkbox" name ="sub-group-12" id="sub-group-12">
					<label for="sub-group-12">Predicado Adverbial</label>
					<ul>
						<li><a href="#0" toolbar-id="343" abrev="P.Adv.S" top="1">Predicado Adverbial Simple</a></li>
						<li><a href="#0" toolbar-id="344" abrev="P.Adv.C" top="1">Predicado Adverbial Compuesto</a></li>
					</ul>
      			</li>
      			<li class="has-children">
      				<input type="checkbox" name ="sub-group-13" id="sub-group-13">
					<label for="sub-group-13">Predicado Verboidal</label>
					<ul>
						<li><a href="#0" toolbar-id="346" abrev="P.Vboidal.S." top="1">Predicado Verboidal Simple</a></li>
						<li><a href="#0" toolbar-id="347" abrev="P.Vboidal.C." top="1">Predicado Verboidal Compuesto</a></li>
					</ul>
      			</li>
      		</ul>
		</li>
	</ul> <!-- cd-accordion-menu -->
</div>


{% block script %}

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>

<script type="text/javascript">

	$(document).scroll(function() {
			$('#toolbar').css({
			   'position' 	: 'fixed'
			});
	});

	$(document).ready(function()
	{
		$('#toolbar').css('position', 'fixed');

		$('#footer .right').css('margin-right' , '250px');

		$('#toolbar > li.has-children').on('click', function(){
	        $('#toolbar').animate({scrollTop: $(this).offset().top}, 800);
	    });

		$('#toolbar ul').children(':first').css('border-top','none');
		$('#toolbar ul').children(':last').css('border-bottom','none');
	});

</script>

{% endblock%}
