
<div id="exercise-wrapper" class="left">
	{% include "exercise/__ex_header.html" %}
	<div class="horizontal-scroll">
		{% include "exercise/__ex_content.html" %}
		{% include "exercise/__ex_record.html" %}
	</div>
</div>

{% include "exercise/__ex_toolbar.html" %}

{% block extra_body %}

{% endblock %}

{% block script %}

<script type="text/javascript">
	function btn_position() {
    	var btn = $('#exercise-content').offset().top;
		$('.ex-btn').css('top', + btn + 50 + 'px');
	}

	$(document).ready(btn_position);
	$(window).resize(btn_position);


	$(document).ready(function() {
		var es_docente = {% if es_docente %}true{% else %}false{% endif %};
		var avanzar_consigna = {% if avanzar_consigna %}true{% else %}false{% endif %};

		// para mostrar las respuestas incorrectas en rojo
		siguiente_en_ejercicio(es_docente, avanzar_consigna);

		if (es_docente) {
			mostrar_boton_finalizar(es_docente, false);
		}
	});
</script>

{% endblock %}

