#andamiaje{
	float:left;
	width:90%;
	max-width:800px;
    margin-left: 120px;
    margin-top: 80px;
    &.correct{
    	.professor-picture{
    		@include background-position(-207px,-8px);
    	}
    	.professor-explanation{
			border:1px solid $green-border;
	    	color:$green-font;
	    	background-color:$green-back;
	    	.box-arrow{
	    		@include background-position(-185px, -53px);
	    		border-color: transparent $green-border transparent transparent;
	    	}
    	}
    }
    &.incorrect{
    	.professor-picture{
    		@include background-position(-307px,-08px);
    	}
    	.professor-explanation{
	    	border:1px solid $red-back;
	    	color:$red-back;
	    	background-color:$red-light;
	    	.box-arrow{
	    		@include background-position(-185px, -72px);
	    		border-color: transparent $red-back transparent transparent;
	    	}
	    }
    }
	.professor-picture{
		width:98px;
		height:112px;
		float:left;
		margin-right:20px;
	}
	.professor-explanation{
		width: -webkit-calc(100% - 175px);
		width: -moz-calc(100% - 175px);
		width: calc(100% - 175px);
		@include border-radius(5px);
		float:left;
		@include box-sizing(border-box);
	    padding: 15px;
    	line-height: 23px;
    	text-align: center;
    	position:relative;
    	span{
    		font-weight: 600;
    		font-style:italic;
    	}
    	.box-arrow{
    		position:absolute;
    		left:-15px;
    		top:10px;
			width: 15px;
			height: 10px;
    	}
	}
}