.ex-btn{
	position:absolute;
    right: -30px;
}

.confirmation-modal{
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 1010;
	display: none;
	top:0;
    outline: none;
	.modal-dialog{
		width:100%;
		height:100%;
		background-color: rgba(255, 255, 255, 0.9);
	}
	.modal-content{
	    width: 450px;
	    height: 240px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-top: -73px;
	    margin-left: -220px;
	    padding:20px;
        text-align: center;
        .modal-header{
    	    text-transform: uppercase;
		    color: #2d62ab;
		    display: block;
		    font-weight: 500;
		    position:relative;
		    button{
				position: absolute;
				right: -30px;
				top: -30px;
				background-color:transparent;
				background-image:url('http://res.cloudinary.com/drizjv6vl/image/upload/v1453147029/system/close-icon.png');
				background-repeat:no-repeat;
				background-position:center center;
				width: 19px;
		    }
        }
        .modal-body{
    	    margin: 7px 0 10px 0;
    	    color: #777777;
    		font-weight: 400;
        }
        .modal-footer{
        	button{
        		margin:10px 5px;
    		    width: 80px;
        	}
        }
	}
}

#exercise-wrapper{
	box-sizing:border-box;
    position:relative;
    font-weight: 400;
    height: auto;
    &.ex-load{
    	height: 50vh;
        padding-bottom: 40px;
    }
    footer{
        width: 93%;
	    position: absolute;
        margin-right: 30px;
    	right: 0;
	    height: 60px;
	    z-index: 10;
	    .btn-wrapper{
	    	padding-right: 250px;
	    	#boton-omitir{
	    		margin-left:6px;
	    	}
	    }
    }
    .horizontal-scroll{
	    float: left;
	    overflow: auto;
	    position: relative;
	    z-index: 1;
	    width: 100%;
    }
    .alert-rail{
	    width: 100%;
		position: absolute;
		top:55px;
		text-align:center;
	    font-size: 0.9em;
	    z-index: 10;
		span{
		    font-family: 'Open Sans', sans-serif;
			padding:8px 20px;
			@include box-sizing(border-box);
			color:$grey-light;
			&.error{
				background-color:$red-back;
				@include border-radius(3px);
			}
		}
	}
    .exercise-record{
    	width:100%;
    	border-top:1px solid $grey-light;
    	padding:50px 20px;
    	margin-top:100px;
    	@include box-sizing(border-box);
	    float: left;
	    position: relative;
	    > li[id^=record-consigna]{
	    	width:100%;
	    	ul > li, ul .record-wrapper{
	    		float: left;
	    	}
	    }
	    .record-wrapper{
	    	position:absolute;
            padding-top: 30px;
	    	> li[id^=record-consigna]{
	    		text-transform: initial;
				padding: 0;
				margin-bottom: -10px;
				float: left;
				color: #2dcc70;
				font-size: 1em;
				font-style: italic;
				text-align: center;
	    	}
	    }
    	.title{
    		cursor:pointer;
    		.plus-icon, .minus-icon{
    			width:17px;
    			height:17px;
    			float: left;
    			margin-right:3px;
			    margin-top: 1px;
    		}
    	}
    }
	#exercise-content{
		width:90%;
		margin:0 0 0 45px;
	    clear: both;
        font-size: 1.5em;
        text-align: center;
        word-spacing:-2px;
        position:relative;
        .full-sentence{
    	    text-overflow: ellipsis;
    		white-space: nowrap;
        }
        .property-box-up{
        	height:50px;
        	margin:0 auto;
        	position:relative;
			overflow: visible;
			.word-property-wrapper-up{
			    display: block;
				padding: 0;
			    position: absolute;
			    bottom:0;
				.icon-bin:before{
					top: -20px;
					padding-top: 0;
					padding-bottom: 15px;
				}
				&:hover{
					.icon-bin:before{
						display: block;
					}
				}
    		}
    		.word-property-top{
				left:1px;
	            .line-up{
	            	height:5px;
					border-top:2px solid $green-border;
					border-left:2px solid $green-border;
					border-right:2px solid $green-border;
					clear:both;
	            }
    		}
    		span[id^=rta-]{
    		    text-transform: initial;
    		    padding:0;
                margin-bottom: 0px;
				float: left;
				width: 100%;
			    color: $green-border;
			    font-size: 0.6em;
			    font-style: italic;
        	}
		}
        .property-box-down{
        	height:50px;
        	margin:0 auto;
        	position:relative;
			overflow: visible;
			margin-top: -7px;
			.word-property-wrapper{
			    display: block;
				padding: 0;
			    position: absolute;
				.icon-bin:before{
					bottom:-17px;
				}
				&:hover{
					.icon-bin:before{
						display: block;
					}
				}
    		}
    		.word-property-down{
				left:1px;
				&.line-down-sides{
	            	height:5px;
					border-bottom:2px solid $green-border;
					border-left:2px solid $green-border;
					border-right:2px solid $green-border;
					clear:both;
	            }
	            &.line-down{
	            	height:5px;
					border-bottom:2px solid $green-border;
					clear:both;
	            }
    		}
    		.word-property-down{
		        position: relative;
				float: left;
				width: 100%;
				box-sizing: border-box;
    		}
    		.word-class, span[id^=rta-]{
    		    text-transform: initial;
    		    padding:0;
    		    margin-bottom: -10px;
				float: left;
				width: 100%;
			    color: $green-border;
			    font-size: 0.6em;
			    font-style: italic;
        	}
        	.word-class{
				.icon-bin:before{
					font-size:1.25em;
				}
        	}
        }
        .split-sentence{
        	position:relative;
        	font-family: 'Open Sans', sans-serif;
	        .icon-bracket-left, .icon-bracket-right{
	        	font-family: 'icomoon';
	        	font-size: 1.8em;
	    	    color:$blue-normal;
		        position: absolute;
	    		top: -3px;
	        }
	        .property-box-right{
			    color: $green-border;
			    font-size: 0.6em;
			    font-style: italic;
		        position: absolute;
	    		right: -138px;
	    		width:120px;
	    		height: 34px;
	    		text-align: left;
	    		display: table;
	    		span{
					text-transform: uppercase;
	    			display: inline-block;
	    			vertical-align: middle;
	    			padding: 9px 0 0 0;
    				float: none;
    				position: relative;
    				.icon-bin{
						width:100%;
						font-size: 18px;
						overflow: auto;
    				}
    				.icon-bin:before{
						bottom:-21px;
						margin:0 0 0 -5px;
						width: 11px;
					}
   					&:hover{
						.icon-bin:before{
							display: block;
						}
   					}
	    		}
	        }
	        .icon-bracket-left{
	        	left:-12px;
	        }
	        .icon-bracket-right{
	        	right:-12px;
	        }
        }
        p{
        	display: inline-block;
        	div{
        		float:left;
        	}
        	.word-range-sleep{
        		position: relative;
        		div{
        			display: inline-block;
        		}
        	}
        	> div{
        		vertical-align: top;
        		display: inline-block;
        		cursor:pointer;
    		    position:relative;
    	    	font-family: 'Open Sans', sans-serif;
	    	    font-size: 1em;
	    	    float:left;
	    	    span{
        			@include border-radius(5px);
        			padding:3px 7px 5px 7px;
        			float:left;
    			}
        		&.word-selected{
        			> span{
	        			background-color: $orange-light;
	        			@include border-radius(5px);
	        			padding:3px 7px 5px 7px;
	        			float:left;
        			}
        		}
        		.word-property-wrapper{
			        width: -webkit-calc(100% - 2px);
					width: -moz-calc(100% - 2px);
					width: calc(100% - 2px);
   					position:relative;
				    display: block;
					padding: 0;
					float:left;
					.icon-bin:before{
						bottom:-17px;
					}
   					&:hover{
						.icon-bin:before{
							display: block;
						}
   					}
   					.word-property-top{
   						.icon-bin:before{
							margin-left: -15px;
						    top: -19px;
						    padding-top:0;
						    padding-bottom:15px;
						}
   					}
        		}
        		.word-property-down, .word-property-top{
					left:1px;
		            .line-up{
		            	height:5px;
						border-top:2px solid $green-border;
						border-left:2px solid $green-border;
						border-right:2px solid $green-border;
					    float: left;
					    width: 100%;
					    padding: 0;
		            }
		            &.line-down{
		            	height:5px;
						border-bottom:2px solid $green-border;
						border-left:2px solid $green-border;
						border-right:2px solid $green-border;
						clear:both;
		            }
        		}
			    .word-property-top{
		            position: absolute;
					width:100%;
					left:0;
					top: -66px;
				    padding: 0!important;
				    span{
						padding-bottom: 3px;
						width: 100%;
					}
		        }
        		.word-property-down{
			        position: relative;
					float: left;
					width: 100%;
					box-sizing: border-box;
					&.lost-words{
						span{
							text-transform: initial;
							padding: 0;
							margin-bottom: -10px;
							float: left;
							width: 100%;
							color: #2dcc70;
							font-size: 0.6em;
							font-style: italic;
							.center-spans{
							    float: none;
								display: table;
								margin: 0 auto;
							}
							span{
								font-size:1em;
								display: inline-block;
								width: initial;
								float: none;
							    line-height: 16px;
							    position: relative;
							    .icon-bin{
									position: absolute;
									bottom: -16px;
									font-size: 18px;
									left: 50%;
							    }
								.icon-bin:before{
									top: -20px;
									padding-top: 0;
									padding-bottom: 15px;
								}
								&:hover{
									.icon-bin:before{
										display: block;
									}
								}
							}
						}
					}
        		}
        	}
        }
	}
}