.exercise-subtitle{
	padding:25px 0 50px 20px;
	float: left;
	width:100%;
	@include box-sizing(border-box);
	h2, h1{
		font-family: 'Open Sans', sans-serif;
	}
	h2{
		color:$grey-dark;
	}
	h1{
		color: $blue-normal;
		font-size:1.2em;
		padding-top:5px;
	}
}

#exercise-header{
	float:left;
	width:100%;
	background-color:$grey-light;
	padding:10px 20px;
	margin-top:10px;
	@include box-sizing(border-box);
	&.load{
		line-height: 33px;
	    padding-bottom: 10px;
	    .steps{
	    	padding-top:0;
	    }
	}
	.title{
		float:left;
		h3{
		    display: inline-block;
		    padding-right:7px;
	        font-size: 0.85em;
		}
		h2{
		    font-size: 1.1em;
		}
		.folder{
			width:20px;
			height:21px;
		    display: inline-block;
		    vertical-align: middle;
		}
	}
	.steps{
		float:right;
	    padding-top: 7px;
	    padding-right: 250px;
		.line-space{
			height:2px;
			width:50px;
			margin:0 1px;
			vertical-align: middle;
		    margin-top: -4px;
			&.this{
				background-color:$grey-dark;
			}
			&.next{
				background-color:$grey-normal;
			}
			&.done{
				background-color:$green-done;
			}
			&.wrong{
				background-color:$red-back;
			}
		}
		
		.number{
			width:23px;
			height:23px;
			text-align:center;
			@include border-radius(23px);
			line-height: 20px;
			&.this{
				color:white;
				background-color:$grey-dark;
				border:2px solid $grey-dark;
			}
			&.next{
				color:$grey-normal;
				background-color:transparent;
				border:2px solid $grey-normal;
			}
			&.done{
				background-color:$green-done;
				border:2px solid $green-done;
				color:transparent;
				@include background-position(-43px,-106px);
			}
			&.wrong{
				background-color:$red-back;
				border:2px solid $red-back;
				color:transparent;
				@include background-position(-42px,-141px);
			}
		}
	}
	#corrigiendo {
        padding-left: 35px;
        color: #fe2e2e;
    }
}