#load-exercise{
	margin-left:120px;
	margin-top:100px;
    overflow: hidden;
	label, input,.textarea , .select-arrow{
		max-width:400px;
		float:left;
	}
	.textarea{
	    padding-top:6px;
	}
	#exercise-content{
		font-size: 1em;
	    margin-left: 13px;
	}
	label{
	    cursor: initial;
		margin-left: 10px;
		width: 100%;
	    max-width: 100px;
	}
	.input-pack{
	    float: left;
    	width: 100%;
    	.error-space{
		    float: left;
		    margin-left: 20px;
		    line-height: 35px;
		    color: $red-back;
    	}
	}
	
	#error-oracion{
	    float: left;
	    width:100%;
	    color: $red-back;
        margin-top: 10px;
    	margin-left: 17px;
	}
	.sentence-input{
	    max-width: 80%;
    	min-width: 400px;
    	&#input-oracion{
    		margin-bottom:0;
    		margin-bottom: 20px;
    	}
    	&.sentence-added{
    		margin-top:10px;
	    	font-size:0.7em;
	    }
	}
	.sentence-ok{
	    font-family: 'Open Sans', sans-serif;
    	font-size: 1.3em;
    	float:left;
    	width: 100%;
    	overflow: scroll;
    	padding-bottom: 15px;
	}
	.icon-bracket-left, .icon-bracket-right{
	    font-family: 'icomoon';
	    font-size: 1.8em;
	    color: #4687fb;
        display: inline-block;
    	vertical-align: middle;
	}
	.edit-sentence, .erase-sentence, .add-sentence, .save-sentence, .cancel-sentence{
		width:20px;
		height:20px;
		display: inline-block;
	    vertical-align: middle;
    	margin-left: 10px;
    	cursor:pointer;
	    margin-top: 9px;
	}
	#guardar-oracion{
		margin-top: 59px;
	}
	.sentence-added-wrapper{
		display:none;
	}
}
.con-andamiaje{
	float:left;
	width:100%;
	border-top:1px solid $grey-normal;
	border-bottom:1px solid $grey-light;
	margin-top:30px;
    margin-left: -100px;
    margin-bottom: 20px;
	label{
		margin-left: 10px;
	}
	.textarea{
	    max-width: 88%;
    	min-width: 400px;
        padding-top: 6px;
	}
	.andamiajes{
		font-family: 'Open Sans', sans-serif;
		padding:20px;
		@include border-radius(5px);
		background-color:$grey-light;
		color:$grey-dark;
		font-size:0.8em;
		font-weight:300;
		margin-bottom:20px;
		margin-right:30px;
		position:relative;
		h1{
			font-weight:700;
		}
		h1, h2, span{
			font-family: 'Open Sans', sans-serif;
		}
		h2, span{
			font-weight:300;
		}
		&.correct{
			h1, h2, span{
				color:$green-border;
			}
			background-color:$green-back;
			border:1px solid $green-done;
		}
		&.incorrect{
			h1, h2, span{
				color:$red-back;
			}
			background-color:$red-light;
			border:1px solid $red-back;
		}
		.erase-andamiaje{
			position: absolute;
	        right: -31px;
		    top: 0;
		}
	}
	.nuevo-andamiaje{
		text-transform: uppercase;
		font-size:0.8em;
		color:$grey-dark;
		cursor:pointer;
		width: 140px;
	}
	.add-andamiaje, .erase-andamiaje{
		width:20px;
		height:20px;
		display: inline-block;
	    vertical-align: middle;
    	margin-right: 5px;
    	cursor:pointer;
	}
	.erase-andamiaje{
		margin-left:10px;
	}
	.wrapper{
	    margin: 25px 0 25px 120px;
	    max-width:940px;
	}
	.quote{
		font-family: 'Open Sans', sans-serif;
		padding:20px;
		@include border-radius(5px);
		background-color:$grey-light;
		font-size:0.8em;
		color:$grey-dark;
		font-weight:300;
		margin-bottom:20px;
		margin-right:30px;
		span{
			font-family: 'Open Sans', sans-serif;
			display:block;
			font-weight:600;
		}
	}
	#basic.demo input{
		font-family: 'Open Sans', sans-serif;
	}
	#basic.demo{
		margin-left:10px;
		margin-top:5px;
		margin:5px 0 20px 10px;
	}
}

.alert-space{
    display: table;
    margin: 35px auto 0 auto;
    padding: 8px 50px;
    background: $green-back;
    color: $green-font;
    border: 1px solid $green-border;
    border-radius: 3px;
    &.error {
    	background: $red-back;
		border: 1px solid red;
		color:$grey-light;
    }
}

.error-space-2{
    display: table;
    margin: 35px auto 0 auto;
    padding: 8px 50px;
    background: $red-light;
    color: $red-back;
    border: 1px solid $red-back;
    border-radius: 3px;
    &.error {
    	background: $red-back;
		border: 1px solid red;
		color:$grey-light;
    }
}

#error-andamiaje, #error-consigna, #error-select-tipo-actividad, #error-oracion{
    display: table;
    margin: 35px auto 0 auto;
    padding: 8px 50px;
    border-radius: 3px;
    color: #ee597b;
    margin-bottom: 50px;
}

.legend{
    margin: 35px auto 0 auto;
    padding: 8px 50px;
    background: $green-back;
    color: $green-font;
    border: 1px solid $green-border;
    border-radius: 3px;
    text-align: center;
    @include box-sizing(border-box); 
    &.error {
    	background: $red-back;
		border: 1px solid red;
		color:$grey-light;
    }
}

.btn-wrapper{
	&.load-exercise{
		margin-bottom:50px;
		.another-item{
			background-color:$grey-dark;
			margin-right:20px;
		}
	}
}

#div-buttons-load-ex {
    padding-top: 500px;
}