#toolbar{
	background-color:$blue-dark;
  height: 100vh;
	color:$grey-light;
	font-size:0.75em;
  width: 240px;
  max-width: 350px;
  float:right;
	box-sizing:border-box;
  overflow-y: scroll;
  position: relative;
  right: 0;
  top:0;
  z-index: 5;
  ul{
		li{
			border-top:1px solid rgba(179, 213, 239, 0.2);
			border-bottom:1px solid $blue-darker;
			float:left;
			width:100%;
			@include box-sizing(border-box);
			color:$grey-light;
			@include transition-property(all);
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);
			cursor:pointer;
			&:hover{
				color:white;
			}
		}
	}
	h1{
	    font-size: 1.5em;
	    padding: 30px 20px 50px 20px;
	    border-bottom:2px solid $blue-darker;
	}
	.empty-space{
		width:100%;
		height:30px;
		border-top:1px solid rgba(179, 213, 239, 0.2);
	}
}

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-accordion-menu {
  width: 100%;
  max-width: 600px;
  letter-spacing: 1px;
}

.cd-accordion-menu a.selected{
	color:#fca342;
}

.cd-accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
}
.cd-accordion-menu li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cd-accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}
.cd-accordion-menu label, .cd-accordion-menu a {
  position: relative;
  display: block;
  color: #ffffff;
  padding: 10px 15px;
  text-transform: uppercase;
}
.cd-accordion-menu label::before{
  /* icons */
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-accordion-menu label {
  cursor: pointer;
  padding: 10px 15px;
  text-transform:uppercase;
}

.cd-accordion-menu > .has-children label:hover {
  background-color:#3C5261;
}

.cd-accordion-menu > li > a:hover {
  background-color:#3C5261;
}

.cd-accordion-menu label::before{
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
}
.cd-accordion-menu label::before {
  /* arrow icon */
  background-position: 2px 1px;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.cd-accordion-menu label::after {
  /* folder icons */
  left: 41px;
  background-position: -16px 0;
}
.cd-accordion-menu a::after {
  /* image icon */
  left: 36px;
  background: url(../img/arrow.png) no-repeat -48px 0;
}
.cd-accordion-menu input[type=checkbox]:checked + label::before {
  /* rotate arrow */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-accordion-menu input[type=checkbox]:checked + label::after {
  /* show open folder icon if item is checked */
  background-position: -32px 0;
}
.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}
#toolbar .cd-accordion-menu .has-children ul li{
	background-color:#25373f;
	border:none;
}

.cd-accordion-menu ul label,
.cd-accordion-menu ul a {
  padding-left: 82px;
}
.no-touch .cd-accordion-menu ul label:hover, .no-touch
.cd-accordion-menu ul a:hover {
  background: #2B3E46;
}
.cd-accordion-menu > li:last-of-type > label,
.cd-accordion-menu > li:last-of-type > a,
.cd-accordion-menu > li > ul > li:last-of-type label,
.cd-accordion-menu > li > ul > li:last-of-type a {
  box-shadow: none;
}
.cd-accordion-menu ul label::after,
.cd-accordion-menu ul a::after {
  left: 59px;
}
.cd-accordion-menu ul ul label,
.cd-accordion-menu ul ul a {
  padding-left: 100px;
}
.cd-accordion-menu ul ul label::after,
.cd-accordion-menu ul ul a::after {
  left: 77px;
}
.cd-accordion-menu ul ul ul label,
.cd-accordion-menu ul ul ul a {
  padding-left: 118px;
}
.cd-accordion-menu ul ul ul label::before {
  right:15px;
}
.cd-accordion-menu ul ul ul label::after,
.cd-accordion-menu ul ul ul a::after {
  left: 95px;
}
@media only screen and (min-width: 600px) {
  .cd-accordion-menu label::before {
    right: 15px;
  }
  .cd-accordion-menu label::after {
    left: 53px;
  }
  .cd-accordion-menu ul label,
  .cd-accordion-menu ul a {
    padding: 10px 0 10px 30px;
    text-transform: initial;
  }
  .cd-accordion-menu ul label::after,
  .cd-accordion-menu ul a::after {
    left: 77px;
  }
  .cd-accordion-menu ul ul label,
  .cd-accordion-menu ul ul a {
    padding:10px 15px 10px 45px;
  }
  .cd-accordion-menu ul ul label::after,
  .cd-accordion-menu ul ul a::after {
    left: 101px;
  }
  .cd-accordion-menu ul ul ul label,
  .cd-accordion-menu ul ul ul a {
    padding-left: 60px;
  }
  .cd-accordion-menu ul ul ul ul a {
    padding-left: 75px;
  }
  .cd-accordion-menu ul ul ul label::after,
  .cd-accordion-menu ul ul ul a::after {
    left: 125px;
  }
}
.cd-accordion-menu.animated label::before {
  /* this class is used if you're using jquery to animate the accordion */
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}