{% load i18n %}
{% load account %}

{% user_display user as user_display %}
<!--<p><strong>{% trans "Note" %}:</strong> {% blocktrans %}you are already logged in as {{ user_display }}.{% endblocktrans %}</p>-->
