{% extends "base.html" %}

{% block content %}

    <div class="wrapper-centered">
        <div id="group-box">
            <div class="title">
                {{ curso.nombre }}
                <div class="subtitle">
                    Carpetas
                </div>
            </div>
            {% if carpetas %}
                <ul class="group-item">
                    {% for carpeta in carpetas.all %}
                        <li>
                            <a href="{% url 'estudiante_ejercicios' carpeta.id %}">
                                <ul>
                                    <li class="number">{{ forloop.counter }}</li>
                                    <li class="curso">{{ carpeta.nombre }}</li>
                                </ul>
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    No hay carpetas.
                {% endif %}
            </ul>
        </div>
        <a href="{% url 'estudiante_cursos' %}"><button id="boton-volver-materias">Volver a mis materias</button></a>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            set_background_color();
        });
    </script>

{% endblock %}
