{% extends "base.html" %}

{% block content %}

    <div class="wrapper-centered">
        <div id="group-box">
            <div class="title">
                Mis materias
            </div>
            <ul class="group-item">
                {% for curso in cursos.all %}
                    <li id="li-{{ curso.id }}">
                        <ul>
                            <a href="{% url 'estudiante_carpetas' curso.id %}"><li class="number">{{ forloop.counter }}</li></a>
                            <a href="{% url 'estudiante_carpetas' curso.id %}"><li class="curso" id="curso-nombre-{{ curso.id }}">{{ curso.nombre }}</li></a>
                            <li class="turno-center">{{ curso.code }}</li>
                        </ul>
                    </li>
                {% endfor %}

                {% if cursos.count == 0 %}
                    Todavía no te uniste a ninguna materia
                {% endif %}
            </ul>
        </div>
        <button id="boton-unirme-materia">Unirme a una materia</button>
    </div>

    <div class="modal folder unirme-materia" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="sprite close-modal"></div>
                </div>
                <span class="title">
                    Unirme a una nueva materia    
                    <span class="subtitle">
                        Completá el código de materia a la que te querés unir
                    </span>
                </span>
                <input type="text" id="curso-code">
                <div class="error-space error-visible"></div>
                <button id="boton-unirme" onclick="unirme_materia();">Unirme</button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            set_background_color();
            init_modal_unirme_materia();
        });
    </script>

{% endblock %}
