{% extends "base.html" %}

{% block content %}

    <div class="wrapper-centered">
        <div id="group-box">
            <div class="title">
                {{ carpeta.curso.nombre }}
                <div class="subtitle">
                    Ejercicios
                    <div class="folder-in">
                        {{ carpeta.nombre }}
                        <div class="sprite folder"></div>
                    </div>
                </div>
            </div>
            <ul class="group-item">
                {% for ejercicio in ejercicios %}
                    <li>
                        <ul>
                            <a href="{% url 'ejercicio_general' ejercicio.id 0 %}"><li class="number">{{ forloop.counter }}</li></a>
                            <a href="{% url 'ejercicio_general' ejercicio.id 0 %}"><li class="curso">{{ ejercicio.nombre }}</li></a>
                            <li class="sprite status {{ ejercicio.estado_resolucion_ejercicio }}"></li>
                        </ul>
                    </li>
                {% endfor %}

                {% if ejercicios.count == 0 %}
                    Carpeta vacía
                {% endif %}
            </ul>
        </div>
        <a href="{% url 'estudiante_carpetas' carpeta.curso.id %}" style="padding-left: 7px;">
            <button id="boton-atras">Atrás</button>
        </a>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            set_background_color();
        });
    </script>

{% endblock %}
